
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604530860771443371.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604530860771443371.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-604530860771443371.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604530860771443371.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604530860771443371.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604530860771443371.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-604530860771443371.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604530860771443371.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604530860771443371.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604530860771443371.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604530860771443371.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-604530860771443371.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604530860771443371.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-604530860771443371.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604530860771443371.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604530860771443371.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-604530860771443371.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604530860771443371.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-604530860771443371.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604530860771443371.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604530860771443371.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604530860771443371.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-604530860771443371.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604530860771443371.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-604530860771443371.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604530860771443371.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-604530860771443371.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604530860771443371.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604530860771443371.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604530860771443371.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604530860771443371.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604530860771443371.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604530860771443371.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604530860771443371.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604530860771443371.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-604530860771443371.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604530860771443371.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604530860771443371.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604530860771443371.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604530860771443371.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-604530860771443371.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-604530860771443371.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604530860771443371.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604530860771443371.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604530860771443371.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604530860771443371.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604530860771443371.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604530860771443371.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604530860771443371.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604530860771443371.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-604530860771443371.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604530860771443371.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604530860771443371.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-604530860771443371.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-604530860771443371.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604530860771443371.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-604530860771443371.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-604530860771443371.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-604530860771443371.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-604530860771443371.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604530860771443371.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604530860771443371.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604530860771443371.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-604530860771443371.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-604530860771443371.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604530860771443371.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604530860771443371.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604530860771443371.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604530860771443371.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-604530860771443371.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-604530860771443371.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-604530860771443371.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-604530860771443371.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-604530860771443371.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-604530860771443371.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604530860771443371.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604530860771443371.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604530860771443371.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-604530860771443371.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604530860771443371.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-604530860771443371.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-604530860771443371.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-604530860771443371.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-604530860771443371.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604530860771443371.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604530860771443371.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604530860771443371.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604530860771443371.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-604530860771443371.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604530860771443371.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-604530860771443371.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-604530860771443371.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-604530860771443371.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-604530860771443371 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-604530860771443371 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-604530860771443371 .gp-invisible{visibility:hidden}.gps-604530860771443371 .gp-absolute{position:absolute}.gps-604530860771443371 .gp-relative{position:relative}.gps-604530860771443371 .gp-inset-0{inset:0}.gps-604530860771443371 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-604530860771443371 .gp-top-0{top:0}.gps-604530860771443371 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-604530860771443371 .-gp-z-1{z-index:-1}.gps-604530860771443371 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604530860771443371 .gp-mb-0{margin-bottom:0}.gps-604530860771443371 .gp-flex{display:flex}.gps-604530860771443371 .gp-inline-flex{display:inline-flex}.gps-604530860771443371 .gp-grid{display:grid}.gps-604530860771443371 .\!gp-hidden{display:none!important}.gps-604530860771443371 .gp-hidden{display:none}.gps-604530860771443371 .gp-h-full{height:100%}.gps-604530860771443371 .gp-w-full{width:100%}.gps-604530860771443371 .gp-max-w-full{max-width:100%}.gps-604530860771443371 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604530860771443371 .gp-flex-col{flex-direction:column}.gps-604530860771443371 .gp-items-center{align-items:center}.gps-604530860771443371 .gp-justify-center{justify-content:center}.gps-604530860771443371 .\!gp-self-center{align-self:center!important}.gps-604530860771443371 .gp-self-center{align-self:center}.gps-604530860771443371 .gp-overflow-hidden{overflow:hidden}.gps-604530860771443371 .gp-break-words{overflow-wrap:break-word}.gps-604530860771443371 .gp-text-center{text-align:center}.gps-604530860771443371 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-604530860771443371 .gp-no-underline{text-decoration-line:none}.gps-604530860771443371 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604530860771443371 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604530860771443371 .gp-duration-200{transition-duration:.2s}.gps-604530860771443371 .gp-duration-300{transition-duration:.3s}.gps-604530860771443371 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604530860771443371 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-604530860771443371 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-604530860771443371 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-604530860771443371 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-604530860771443371 .tablet\:\!gp-relative{position:relative!important}.gps-604530860771443371 .tablet\:\!gp-hidden{display:none!important}.gps-604530860771443371 .tablet\:gp-hidden{display:none}.gps-604530860771443371 .tablet\:gp-justify-center{justify-content:center}.gps-604530860771443371 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-604530860771443371 .mobile\:\!gp-relative{position:relative!important}.gps-604530860771443371 .mobile\:\!gp-hidden{display:none!important}.gps-604530860771443371 .mobile\:gp-hidden{display:none}.gps-604530860771443371 .mobile\:\!gp-h-auto{height:auto!important}.gps-604530860771443371 .mobile\:gp-justify-center{justify-content:center}.gps-604530860771443371 .mobile\:\!gp-self-center{align-self:center!important}}.gps-604530860771443371 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-604530860771443371 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF7F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtr2dHJTEK"}' data-id="gtr2dHJTEK" id="gtr2dHJTEK" data-same-height-subgrid-container class="gtr2dHJTEK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--mt-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:80px;--pl-tablet:0px;--pb-tablet:80px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFF7F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvBLhpnGnz gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"HeroBanner","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
      <gp-hero-banner
        
        data-id="gO_3djyy9r"
        class="gO_3djyy9r gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--mb-tablet:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100vh;--h-tablet:100vh;--h-mobile:292px"
        gp-data='{"background":{"desktop":{"attachment":"scroll","image":{"src":"{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}","width":3858,"height":2048,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-48179227-90a7-4766-8297-7c5ae79aab60.png"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoAlign":"center","videoHtml5":"","videoType":"youtube"},"tablet":{"attachment":"scroll","image":{"src":"{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}","width":3858,"height":2048,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-48179227-90a7-4766-8297-7c5ae79aab60.png"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoAlign":"center","videoHtml5":"","videoType":"youtube"},"mobile":{"attachment":"scroll","image":{"src":"{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}","width":3858,"height":2048,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-48179227-90a7-4766-8297-7c5ae79aab60.png"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoAlign":"center","videoHtml5":"","videoType":"youtube"}},"uid":"gO_3djyy9r","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[6,6],"display":"fill","type":"left"},"mobile":{"cols":[6,6],"display":"fill","type":"left"}},"contentPosition1Col":{"desktop":"top","mobile":"top"},"contentPosition2Col":{"desktop":"center","mobile":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"customShapeValue":"","enableVideoShape":false,"gap":"","height":"100vh","shape":"custom","shapeLinked":false,"shapeVideo":"16/9","width":"100%","widthHeightLinked":false,"shapeValue":""},"tablet":{"customShapeValue":"","enableVideoShape":false,"gap":"","height":"100vh","shape":"custom","shapeLinked":false,"shapeValue":"","shapeVideo":"16/9","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"","enableVideoShape":false,"gap":"","height":"292px","shape":"custom","shapeLinked":false,"shapeValue":"","shapeVideo":"custom","width":"100%","widthHeightLinked":false}},"videoObjectFit":{"desktop":"cover","tablet":"cover","mobile":"cover"},"target":"_self","href":"","linkType":"","hoverEffectDuration":"0.5s","isYoutubeVideoMigrated":false}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:100vh;--h-tablet:100vh;--h-mobile:292px">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggO_3djyy9r_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggO_3djyy9r_background_desktop_image_src }});--bgi-mobile:url({{ section.settings.ggO_3djyy9r_background_desktop_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300" style="--bgc:#121212;--op:10%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined undefined mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0;--o-mobile:0"
      class="gM2Hc0w81a gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g8VFP2AWH- gp-custom-code">
      <div>
    <style>
@media screen and (max-width: 767px) {
  .gzFIUUfkNQ {
    font-size: 26px !important;
    line-height: 1.1 !important;
    display: block !important;
    width: 100% !important;
    padding: 0 10px !important;
  }
}
</style>
    </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g96Pww7Qac"
        class="g96Pww7Qac"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--pl:15px;--pr:26px;--mb-tablet:var(--g-s-l);--pl-tablet:15px;--pr-tablet:26px;--mt-mobile:-21px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:2px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:89%;--w-tablet:89%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:left;--size:40px;--size-tablet:46px;--size-mobile:25px;--c:#424438;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg96Pww7Qac_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnYzFQveey"
        class="gnYzFQveey"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--pl:21px;--pr:69px;--mt-tablet:0px;--mb-tablet:0px;--pl-tablet:21px;--pr-tablet:69px;--mt-mobile:0px;--mb-mobile:0px;--pl-mobile:21px;--pr-mobile:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:91%;--w-tablet:91%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:21px;--size-tablet:16px;--size-mobile:10px;--c:#4F4D4D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnYzFQveey_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self"}}'
      style="--pos:relative;--left:-47px;--left-mobile:-8px"
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:23px;--mb:0px;--mt-tablet:23px;--mb-tablet:0px;--mt-mobile:23px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--op:100%;--ta:center" >
        <style>[data-id="gL6pxba7wB"].gp-button-base::before, [data-id="gL6pxba7wB-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 39px;
      border-bottom-right-radius: 39px;
      border-top-left-radius: 39px;
      border-top-right-radius: 39px;
      
  
    }
  
      
  [data-id="gL6pxba7wB"]:hover::before, [data-id="gL6pxba7wB-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gL6pxba7wB" dataId="gL6pxba7wB" data-state="idle" aria-label="<p>Get Your REVIV</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:12px;--pb-mobile:12px;--bblr:39px;--bbrr:39px;--btlr:39px;--btrr:39px;--hvr-bblr:39px;--hvr-bbrr:39px;--hvr-btlr:39px;--hvr-btrr:39px;--bgi:;--hvr-bgi:;--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:11px"
          class="gL6pxba7wB gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:16px;--size-tablet:16px;--size-mobile:11px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggL6pxba7wB_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g5clLToD3l gp-custom-code">
      <div>
    <style>
@media screen and (max-width: 767px) {
  .gzFIUUfkNQ {
    font-size: 26px !important;
    line-height: 1.1 !important;
    display: block !important;
    width: 100% !important;
    padding: 0 10px !important;
  }
}
</style>
    </div>
    </div>
  
      <style id="custom-css-g5clLToD3l">
        @media only screen and (max-width: 768px) {
  .your-headline-class {
    font-size: 24px !important;
    line-height: 1.2 !important;
    text-align: center !important;
  }
}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:1;--o-mobile:1"
      class="gtxMVhaaaJ gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" srcset="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" srcset="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" data-src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:100vh;--h-tablet:100vh;--h-mobile:292px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-604530860771443371 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604530860670059179&sectionId=604530860771443371)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggO_3djyy9r_background_desktop_image_src","label":"ggO_3djyy9r_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/8635aa69bd97693e824c755dd8b53e908dc0667b.png"},{"type":"html","id":"gg96Pww7Qac_text","label":"gg96Pww7Qac_text","default":"<strong>Support Your Back, Starting From Your Jaw</strong>"},{"type":"html","id":"ggnYzFQveey_text","label":"ggnYzFQveey_text","default":"<p>Supporting tension in the jaw may influence how the rest of the body feels</p>"},{"type":"html","id":"ggL6pxba7wB_label","label":"ggL6pxba7wB_label","default":"<p>Get Your REVIV</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}