
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610919919768306195.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610919919768306195.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-610919919768306195.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610919919768306195.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610919919768306195.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610919919768306195.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-610919919768306195.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610919919768306195.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610919919768306195.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610919919768306195.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610919919768306195.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-610919919768306195.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610919919768306195.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-610919919768306195.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610919919768306195.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610919919768306195.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-610919919768306195.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610919919768306195.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-610919919768306195.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-610919919768306195.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-610919919768306195.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610919919768306195.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610919919768306195.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-610919919768306195.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610919919768306195.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-610919919768306195.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610919919768306195.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-610919919768306195.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610919919768306195.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-610919919768306195.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610919919768306195.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610919919768306195.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-610919919768306195.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-610919919768306195.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-610919919768306195.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610919919768306195.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610919919768306195.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610919919768306195.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-610919919768306195.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-610919919768306195.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-610919919768306195.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610919919768306195.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610919919768306195.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-610919919768306195.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-610919919768306195.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-610919919768306195.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-610919919768306195.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610919919768306195.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610919919768306195.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610919919768306195.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610919919768306195.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610919919768306195.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610919919768306195.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610919919768306195.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610919919768306195.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610919919768306195.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610919919768306195.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-610919919768306195.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-610919919768306195.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610919919768306195.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-610919919768306195.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-610919919768306195.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-610919919768306195.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-610919919768306195.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-610919919768306195.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-610919919768306195.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-610919919768306195.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-610919919768306195.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-610919919768306195.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610919919768306195.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610919919768306195.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610919919768306195.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610919919768306195.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-610919919768306195.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-610919919768306195.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-610919919768306195.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-610919919768306195.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-610919919768306195.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-610919919768306195.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-610919919768306195.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-610919919768306195.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-610919919768306195.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-610919919768306195.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-610919919768306195.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610919919768306195.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610919919768306195.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610919919768306195.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610919919768306195.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-610919919768306195.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-610919919768306195.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-610919919768306195.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-610919919768306195 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-610919919768306195 .gp-relative{position:relative}.gps-610919919768306195 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610919919768306195 .gp-mb-0{margin-bottom:0}.gps-610919919768306195 .gp-inline-block{display:inline-block}.gps-610919919768306195 .gp-flex{display:flex}.gps-610919919768306195 .gp-inline-flex{display:inline-flex}.gps-610919919768306195 .gp-grid{display:grid}.gps-610919919768306195 .gp-contents{display:contents}.gps-610919919768306195 .\!gp-hidden{display:none!important}.gps-610919919768306195 .gp-hidden{display:none}.gps-610919919768306195 .gp-h-auto{height:auto}.gps-610919919768306195 .gp-h-full{height:100%}.gps-610919919768306195 .gp-w-full{width:100%}.gps-610919919768306195 .gp-max-w-full{max-width:100%}.gps-610919919768306195 .gp-flex-none{flex:none}.gps-610919919768306195 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610919919768306195 .gp-flex-col{flex-direction:column}.gps-610919919768306195 .gp-items-center{align-items:center}.gps-610919919768306195 .gp-justify-center{justify-content:center}.gps-610919919768306195 .gp-overflow-hidden{overflow:hidden}.gps-610919919768306195 .gp-break-words{overflow-wrap:break-word}.gps-610919919768306195 .gp-text-center{text-align:center}.gps-610919919768306195 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-610919919768306195 .gp-no-underline{text-decoration-line:none}.gps-610919919768306195 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610919919768306195 .gp-duration-200{transition-duration:.2s}.gps-610919919768306195 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610919919768306195 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-610919919768306195 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-610919919768306195 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-610919919768306195 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-610919919768306195 .tablet\:\!gp-hidden{display:none!important}.gps-610919919768306195 .tablet\:gp-hidden{display:none}.gps-610919919768306195 .tablet\:gp-h-auto{height:auto}.gps-610919919768306195 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-610919919768306195 .mobile\:\!gp-hidden{display:none!important}.gps-610919919768306195 .mobile\:gp-hidden{display:none}.gps-610919919768306195 .mobile\:gp-h-auto{height:auto}.gps-610919919768306195 .mobile\:gp-flex-none{flex:none}}.gps-610919919768306195 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-610919919768306195 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#232021","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g0o_9MWig1"}' data-id="g0o_9MWig1" id="g0o_9MWig1" data-same-height-subgrid-container class="g0o_9MWig1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giRn3gDQz2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g25qFyvcWs"}' data-id="g25qFyvcWs" id="g25qFyvcWs" data-same-height-subgrid-container class="g25qFyvcWs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQgjy0dIxu gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"glE1bKogKk"}' data-id="glE1bKogKk" id="glE1bKogKk" data-same-height-subgrid-container class="glE1bKogKk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:17px;--ml:-17px;--mt-tablet:17px;--ml-tablet:-17px;--mt-mobile:17px;--ml-mobile:auto;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1194px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="goOvQBw7d1 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#242424","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g08YvlOQ3p"}' data-id="g08YvlOQ3p" id="g08YvlOQ3p" data-same-height-subgrid-container class="g08YvlOQ3p gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--ml:40px;--mb:0px;--mr:auto;--pt:var(--g-s-l);--pl:0px;--pb:42px;--pr:var(--g-s-l);--ml-tablet:40px;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:var(--g-s-l);--pl-tablet:0px;--pb-tablet:42px;--pr-tablet:var(--g-s-l);--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:var(--g-s-l);--pl-mobile:0px;--pb-mobile:40px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:94%;--h:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gImnUWyZ_B gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSpq2tx18d"
        class="gSpq2tx18d"
        style="--ta:left;--mt:50px;--ml:30px;--mr:77px;--mt-tablet:50px;--ml-tablet:30px;--mr-tablet:77px;--mt-mobile:0px;--ml-mobile:15px;--mr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:33px;--size-tablet:46px;--size-mobile:19px;--c:#FFF7F0;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSpq2tx18d_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gg9RpSitZj"
        class="gg9RpSitZj"
        style="--ta:left;--mt:27px;--ml:30px;--mr:42px;--mt-tablet:27px;--ml-tablet:30px;--mr-tablet:42px;--mt-mobile:27px;--ml-mobile:24px;--mr-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggg9RpSitZj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3fA0eB8OA"
        class="g3fA0eB8OA"
        style="--ta:left;--mt:0px;--ml:30px;--mr:42px;--mt-tablet:0px;--ml-tablet:30px;--mr-tablet:42px;--mt-mobile:0px;--ml-mobile:24px;--mr-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3fA0eB8OA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gl7Xu0nzDI"
        class="gl7Xu0nzDI"
        style="--ta:left;--mt:0px;--ml:30px;--mr:42px;--mt-tablet:0px;--ml-tablet:30px;--mr-tablet:42px;--mt-mobile:0px;--ml-mobile:24px;--mr-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggl7Xu0nzDI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbr1URXY3H"
        class="gbr1URXY3H"
        style="--ta:left;--mt:0px;--ml:30px;--mr:42px;--mt-tablet:0px;--ml-tablet:30px;--mr-tablet:42px;--mt-mobile:0px;--ml-mobile:24px;--mr-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbr1URXY3H_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:26px;--ml:34px;--mt-tablet:26px;--ml-tablet:34px;--mt-mobile:26px;--ml-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center" >
        <style>[data-id="gzUN6hBiY1"].gp-button-base::before, [data-id="gzUN6hBiY1-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #DEAE40;
  
    
      border-bottom-left-radius: 38px;
      border-bottom-right-radius: 38px;
      border-top-left-radius: 38px;
      border-top-right-radius: 38px;
      
  
    }
  
      
  [data-id="gzUN6hBiY1"]:hover::before, [data-id="gzUN6hBiY1-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gzUN6hBiY1" dataId="gzUN6hBiY1" data-state="idle" aria-label="<p>Start Supporting My Back Differently</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:5px;--pb:5px;--bblr:38px;--bbrr:38px;--btlr:38px;--btrr:38px;--hvr-bblr:38px;--hvr-bbrr:38px;--hvr-btlr:38px;--hvr-btrr:38px;--bgi:;--hvr-bgi:;--bg:#00000000;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gzUN6hBiY1 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggzUN6hBiY1_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gXfvj2oGi5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"ghDA3b4XES"}' data-id="ghDA3b4XES" id="ghDA3b4XES" data-same-height-subgrid-container class="ghDA3b4XES gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:0px;--ml-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mt-mobile:0px;--ml-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gqHHoVjd-w gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gi0OPD1oAn"
      style="--mt:0px;--ml:0px;--pl:0px;--mt-tablet:0px;--ml-tablet:0px;--pl-tablet:0px;--mt-mobile:0px;--ml-mobile:0px;--pl-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1779771670708 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gi0OPD1oAn"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggi0OPD1oAn_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIyNDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzkyLTI0MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3OTIiIGhlaWdodD0iMjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIyNDAwIiBmaWxsPSJ1cmwoI2ctMTc5Mi0yNDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc5MiIgdG89IjE3OTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggi0OPD1oAn_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIyNDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzkyLTI0MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3OTIiIGhlaWdodD0iMjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIyNDAwIiBmaWxsPSJ1cmwoI2ctMTc5Mi0yNDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc5MiIgdG89IjE3OTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggi0OPD1oAn_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIyNDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzkyLTI0MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3OTIiIGhlaWdodD0iMjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIyNDAwIiBmaWxsPSJ1cmwoI2ctMTc5Mi0yNDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc5MiIgdG89IjE3OTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggi0OPD1oAn_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:60%;--h:540px;--h-tablet:540px;--h-mobile:270px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:22px;--bblr:22px;--bbrr:22px;--btlr:22px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-610919919768306195 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=610797768381825830&sectionId=610919919768306195)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggSpq2tx18d_text","label":"ggSpq2tx18d_text","default":"What Structural Support May Contribute To"},{"type":"html","id":"ggg9RpSitZj_text","label":"ggg9RpSitZj_text","default":"<p>✓ &nbsp;May help support a more relaxed upper-back feeling.</p>"},{"type":"html","id":"gg3fA0eB8OA_text","label":"gg3fA0eB8OA_text","default":"<p>✓ &nbsp;Can support a more comfortable head position.</p>"},{"type":"html","id":"ggl7Xu0nzDI_text","label":"ggl7Xu0nzDI_text","default":"<p>✓ &nbsp;Designed to encourage relaxed jaw posture</p>"},{"type":"html","id":"ggbr1URXY3H_text","label":"ggbr1URXY3H_text","default":"<p>✓ &nbsp;Built for nightly alignment consistency</p>"},{"type":"html","id":"ggzUN6hBiY1_label","label":"ggzUN6hBiY1_label","default":"<p>Start Supporting My Back Differently</p>"},{"type":"html","id":"ggi0OPD1oAn_srcSet_desktop_src","label":"ggi0OPD1oAn_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/ddcb210e99567493d475eda078d795b8896ce6c6.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}