
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604377810433540783.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604377810433540783.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604377810433540783.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604377810433540783.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604377810433540783.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604377810433540783.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604377810433540783.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604377810433540783.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604377810433540783.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604377810433540783.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604377810433540783.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604377810433540783.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604377810433540783.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604377810433540783.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604377810433540783.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604377810433540783.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604377810433540783.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604377810433540783.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604377810433540783.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604377810433540783.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604377810433540783.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604377810433540783.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604377810433540783.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-604377810433540783.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604377810433540783.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604377810433540783.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604377810433540783.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604377810433540783.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604377810433540783.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604377810433540783.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-604377810433540783.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-604377810433540783.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-604377810433540783.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604377810433540783.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604377810433540783.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604377810433540783.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604377810433540783.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604377810433540783.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604377810433540783.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604377810433540783.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604377810433540783.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604377810433540783.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604377810433540783.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604377810433540783.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-604377810433540783.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-604377810433540783.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604377810433540783.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-604377810433540783.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-604377810433540783.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-604377810433540783.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604377810433540783.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604377810433540783.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604377810433540783.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-604377810433540783.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-604377810433540783.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-604377810433540783.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604377810433540783.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604377810433540783.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-604377810433540783.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-604377810433540783.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-604377810433540783.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604377810433540783.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604377810433540783.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604377810433540783.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604377810433540783.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-604377810433540783.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604377810433540783.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-604377810433540783.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-604377810433540783 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-604377810433540783 .gp-relative{position:relative}.gps-604377810433540783 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604377810433540783 .gp-mb-0{margin-bottom:0}.gps-604377810433540783 .gp-flex{display:flex}.gps-604377810433540783 .gp-grid{display:grid}.gps-604377810433540783 .\!gp-hidden{display:none!important}.gps-604377810433540783 .gp-hidden{display:none}.gps-604377810433540783 .gp-max-w-full{max-width:100%}.gps-604377810433540783 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604377810433540783 .gp-flex-col{flex-direction:column}.gps-604377810433540783 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604377810433540783 .gp-duration-200{transition-duration:.2s}.gps-604377810433540783 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-604377810433540783 .tablet\:\!gp-hidden{display:none!important}.gps-604377810433540783 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-604377810433540783 .mobile\:\!gp-hidden{display:none!important}.gps-604377810433540783 .mobile\:gp-hidden{display:none}}.gps-604377810433540783 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g11b2wXC89"}' data-id="g11b2wXC89" id="g11b2wXC89" data-same-height-subgrid-container class="g11b2wXC89 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUiRbcK2cG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gn-WQE6yDd"}' data-id="gn-WQE6yDd" id="gn-WQE6yDd" data-same-height-subgrid-container class="gn-WQE6yDd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--ml-mobile:82px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaSvCDqztR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gGkbxst5r4"}' data-id="gGkbxst5r4" id="gGkbxst5r4" data-same-height-subgrid-container class="gGkbxst5r4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--ml:80px;--ml-tablet:80px;--ml-mobile:23px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXNbm-2CTw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false,"triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDhZ4fdYtb"
        class="gDhZ4fdYtb"
        style="--ta:left;--mt:50px;--ml:-90px;--mt-tablet:50px;--ml-tablet:-90px;--mt-mobile:40px;--ml-mobile:-90px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:30px;--size-tablet:46px;--size-mobile:27px;--fs:italic;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDhZ4fdYtb_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml:-102px;--ml-tablet:-102px;--ml-mobile:-102px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gaOxEcHwno gp-custom-code">
      <div>
    <div class="mini-card-sec-block">
  <h4 class="mini-title">“After 2 months: My brain fog is 80% gone. I'm thinking clearly for the first time in years."  -  Caleb</h4>
  
</div>
    </div>
    </div>
  
      <style id="custom-css-gaOxEcHwno">
        .mini-card-sec-block {
  background: #F9ECD7;
  padding: 25px 25px;

  border: 1px solid #e0e0e0;
  max-width: 280px; /* Ավելի նեղ չափս */
  margin: 10px auto;
  text-align: center;
  width: 450px;
}

.mini-title {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: left;
  font-style: italic;
  
}
.mini-title2 {
  margin: 0px 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: right;
  font-style: italic;
  padding-left: 20px;
  
}


.mini-text {
  margin: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  font-family: sans-serif;
}
@media screen and (max-width: 480px) {
  .mini-card {
    max-width: 300px !important; /* Ավելի նեղացրեցի */
    padding: 10px 15px !important; /* Վերևից ու ներքևից խիստ քչացրեցի */
    margin: 5px auto !important;
  }

  .mini-title, .mini-title2 {
    font-size: 15px !important; /* Տեքստը փոքրացրեցի */
    margin-bottom: 2px !important; /* Տողերի արանքի բացը փակեցի */
  }

  .mini-text {
    font-size: 11px !important; /* Տեքստը ավելի կոմպակտ */
    line-height: 1.1 !important;
  }
}
      </style>
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false,"triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEw2qT0mkW"
        class="gEw2qT0mkW"
        style="--ta:left;--mt:20px;--ml:-90px;--mt-tablet:20px;--ml-tablet:-90px;--mt-mobile:20px;--ml-mobile:-90px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:30px;--size-tablet:46px;--size-mobile:27px;--fs:italic;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEw2qT0mkW_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml:-102px;--ml-tablet:-102px;--ml-mobile:-102px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gwD8EHv1Rj gp-custom-code">
      <div>
    <div class="mini-card-sec-block">
  <h4 class="mini-title">“ Had TMJ pain for a decade. No pain at all now, and I can eat normally again.”  - George G.</h4>
  
</div>
    </div>
    </div>
  
      <style id="custom-css-gwD8EHv1Rj">
        .mini-card-sec-block {
  background: #F9ECD7;
  padding: 25px 25px;

  border: 1px solid #e0e0e0;
  max-width: 280px; /* Ավելի նեղ չափս */
  margin: 10px auto;
  text-align: center;
  width: 400px;
}

.mini-title {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: left;
  font-style: italic;
  
}
.mini-title2 {
  margin: 0px 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: right;
  font-style: italic;
  padding-left: 20px;
  
}


.mini-text {
  margin: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  font-family: sans-serif;
}
@media screen and (max-width: 480px) {
  .mini-card {
    max-width: 300px !important; /* Ավելի նեղացրեցի */
    padding: 10px 15px !important; /* Վերևից ու ներքևից խիստ քչացրեցի */
    margin: 5px auto !important;
  }

  .mini-title, .mini-title2 {
    font-size: 15px !important; /* Տեքստը փոքրացրեցի */
    margin-bottom: 2px !important; /* Տողերի արանքի բացը փակեցի */
  }

  .mini-text {
    font-size: 11px !important; /* Տեքստը ավելի կոմպակտ */
    line-height: 1.1 !important;
  }
}
      </style>
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false,"triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gorAgLeufm"
        class="gorAgLeufm"
        style="--ta:left;--mt:20px;--ml:-90px;--mt-tablet:20px;--ml-tablet:-90px;--mt-mobile:20px;--ml-mobile:-90px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:30px;--size-tablet:46px;--size-mobile:27px;--fs:italic;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggorAgLeufm_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml:-102px;--ml-tablet:-102px;--ml-mobile:-102px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gafSX4zdNL gp-custom-code">
      <div>
    <div class="mini-card-sec-block">
  <h4 class="mini-title">“ My recovery is faster, my energy is higher, and I'm training harder than I have in 10 years.”  - Erika G.</h4>
  
</div>
    </div>
    </div>
  
      <style id="custom-css-gafSX4zdNL">
        .mini-card-sec-block {
  background: #F9ECD7;
  padding: 25px 25px;

  border: 1px solid #e0e0e0;
  max-width: 280px; /* Ավելի նեղ չափս */
  margin: 10px auto;
  text-align: center;
  width: 400px;
}

.mini-title {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: left;
  font-style: italic;
  
}
.mini-title2 {
  margin: 0px 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: right;
  font-style: italic;
  padding-left: 20px;
  
}


.mini-text {
  margin: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  font-family: sans-serif;
}
@media screen and (max-width: 480px) {
  .mini-card {
    max-width: 300px !important; /* Ավելի նեղացրեցի */
    padding: 10px 15px !important; /* Վերևից ու ներքևից խիստ քչացրեցի */
    margin: 5px auto !important;
  }

  .mini-title, .mini-title2 {
    font-size: 15px !important; /* Տեքստը փոքրացրեցի */
    margin-bottom: 2px !important; /* Տողերի արանքի բացը փակեցի */
  }

  .mini-text {
    font-size: 11px !important; /* Տեքստը ավելի կոմպակտ */
    line-height: 1.1 !important;
  }
}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gz5ivj4e40 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out","triggerAnimationOption":"once"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"right","isCustomDistance":false,"distance":"50","triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwpZC6W1Pf"
        class="gwpZC6W1Pf"
        style="--ta:left;--mt:50px;--ml:-35px;--mt-tablet:50px;--ml-tablet:-35px;--mt-mobile:-2px;--ml-mobile:-100px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:30px;--size-tablet:46px;--size-mobile:27px;--fs:italic;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwpZC6W1Pf_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml:-40px;--mr:0px;--ml-tablet:-40px;--mr-tablet:0px;--ml-mobile:-101px;--mr-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gDIPd854HB gp-custom-code">
      <div>
    <div class="mini-card-sec-block">
  <h4 class="mini-title">“ Dropped my CPAP pressure by 25% in just one week. Now sleeping deeper than ever.” - Will S.</h4>
  
</div>
    </div>
    </div>
  
      <style id="custom-css-gDIPd854HB">
        .mini-card-sec-block {
  background: #F9ECD7;
  
padding: 25px 25px;
  border: 1px solid #e0e0e0;
  max-width: 290px; /* Ավելի նեղ չափս */
  margin: 10px auto;
  text-align: center;
  width: 400px;
}

.mini-title {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: left;
  font-style: italic;
  
}
.mini-title2 {
  margin: 0px 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: right;
  font-style: italic;
  padding-left: 20px;
  
}


.mini-text {
  margin: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  font-family: sans-serif;
}
@media screen and (max-width: 480px) {
  .mini-card {
    max-width: 300px !important; /* Ավելի նեղացրեցի */
    padding: 10px 15px !important; /* Վերևից ու ներքևից խիստ քչացրեցի */
    margin: 5px auto !important;
  }

  .mini-title, .mini-title2 {
    font-size: 15px !important; /* Տեքստը փոքրացրեցի */
    margin-bottom: 2px !important; /* Տողերի արանքի բացը փակեցի */
  }

  .mini-text {
    font-size: 11px !important; /* Տեքստը ավելի կոմպակտ */
    line-height: 1.1 !important;
  }
}
      </style>
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"right","isCustomDistance":false,"distance":"50","triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcsA15yP7T"
        class="gcsA15yP7T"
        style="--ta:left;--mt:20px;--ml:-35px;--mt-tablet:20px;--ml-tablet:-35px;--mt-mobile:20px;--ml-mobile:-104px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:30px;--size-tablet:46px;--size-mobile:27px;--fs:italic;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcsA15yP7T_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml:-40px;--ml-tablet:-40px;--ml-mobile:-104px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gDc1d6ZgwQ gp-custom-code">
      <div>
    <div class="mini-card-sec-block">
  <h4 class="mini-title">“ I look visibly younger. People are asking what I changed. It's my structure.”  - Mary S.</h4>
  
</div>
    </div>
    </div>
  
      <style id="custom-css-gDc1d6ZgwQ">
        .mini-card-sec-block {
  background: #F9ECD7;
  padding: 25px 25px;

  border: 1px solid #e0e0e0;
  max-width: 280px; /* Ավելի նեղ չափս */
  margin: 10px auto;
  text-align: center;
  width: 400px;
}

.mini-title {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: left;
  font-style: italic;
  
}
.mini-title2 {
  margin: 0px 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: right;
  font-style: italic;
  padding-left: 20px;
  
}


.mini-text {
  margin: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  font-family: sans-serif;
}
@media screen and (max-width: 480px) {
  .mini-card {
    max-width: 300px !important; /* Ավելի նեղացրեցի */
    padding: 10px 15px !important; /* Վերևից ու ներքևից խիստ քչացրեցի */
    margin: 5px auto !important;
  }

  .mini-title, .mini-title2 {
    font-size: 15px !important; /* Տեքստը փոքրացրեցի */
    margin-bottom: 2px !important; /* Տողերի արանքի բացը փակեցի */
  }

  .mini-text {
    font-size: 11px !important; /* Տեքստը ավելի կոմպակտ */
    line-height: 1.1 !important;
  }
}
      </style>
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"right","isCustomDistance":false,"distance":"50","triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grwWmtvQvR"
        class="grwWmtvQvR"
        style="--ta:left;--mt:46px;--ml:-33px;--pt:0px;--mt-tablet:46px;--ml-tablet:-33px;--pt-tablet:0px;--mt-mobile:40px;--ml-mobile:-84px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:30px;--size-tablet:46px;--size-mobile:27px;--fs:italic;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrwWmtvQvR_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml:-41px;--ml-tablet:-41px;--ml-mobile:-100px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g0WBy0v1-Q gp-custom-code">
      <div>
    <div class="mini-card-sec-block">
  <h4 class="mini-title">“ My anxiety dropped dramatically. I feel calm and present in a way I haven't in years.”  - Nathan W.</h4>
  
</div>
    </div>
    </div>
  
      <style id="custom-css-g0WBy0v1-Q">
        .mini-card-sec-block {
  background: #F9ECD7;
  padding: 25px 25px;

  border: 1px solid #e0e0e0;
  max-width: 280px; /* Ավելի նեղ չափս */
  margin: 10px auto;
  text-align: center;
  width: 400px;
}

.mini-title {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: left;
  font-style: italic;
  
}
.mini-title2 {
  margin: 0px 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: right;
  font-style: italic;
  padding-left: 20px;
  
}


.mini-text {
  margin: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  font-family: sans-serif;
}
@media screen and (max-width: 480px) {
  .mini-card {
    max-width: 300px !important; /* Ավելի նեղացրեցի */
    padding: 10px 15px !important; /* Վերևից ու ներքևից խիստ քչացրեցի */
    margin: 5px auto !important;
  }

  .mini-title, .mini-title2 {
    font-size: 15px !important; /* Տեքստը փոքրացրեցի */
    margin-bottom: 2px !important; /* Տողերի արանքի բացը փակեցի */
  }

  .mini-text {
    font-size: 11px !important; /* Տեքստը ավելի կոմպակտ */
    line-height: 1.1 !important;
  }
}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-604377810433540783 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604377810366104239&sectionId=604377810433540783)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDhZ4fdYtb_text","label":"ggDhZ4fdYtb_text","default":"Brain Fog → Mental Clarity"},{"type":"html","id":"ggEw2qT0mkW_text","label":"ggEw2qT0mkW_text","default":"Pain → Freedom"},{"type":"html","id":"ggorAgLeufm_text","label":"ggorAgLeufm_text","default":"Athletic Performance"},{"type":"html","id":"ggwpZC6W1Pf_text","label":"ggwpZC6W1Pf_text","default":"Sleep Issues → Deep Sleep"},{"type":"html","id":"ggcsA15yP7T_text","label":"ggcsA15yP7T_text","default":"Aging → Youth"},{"type":"html","id":"ggrwWmtvQvR_text","label":"ggrwWmtvQvR_text","default":"Neurological Shift"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}