
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609724854161113673.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609724854161113673.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609724854161113673.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609724854161113673.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-609724854161113673.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609724854161113673.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609724854161113673.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609724854161113673.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-609724854161113673.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609724854161113673.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609724854161113673.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609724854161113673.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609724854161113673.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-609724854161113673.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609724854161113673.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-609724854161113673.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609724854161113673.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609724854161113673.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-609724854161113673.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609724854161113673.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-609724854161113673.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609724854161113673.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609724854161113673.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609724854161113673.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609724854161113673.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-609724854161113673.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609724854161113673.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-609724854161113673.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609724854161113673.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-609724854161113673.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609724854161113673.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609724854161113673.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609724854161113673.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-609724854161113673.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609724854161113673.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609724854161113673.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609724854161113673.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609724854161113673.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609724854161113673.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609724854161113673.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609724854161113673.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609724854161113673.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609724854161113673.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609724854161113673.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609724854161113673.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609724854161113673.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609724854161113673.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609724854161113673.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609724854161113673.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609724854161113673.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609724854161113673.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609724854161113673.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609724854161113673.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609724854161113673.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609724854161113673.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609724854161113673.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609724854161113673.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609724854161113673.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609724854161113673.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609724854161113673.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609724854161113673.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609724854161113673.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609724854161113673.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609724854161113673.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609724854161113673.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609724854161113673.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609724854161113673.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-609724854161113673.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609724854161113673.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609724854161113673.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609724854161113673.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609724854161113673.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609724854161113673.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-609724854161113673.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609724854161113673.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609724854161113673.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609724854161113673.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609724854161113673.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609724854161113673.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609724854161113673.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609724854161113673.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609724854161113673.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-609724854161113673.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609724854161113673.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609724854161113673.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609724854161113673.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609724854161113673.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609724854161113673.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609724854161113673.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609724854161113673.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609724854161113673 .gp-relative{position:relative}.gps-609724854161113673 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609724854161113673 .gp-mb-0{margin-bottom:0}.gps-609724854161113673 .gp-inline-block{display:inline-block}.gps-609724854161113673 .gp-flex{display:flex}.gps-609724854161113673 .gp-inline-flex{display:inline-flex}.gps-609724854161113673 .gp-grid{display:grid}.gps-609724854161113673 .gp-contents{display:contents}.gps-609724854161113673 .\!gp-hidden{display:none!important}.gps-609724854161113673 .gp-hidden{display:none}.gps-609724854161113673 .gp-h-auto{height:auto}.gps-609724854161113673 .gp-h-full{height:100%}.gps-609724854161113673 .gp-w-full{width:100%}.gps-609724854161113673 .gp-max-w-full{max-width:100%}.gps-609724854161113673 .gp-flex-none{flex:none}.gps-609724854161113673 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609724854161113673 .gp-flex-col{flex-direction:column}.gps-609724854161113673 .gp-items-center{align-items:center}.gps-609724854161113673 .gp-justify-center{justify-content:center}.gps-609724854161113673 .gp-overflow-hidden{overflow:hidden}.gps-609724854161113673 .gp-break-words{overflow-wrap:break-word}.gps-609724854161113673 .gp-text-center{text-align:center}.gps-609724854161113673 .gp-no-underline{text-decoration-line:none}.gps-609724854161113673 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609724854161113673 .gp-duration-200{transition-duration:.2s}.gps-609724854161113673 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609724854161113673 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609724854161113673 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609724854161113673 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609724854161113673 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609724854161113673 .tablet\:\!gp-hidden{display:none!important}.gps-609724854161113673 .tablet\:gp-hidden{display:none}.gps-609724854161113673 .tablet\:gp-h-auto{height:auto}.gps-609724854161113673 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609724854161113673 .mobile\:\!gp-hidden{display:none!important}.gps-609724854161113673 .mobile\:gp-hidden{display:none}.gps-609724854161113673 .mobile\:gp-h-auto{height:auto}.gps-609724854161113673 .mobile\:gp-flex-none{flex:none}}.gps-609724854161113673 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609724854161113673 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v17/-nFnOHM81r4j6k0gjAW3mujVU2B2K_c.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#232021","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gBeOID8U8Z"}' data-id="gBeOID8U8Z" id="gBeOID8U8Z" data-same-height-subgrid-container class="gBeOID8U8Z gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:15px;--pb:64px;--pr:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:64px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gad5iKXZ1J gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gKDSpBDQvx"}' data-id="gKDSpBDQvx" id="gKDSpBDQvx" data-same-height-subgrid-container class="gKDSpBDQvx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--h:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxeJZedaEj gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g3h56BiW0D"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1773165743156 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g3h56BiW0D"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "The_Jaw_and_Neck_Are_Biomechanically_Connected.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjMwLTYyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0idXJsKCNnLTYzMC02MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MzAiIHRvPSI2MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "The_Jaw_and_Neck_Are_Biomechanically_Connected.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjMwLTYyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0idXJsKCNnLTYzMC02MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MzAiIHRvPSI2MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "The_Jaw_and_Neck_Are_Biomechanically_Connected.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjMwLTYyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0idXJsKCNnLTYzMC02MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MzAiIHRvPSI2MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "The_Jaw_and_Neck_Are_Biomechanically_Connected.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--btrr:40px;--bblr:40px;--bbrr:40px;--btlr:40px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g3h56BiW0D">
        .g3h56BiW0D {

}
.g3h56BiW0D > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gC9j2jQYAk gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#242424","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"giAjOENkQ2"}' data-id="giAjOENkQ2" id="giAjOENkQ2" data-same-height-subgrid-container class="giAjOENkQ2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:60px;--pl:60px;--pb:60px;--pr:60px;--pt-tablet:60px;--pl-tablet:60px;--pb-tablet:60px;--pr-tablet:60px;--pt-mobile:40px;--pl-mobile:24px;--pb-mobile:40px;--pr-mobile:24px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gQzwdQ02Cs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKoRGq3lTf"
        class="gKoRGq3lTf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--mb-tablet:40px;--mb-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-DM-Serif-Display, 'DM Serif Display'), var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:42px;--size-mobile:46px;--lh:50px;--lh-tablet:130%;--lh-mobile:130%;--c:#EFEFEF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKoRGq3lTf_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1dqSw6MoW"
        class="g1dqSw6MoW"
        style="--ta:left;--mb:40px;--pt:12px;--pb:12px;--mb-tablet:40px;--pt-tablet:12px;--pb-tablet:12px;--mb-mobile:40px;--pt-mobile:12px;--pb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1dqSw6MoW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--ta:left" >
        <style>[data-id="gxs950dC1P"].gp-button-base::before, [data-id="gxs950dC1P-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ECBF7C;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gxs950dC1P"]:hover::before, [data-id="gxs950dC1P-interaction"]:hover::before {
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ECBF7C;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  }</style>
        
        <a
          data-id="gxs950dC1P" dataId="gxs950dC1P" data-state="idle" aria-label="<p>Learn How Reviv Supports Alignment</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--bgi:;--hvr-bgi:;--hvr-bg:rgba(229, 192, 133, 0.15);--bg:transparent;--hvr-c:#FFFFFF;--c:#FFFFFF;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gxs950dC1P gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggxs950dC1P_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-609724854161113673 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609711152007480311&sectionId=609724854161113673)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKoRGq3lTf_text","label":"ggKoRGq3lTf_text","default":"The Jaw and Neck Are Biomechanically Connected."},{"type":"html","id":"gg1dqSw6MoW_text","label":"gg1dqSw6MoW_text","default":"<p>Jaw positioning can influence how the head balances over the spine.<br><br>Reviv is built to support natural jaw positioning while you sleep — when your body is at rest.<br><br>Consistent nightly positioning may contribute to better alignment habits over time.</p>"},{"type":"html","id":"ggxs950dC1P_label","label":"ggxs950dC1P_label","default":"<p>Learn How Reviv Supports Alignment</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}