
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612665944988189483.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-612665944988189483.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-612665944988189483.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612665944988189483.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-612665944988189483.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612665944988189483.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612665944988189483.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612665944988189483.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-612665944988189483.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612665944988189483.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612665944988189483.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612665944988189483.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612665944988189483.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-612665944988189483.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-612665944988189483.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612665944988189483.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-612665944988189483.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-612665944988189483.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612665944988189483.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612665944988189483.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-612665944988189483.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-612665944988189483.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612665944988189483.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-612665944988189483.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-612665944988189483.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-612665944988189483.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-612665944988189483.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612665944988189483.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612665944988189483.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-612665944988189483.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-612665944988189483.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612665944988189483.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-612665944988189483.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-612665944988189483.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612665944988189483.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-612665944988189483.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-612665944988189483.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612665944988189483.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612665944988189483.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612665944988189483.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612665944988189483.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612665944988189483.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612665944988189483.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612665944988189483.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612665944988189483.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612665944988189483.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612665944988189483.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612665944988189483.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612665944988189483.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612665944988189483.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612665944988189483.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-612665944988189483.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-612665944988189483.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612665944988189483.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-612665944988189483.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-612665944988189483.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612665944988189483.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612665944988189483.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612665944988189483.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612665944988189483.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612665944988189483.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612665944988189483.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612665944988189483.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612665944988189483.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-612665944988189483.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-612665944988189483.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-612665944988189483.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612665944988189483.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-612665944988189483.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-612665944988189483.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-612665944988189483.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612665944988189483.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-612665944988189483.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-612665944988189483.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-612665944988189483.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612665944988189483.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-612665944988189483.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612665944988189483.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-612665944988189483.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-612665944988189483.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-612665944988189483.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-612665944988189483.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-612665944988189483.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612665944988189483.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612665944988189483.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-612665944988189483.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-612665944988189483.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-612665944988189483.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-612665944988189483.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-612665944988189483.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612665944988189483.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-612665944988189483.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-612665944988189483.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612665944988189483.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-612665944988189483.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-612665944988189483.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612665944988189483.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-612665944988189483.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-612665944988189483.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612665944988189483.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612665944988189483.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-612665944988189483.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-612665944988189483.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-612665944988189483.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-612665944988189483.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612665944988189483.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-612665944988189483.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-612665944988189483.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-612665944988189483 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-612665944988189483 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-612665944988189483 .gp-relative{position:relative}.gps-612665944988189483 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612665944988189483 .gp-mb-0{margin-bottom:0}.gps-612665944988189483 .gp-inline-block{display:inline-block}.gps-612665944988189483 .gp-flex{display:flex}.gps-612665944988189483 .gp-inline-flex{display:inline-flex}.gps-612665944988189483 .gp-grid{display:grid}.gps-612665944988189483 .gp-contents{display:contents}.gps-612665944988189483 .\!gp-hidden{display:none!important}.gps-612665944988189483 .gp-hidden{display:none}.gps-612665944988189483 .gp-h-auto{height:auto}.gps-612665944988189483 .gp-h-full{height:100%}.gps-612665944988189483 .gp-w-full{width:100%}.gps-612665944988189483 .gp-max-w-full{max-width:100%}.gps-612665944988189483 .gp-flex-none{flex:none}.gps-612665944988189483 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612665944988189483 .gp-flex-col{flex-direction:column}.gps-612665944988189483 .gp-items-center{align-items:center}.gps-612665944988189483 .gp-justify-center{justify-content:center}.gps-612665944988189483 .gp-overflow-hidden{overflow:hidden}.gps-612665944988189483 .gp-break-words{overflow-wrap:break-word}.gps-612665944988189483 .gp-text-center{text-align:center}.gps-612665944988189483 .gp-leading-\[0\]{line-height:0}.gps-612665944988189483 .gp-no-underline{text-decoration-line:none}.gps-612665944988189483 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612665944988189483 .gp-duration-200{transition-duration:.2s}.gps-612665944988189483 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612665944988189483 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-612665944988189483 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-612665944988189483 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-612665944988189483 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-612665944988189483 .tablet\:\!gp-hidden{display:none!important}.gps-612665944988189483 .tablet\:gp-hidden{display:none}.gps-612665944988189483 .tablet\:gp-h-auto{height:auto}.gps-612665944988189483 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-612665944988189483 .mobile\:\!gp-hidden{display:none!important}.gps-612665944988189483 .mobile\:gp-hidden{display:none}.gps-612665944988189483 .mobile\:gp-h-auto{height:auto}.gps-612665944988189483 .mobile\:gp-flex-none{flex:none}}.gps-612665944988189483 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-612665944988189483 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-612665944988189483 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-612665944988189483 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-612665944988189483 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-612665944988189483 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#232021","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g1hLujxqEF"}' data-id="g1hLujxqEF" id="g1hLujxqEF" data-same-height-subgrid-container class="g1hLujxqEF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--mt:-20px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--mt-tablet:-20px;--pt-tablet:var(--g-s-2xl);--pb-tablet:var(--g-s-2xl);--mt-mobile:-20px;--pt-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glG30Rmn4p gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gLE9PIfPw9"}' data-id="gLE9PIfPw9" id="gLE9PIfPw9" data-same-height-subgrid-container class="gLE9PIfPw9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g83qCdYTDX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g73Mc9Gtd7"}' data-id="g73Mc9Gtd7" id="g73Mc9Gtd7" data-same-height-subgrid-container class="g73Mc9Gtd7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px 0px 0px 0px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOodiCDHXY gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gaOytZ3tv5"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1779771690343 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gaOytZ3tv5"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggaOytZ3tv5_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggaOytZ3tv5_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggaOytZ3tv5_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggaOytZ3tv5_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:566/453;--aspect-tablet:566/453;--aspect-mobile:566/453;--objf:cover;--w:566px;--w-tablet:566px;--w-mobile:566px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:34px;--bblr:34px;--bbrr:34px;--btlr:34px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g_sfg5u0Xg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAsplfkr4H"
        class="gAsplfkr4H"
        style="--ta:left;--mt:50px;--ml:50px;--mr:171px;--mt-tablet:50px;--ml-tablet:50px;--mr-tablet:171px;--mt-mobile:40px;--ml-mobile:24px;--mr-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:30px;--size-tablet:46px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAsplfkr4H_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsLgYHWb8L"
        class="gsLgYHWb8L"
        style="--ta:left;--mt:15px;--ml:50px;--mr:78px;--mt-tablet:15px;--ml-tablet:50px;--mr-tablet:78px;--mt-mobile:15px;--ml-mobile:24px;--mr-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#E9E9E9;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsLgYHWb8L_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"go1acpprZg"}' data-id="go1acpprZg" id="go1acpprZg" data-same-height-subgrid-container class="go1acpprZg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvvXQaeoZS gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gejyPuM5tz" class="gp-leading-[0] gejyPuM5tz" style="--mt:17px;--ml:51px;--mt-tablet:17px;--ml-tablet:51px;--mt-mobile:17px;--ml-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="gejyPuM5tz" class="icon-wrapper gp-inline-flex gp-overflow-hidden gejyPuM5tz " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--focus-bblr:16px;--focus-bbrr:16px;--focus-btlr:16px;--focus-btrr:16px;-undefined-bblr:16px;-undefined-bbrr:16px;-undefined-btlr:16px;-undefined-btrr:16px;--bg:#ECBF7C;--shadow:none">
      
        <div >
          <span style="--c:#151515;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="check-circle-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gzXtQxTBg8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1BXTYXw3c"
        class="g1BXTYXw3c"
        style="--ta:left;--mt:10px;--ml:-214px;--mt-tablet:10px;--ml-tablet:-214px;--mt-mobile:10px;--ml-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos-mobile:relative;--top-mobile:-45px;--right-mobile:-53px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:14px;--c:#E9E9E9;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1BXTYXw3c_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"ghc0Y-OwwH"}' data-id="ghc0Y-OwwH" id="ghc0Y-OwwH" data-same-height-subgrid-container class="ghc0Y-OwwH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:-10px;--mt-tablet:-10px;--mt-mobile:-59px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guAtQ0-17m gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g7by3fWj3W" class="gp-leading-[0] g7by3fWj3W" style="--mt:17px;--ml:51px;--mt-tablet:17px;--ml-tablet:51px;--mt-mobile:17px;--ml-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="g7by3fWj3W" class="icon-wrapper gp-inline-flex gp-overflow-hidden g7by3fWj3W " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--focus-bblr:16px;--focus-bbrr:16px;--focus-btlr:16px;--focus-btrr:16px;-undefined-bblr:16px;-undefined-bbrr:16px;-undefined-btlr:16px;-undefined-btrr:16px;--bg:#ECBF7C;--shadow:none">
      
        <div >
          <span style="--c:#151515;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="check-circle-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g95OgRzK8v gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPkhvuKL5v"
        class="gPkhvuKL5v"
        style="--ta:left;--mt:10px;--ml:-214px;--mt-tablet:10px;--ml-tablet:-214px;--mt-mobile:10px;--ml-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos-mobile:relative;--top-mobile:-45px;--right-mobile:-54px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:14px;--c:#E9E9E9;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPkhvuKL5v_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g-tesG4-8E"}' data-id="g-tesG4-8E" id="g-tesG4-8E" data-same-height-subgrid-container class="g-tesG4-8E gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:-10px;--mt-tablet:-10px;--mt-mobile:-59px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geeuOnhObv gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gXZsH4Sw8v" class="gp-leading-[0] gXZsH4Sw8v" style="--mt:17px;--ml:51px;--mt-tablet:17px;--ml-tablet:51px;--mt-mobile:17px;--ml-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="gXZsH4Sw8v" class="icon-wrapper gp-inline-flex gp-overflow-hidden gXZsH4Sw8v " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--focus-bblr:16px;--focus-bbrr:16px;--focus-btlr:16px;--focus-btrr:16px;-undefined-bblr:16px;-undefined-bbrr:16px;-undefined-btlr:16px;-undefined-btrr:16px;--bg:#ECBF7C;--shadow:none">
      
        <div >
          <span style="--c:#151515;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="check-circle-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gAZfbl7oMm gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRU6fSd-hN"
        class="gRU6fSd-hN"
        style="--ta:left;--mt:10px;--ml:-214px;--mt-tablet:10px;--ml-tablet:-214px;--mt-mobile:0px;--ml-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos-mobile:relative;--top-mobile:-34px;--right-mobile:-55px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:16px;--size-mobile:14px;--c:#E9E9E9;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRU6fSd-hN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/r3-revivthree-without-support","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:34px;--ml:42px;--mt-tablet:34px;--ml-tablet:42px;--mt-mobile:-13px;--ml-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left" >
        <style>[data-id="gx8L_krntn"].gp-button-base::before, [data-id="gx8L_krntn-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 33px;
      border-bottom-right-radius: 33px;
      border-top-left-radius: 33px;
      border-top-right-radius: 33px;
      
  
    }
  
      
  [data-id="gx8L_krntn"]:hover::before, [data-id="gx8L_krntn-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gx8L_krntn" dataId="gx8L_krntn" data-state="idle" aria-label="<p>Start your postural recovery</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:33px;--bbrr:33px;--btlr:33px;--btrr:33px;--hvr-bblr:33px;--hvr-bbrr:33px;--hvr-btlr:33px;--hvr-btrr:33px;--bgi:;--hvr-bgi:;--bg:#ECBF7C;--hvr-bg:var(--g-c-highlight, highlight);--c:#151515;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gx8L_krntn gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggx8L_krntn_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-612665944988189483 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612368322326954795&sectionId=612665944988189483)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggaOytZ3tv5_srcSet_desktop_src","label":"ggaOytZ3tv5_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/821ce5c1e013aef253c23417bafe936a0aa4a18b_1.png"},{"type":"html","id":"ggAsplfkr4H_text","label":"ggAsplfkr4H_text","default":"Restore Your Structure with R3"},{"type":"html","id":"ggsLgYHWb8L_text","label":"ggsLgYHWb8L_text","default":"<p>R3 (RevivThree) positioned as the foundation for postural recovery. Clear benefits tied to alignment</p>"},{"type":"html","id":"gg1BXTYXw3c_text","label":"gg1BXTYXw3c_text","default":"<p>Open your airway</p>"},{"type":"html","id":"ggPkhvuKL5v_text","label":"ggPkhvuKL5v_text","default":"<p>Free your spine</p>"},{"type":"html","id":"ggRU6fSd-hN_text","label":"ggRU6fSd-hN_text","default":"<p>Restore your height</p>"},{"type":"html","id":"ggx8L_krntn_label","label":"ggx8L_krntn_label","default":"<p>Start your postural recovery</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}