
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609720388670456750.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609720388670456750.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-609720388670456750.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609720388670456750.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609720388670456750.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609720388670456750.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-609720388670456750.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609720388670456750.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609720388670456750.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609720388670456750.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609720388670456750.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-609720388670456750.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609720388670456750.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-609720388670456750.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609720388670456750.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609720388670456750.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-609720388670456750.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609720388670456750.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-609720388670456750.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609720388670456750.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609720388670456750.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609720388670456750.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609720388670456750.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-609720388670456750.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609720388670456750.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-609720388670456750.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609720388670456750.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-609720388670456750.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609720388670456750.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609720388670456750.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609720388670456750.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609720388670456750.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609720388670456750.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609720388670456750.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-609720388670456750.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609720388670456750.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609720388670456750.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609720388670456750.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609720388670456750.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609720388670456750.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609720388670456750.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609720388670456750.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609720388670456750.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609720388670456750.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609720388670456750.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609720388670456750.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609720388670456750.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609720388670456750.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609720388670456750.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609720388670456750.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609720388670456750.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609720388670456750.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609720388670456750.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609720388670456750.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609720388670456750.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609720388670456750.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609720388670456750.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609720388670456750.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609720388670456750.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609720388670456750.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609720388670456750.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609720388670456750.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609720388670456750.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609720388670456750.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609720388670456750.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609720388670456750.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609720388670456750.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609720388670456750.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609720388670456750.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609720388670456750.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609720388670456750.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609720388670456750.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609720388670456750.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609720388670456750.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609720388670456750.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609720388670456750.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609720388670456750.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609720388670456750.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609720388670456750.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609720388670456750.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609720388670456750.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609720388670456750.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609720388670456750.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609720388670456750.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609720388670456750 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-609720388670456750 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-609720388670456750 .gp-relative{position:relative}.gps-609720388670456750 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609720388670456750 .gp-mb-0{margin-bottom:0}.gps-609720388670456750 .gp-inline-block{display:inline-block}.gps-609720388670456750 .gp-flex{display:flex}.gps-609720388670456750 .gp-inline-flex{display:inline-flex}.gps-609720388670456750 .gp-grid{display:grid}.gps-609720388670456750 .gp-contents{display:contents}.gps-609720388670456750 .\!gp-hidden{display:none!important}.gps-609720388670456750 .gp-hidden{display:none}.gps-609720388670456750 .gp-h-full{height:100%}.gps-609720388670456750 .gp-w-full{width:100%}.gps-609720388670456750 .gp-max-w-full{max-width:100%}.gps-609720388670456750 .gp-flex-1{flex:1 1 0%}.gps-609720388670456750 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609720388670456750 .gp-flex-col{flex-direction:column}.gps-609720388670456750 .gp-items-center{align-items:center}.gps-609720388670456750 .gp-justify-center{justify-content:center}.gps-609720388670456750 .gp-overflow-hidden{overflow:hidden}.gps-609720388670456750 .gp-break-words{overflow-wrap:break-word}.gps-609720388670456750 .gp-text-center{text-align:center}.gps-609720388670456750 .gp-no-underline{text-decoration-line:none}.gps-609720388670456750 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609720388670456750 .gp-duration-200{transition-duration:.2s}.gps-609720388670456750 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609720388670456750 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609720388670456750 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609720388670456750 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609720388670456750 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609720388670456750 .tablet\:\!gp-hidden{display:none!important}.gps-609720388670456750 .tablet\:gp-hidden{display:none}.gps-609720388670456750 .tablet\:gp-h-full{height:100%}.gps-609720388670456750 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-609720388670456750 .mobile\:\!gp-hidden{display:none!important}.gps-609720388670456750 .mobile\:gp-hidden{display:none}.gps-609720388670456750 .mobile\:gp-h-full{height:100%}.gps-609720388670456750 .mobile\:gp-flex-1{flex:1 1 0%}}.gps-609720388670456750 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609720388670456750 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXrJJ-Istw"}' data-id="gXrJJ-Istw" id="gXrJJ-Istw" data-same-height-subgrid-container class="gXrJJ-Istw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:29px;--pb:var(--g-s-2xl);--mt-tablet:0px;--pt-tablet:29px;--pb-tablet:var(--g-s-2xl);--mt-mobile:0px;--pt-mobile:29px;--pb-mobile:var(--g-s-2xl);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpNYzxVjxj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqCuc90_Rl"
        class="gqCuc90_Rl"
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:48px;--size-tablet:46px;--size-mobile:23px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqCuc90_Rl_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2N6Sziny1"
        class="g2N6Sziny1"
        style="--ta:left;--ml:0px;--mb:var(--g-s-l);--ml-tablet:0px;--mb-tablet:var(--g-s-l);--ml-mobile:0px;--mb-mobile:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:12px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2N6Sziny1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfbnH2IGJz"
        class="gfbnH2IGJz"
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:16px;--size-mobile:11px;--fs:italic;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfbnH2IGJz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--ml:0px;--mb:var(--g-s-l);--ml-tablet:0px;--mb-tablet:var(--g-s-l);--ml-mobile:0px;--mb-mobile:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--ta:center" >
        <style>[data-id="gGuphxayyv"].gp-button-base::before, [data-id="gGuphxayyv-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 29px;
      border-bottom-right-radius: 29px;
      border-top-left-radius: 29px;
      border-top-right-radius: 29px;
      
  
    }
  
      
  [data-id="gGuphxayyv"]:hover::before, [data-id="gGuphxayyv-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gGuphxayyv" dataId="gGuphxayyv" data-state="idle" aria-label="<p>Explore A Different Approach →</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:5px;--pb:5px;--bblr:29px;--bbrr:29px;--btlr:29px;--btrr:29px;--hvr-bblr:29px;--hvr-bbrr:29px;--hvr-btlr:29px;--hvr-btrr:29px;--shadow:14.142135623730951px 14.14213562373095px 20px 0px rgba(18, 18, 18, 0.2);--bgi:linear-gradient(130deg, #ffcf86 3%, #ffe5bd 100%);--hvr-bgi:linear-gradient(130deg, #ea9a23 0%, #ffcf86 100%);--bg:linear-gradient(130deg, #ffcf86 3%, #ffe5bd 100%);--hvr-bg:linear-gradient(130deg, #ea9a23 0%, #ffcf86 100%);--c:#232021;--size:16px;--size-tablet:16px;--size-mobile:11px"
          class="gGuphxayyv gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:16px;--size-tablet:16px;--size-mobile:11px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggGuphxayyv_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#242424","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gKsaKlApzO"}' data-id="gKsaKlApzO" id="gKsaKlApzO" data-same-height-subgrid-container class="gKsaKlApzO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:60px;--mt-tablet:60px;--mb-tablet:var(--g-s-l);--mt-mobile:40px;--mb-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gl6GlqzvOT gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gFMOxJzq58"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1779771662269 gp-flex-1 gp-h-full mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gFMOxJzq58"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggFMOxJzq58_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQxNiIgaGVpZ2h0PSIxMTUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDE2LTExNTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0MTYiIGhlaWdodD0iMTE1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQxNiIgaGVpZ2h0PSIxMTUwIiBmaWxsPSJ1cmwoI2ctMTQxNi0xMTUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQxNiIgdG89IjE0MTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggFMOxJzq58_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQxNiIgaGVpZ2h0PSIxMTUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDE2LTExNTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0MTYiIGhlaWdodD0iMTE1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQxNiIgaGVpZ2h0PSIxMTUwIiBmaWxsPSJ1cmwoI2ctMTQxNi0xMTUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQxNiIgdG89IjE0MTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggFMOxJzq58_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQxNiIgaGVpZ2h0PSIxMTUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDE2LTExNTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0MTYiIGhlaWdodD0iMTE1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQxNiIgaGVpZ2h0PSIxMTUwIiBmaWxsPSJ1cmwoI2ctMTQxNi0xMTUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQxNiIgdG89IjE0MTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggFMOxJzq58_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:101%;--w-tablet:101%;--w-mobile:101%;--h:100%;--h-tablet:100%;--h-mobile:100%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gdS1STs7CZ gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml-mobile:-5px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g5RYtuNA26 gp-custom-code">
      <div>
    <!DOCTYPE html>
<html lang="hy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVIV Section</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <section class="info-section">
        <div class="container">
            <h1 class="main-title">
                You Are Not <br>
                <span>Imagining It</span>
            </h1>
            
            <p class="subtitle">For many people, jaw tension feels persistent.</p>

            <ul class="features-list">
                <li class="features-list-li">They try guards.</li>
                <li>They try adjustments.</li>
                <li>They try to manage stress.</li>
         
            </ul>

            <div class="bottom-text">
                <p>
                    And still wake up with tightness. Inside our community, thousands 
                    share similar stories - not frustration, recognition, a sense that 
                    something about the conventional explanation never felt complete.
                </p>
            </div>
        </div>
    </section>

</body>
</html>
    </div>
    </div>
  
      <style id="custom-css-g5RYtuNA26">
        /* Ընդհանուր կարգավորումներ՝ կիրառում ենք միայն այս բաժնի համար */
.main-title{
    color: white;
}
.info-section {
    background-color: transparent;
    padding: 80px 20px; /* Ավելացրել ենք վերևից/ներքևից բացվածք */
    width: 100%;
    color: #ffffff;
    display: block; /* Ապահովության համար */
}

.info-section .container {
    max-width: 600px;
    margin-left: 35px; /* Սա կկենտրոնացնի բլոկը հորիզոնական */
    text-align: left;
}


/* Վերնագրի ոճը */
.info-section .main-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25px;
    text-transform: none; /* Որպեսզի բրաուզերը չփոխի տառերի մեծատառ/փոքրատառը */
}

.features-list-li{
    font-size: 15px;
}

.info-section .main-title span {
    color: #d4b483; 
    display: block; /* Որպեսզի "Imagining It"-ը միշտ լինի նոր տողից */
}

/* Ենթավերնագիր */
.info-section .subtitle {
    font-size: 20px;
    margin-bottom: 30px;
    color: #e0e0e0;
    line-height: 1.4;
}

/* Ցուցակի ոճավորում */
.info-section .features-list {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}


.info-section .features-list li {

     padding: 8px 8px 9px 17px;
    border-top: 1px solid #333;
    font-size: 14px;
    position: relative;
}

.info-section .features-list li::before {
    content: "•";
    color: #d4b483;
    position: absolute;
    left: 0;
    font-size: 24px;
    top: 0px;
}

/* Ներքևի տեքստը */
.info-section .bottom-text p {
    font-size: 16px;
    line-height: 1.8;
    color: #EEC88B;
    opacity: 0.9;
    margin-top: 40px;
}

/* Ադապտիվություն (Mobile) */
@media (max-width: 480px) {
    .info-section .main-title {
        font-size: 32px;
    }
    .info-section {
        padding: 40px 15px;
    }
}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-609720388670456750 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609720388552754094&sectionId=609720388670456750)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggqCuc90_Rl_text","label":"ggqCuc90_Rl_text","default":"If You Have Tried<br><span style=\"color:#904F06;\">Everything</span>, Read This"},{"type":"html","id":"gg2N6Sziny1_text","label":"gg2N6Sziny1_text","default":"<p>Many people living with jaw tension feel unheard after trying standard approaches. <i>You are not alone</i> in that experience.</p>"},{"type":"html","id":"ggfbnH2IGJz_text","label":"ggfbnH2IGJz_text","default":"<p>There may be another way to think about night time jaw support.</p>"},{"type":"html","id":"ggGuphxayyv_label","label":"ggGuphxayyv_label","default":"<p>Explore A Different Approach →</p>"},{"type":"html","id":"ggFMOxJzq58_srcSet_desktop_src","label":"ggFMOxJzq58_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/b6ab451337ace488bf7132cc8e825fcc21072e0e.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}