
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604530860771050155.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-604530860771050155.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-604530860771050155.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604530860771050155.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604530860771050155.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604530860771050155.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604530860771050155.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604530860771050155.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604530860771050155.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604530860771050155.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604530860771050155.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604530860771050155.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604530860771050155.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604530860771050155.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604530860771050155.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604530860771050155.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604530860771050155.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604530860771050155.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604530860771050155.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604530860771050155.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604530860771050155.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604530860771050155.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604530860771050155.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604530860771050155.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604530860771050155.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604530860771050155.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604530860771050155.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-604530860771050155.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604530860771050155.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604530860771050155.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604530860771050155.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604530860771050155.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604530860771050155.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604530860771050155.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604530860771050155.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604530860771050155.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-604530860771050155.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-604530860771050155.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-604530860771050155.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-604530860771050155.gps.gpsil [style*="--objp:"]{-o-object-position:var(--objp);object-position:var(--objp)}.gps-604530860771050155.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604530860771050155.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604530860771050155.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604530860771050155.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604530860771050155.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604530860771050155.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604530860771050155.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604530860771050155.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604530860771050155.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-604530860771050155.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604530860771050155.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604530860771050155.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604530860771050155.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-604530860771050155.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-604530860771050155.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604530860771050155.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-604530860771050155.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-604530860771050155.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-604530860771050155.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-604530860771050155.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-604530860771050155.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604530860771050155.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604530860771050155.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604530860771050155.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604530860771050155.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-604530860771050155.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-604530860771050155.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-604530860771050155.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-604530860771050155.gps.gpsil [style*="--objp-tablet:"]{-o-object-position:var(--objp-tablet);object-position:var(--objp-tablet)}.gps-604530860771050155.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-604530860771050155.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604530860771050155.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604530860771050155.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604530860771050155.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604530860771050155.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-604530860771050155.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-604530860771050155.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-604530860771050155.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-604530860771050155.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-604530860771050155.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-604530860771050155.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-604530860771050155.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604530860771050155.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604530860771050155.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604530860771050155.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604530860771050155.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-604530860771050155.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-604530860771050155.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-604530860771050155.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-604530860771050155.gps.gpsil [style*="--objp-mobile:"]{-o-object-position:var(--objp-mobile);object-position:var(--objp-mobile)}.gps-604530860771050155.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-604530860771050155.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604530860771050155.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604530860771050155.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604530860771050155.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604530860771050155.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-604530860771050155.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604530860771050155.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-604530860771050155.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-604530860771050155.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-604530860771050155.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-604530860771050155 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-604530860771050155 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-604530860771050155 .gp-invisible{visibility:hidden}.gps-604530860771050155 .gp-absolute{position:absolute}.gps-604530860771050155 .gp-relative{position:relative}.gps-604530860771050155 .-gp-z-1{z-index:-1}.gps-604530860771050155 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604530860771050155 .gp-mb-0{margin-bottom:0}.gps-604530860771050155 .gp-flex{display:flex}.gps-604530860771050155 .gp-grid{display:grid}.gps-604530860771050155 .\!gp-hidden{display:none!important}.gps-604530860771050155 .gp-hidden{display:none}.gps-604530860771050155 .gp-h-full{height:100%}.gps-604530860771050155 .gp-w-full{width:100%}.gps-604530860771050155 .gp-max-w-full{max-width:100%}.gps-604530860771050155 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604530860771050155 .gp-flex-col{flex-direction:column}.gps-604530860771050155 .\!gp-content-stretch{align-content:stretch!important}.gps-604530860771050155 .gp-items-center{align-items:center}.gps-604530860771050155 .gp-justify-center{justify-content:center}.gps-604530860771050155 .\!gp-self-center{align-self:center!important}.gps-604530860771050155 .gp-self-center{align-self:center}.gps-604530860771050155 .gp-overflow-hidden{overflow:hidden}.gps-604530860771050155 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604530860771050155 .gp-duration-200{transition-duration:.2s}.gps-604530860771050155 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604530860771050155 .after\:gp-absolute:after{content:var(--tw-content);position:absolute}.gps-604530860771050155 .after\:gp-left-\[2px\]:after{content:var(--tw-content);left:2px}.gps-604530860771050155 .after\:gp-top-0:after{content:var(--tw-content);top:0}.gps-604530860771050155 .after\:gp-w-full:after{content:var(--tw-content);width:100%}.gps-604530860771050155 .after\:gp-select-none:after{content:var(--tw-content);-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-604530860771050155 .after\:gp-truncate:after{content:var(--tw-content);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-604530860771050155 .after\:gp-text-black:after{content:var(--tw-content);--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity,1))}.gps-604530860771050155 .after\:gp-opacity-20:after{content:var(--tw-content);opacity:.2}.gps-604530860771050155 .after\:gp-content-\[\'Your_custom_text_goes_here\'\]:after{--tw-content:"Your custom text goes here";content:var(--tw-content)}.gps-604530860771050155 .empty\:gp-pl-\[2px\]:empty{padding-left:2px}@media (max-width:1024px){.gps-604530860771050155 .tablet\:\!gp-relative{position:relative!important}.gps-604530860771050155 .tablet\:\!gp-hidden{display:none!important}.gps-604530860771050155 .tablet\:gp-hidden{display:none}.gps-604530860771050155 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-604530860771050155 .tablet\:gp-justify-center{justify-content:center}.gps-604530860771050155 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-604530860771050155 .mobile\:\!gp-relative{position:relative!important}.gps-604530860771050155 .mobile\:\!gp-hidden{display:none!important}.gps-604530860771050155 .mobile\:gp-hidden{display:none}.gps-604530860771050155 .mobile\:\!gp-h-auto{height:auto!important}.gps-604530860771050155 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-604530860771050155 .mobile\:gp-justify-center{justify-content:center}.gps-604530860771050155 .mobile\:\!gp-self-center{align-self:center!important}}.gps-604530860771050155 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-604530860771050155 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-604530860771050155 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-604530860771050155 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amaranth/v19/KtkuALODe433f0j1zMnFHdY.woff) format('woff');
}
/* latin */
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amaranth/v19/KtkuALODe433f0j1zMnFHdCIwWzX.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF7F0","image":{"src":""},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gni7i5EliU"}' data-id="gni7i5EliU" id="gni7i5EliU" data-same-height-subgrid-container class="gni7i5EliU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-9px;--pt:0px;--pb:0px;--mt-mobile:-9px;--pt-mobile:0px;--pb-mobile:0px;--mt-tablet:-9px;--pt-tablet:0px;--pb-tablet:0px;--cg:0px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#FFF7F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g123aa_mEE gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","distance":"50","easing":"ease-out","isCustomDistance":true,"speed":1.7,"triggerAnimationOption":"once"},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHZ0jG0jiu"
        class="gHZ0jG0jiu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:221px;--ml:0px;--mt-mobile:40px;--ml-mobile:0px;--mt-tablet:221px;--ml-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-relative empty:gp-pl-[2px] after:gp-content-['Your_custom_text_goes_here'] after:gp-absolute after:gp-select-none after:gp-top-0 after:gp-left-[2px] after:gp-w-full after:gp-truncate after:gp-text-black after:gp-opacity-20 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ff:var(--g-font-Amaranth, 'Amaranth'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#7A755D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghcYZ2UHEU"
        class="ghcYZ2UHEU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-139px;--mt-tablet:-139px;--mt-mobile:-6px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:46px;--size-tablet:46px;--size-mobile:33px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghcYZ2UHEU_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","distance":"50","easing":"ease-out","isCustomDistance":false,"speed":1.7,"triggerAnimationOption":"once"},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Text","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gL80UOhIBN"
        class="gL80UOhIBN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:28px;--ml:91px;--mr:112px;--pl:10px;--pr:10px;--mt-tablet:28px;--ml-tablet:91px;--mr-tablet:112px;--pl-tablet:10px;--pr-tablet:10px;--mt-mobile:28px;--ml-mobile:24px;--mr-mobile:24px;--pl-mobile:10px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:21px;--size-tablet:16px;--size-mobile:14px;--fs:italic;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggL80UOhIBN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g6XLfYHLbq gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gUaepza0AJ"
        class="gUaepza0AJ gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--op:100%;--mt:17px;--mb:17px;--mt-tablet:17px;--mb-tablet:17px;--mt-mobile:19px;--w:106%;--w-tablet:106%;--w-mobile:100%;--h:55vh;--h-tablet:55vh;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"type":"video","image":{"src":"","width":1920,"height":900},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=NfASaHFN1zg","videoHtml5":"{{ section.settings.ggUaepza0AJ_background_desktop_videoHtml5 }}","videoType":"html5","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false},"tablet":{"type":"video","image":{"src":"","width":1920,"height":900},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=NfASaHFN1zg","videoHtml5":"{{ section.settings.ggUaepza0AJ_background_desktop_videoHtml5 }}","videoType":"html5","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false},"mobile":{"type":"video","image":{"src":"","width":1920,"height":900},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=NfASaHFN1zg","videoHtml5":"{{ section.settings.ggUaepza0AJ_background_desktop_videoHtml5 }}","videoType":"html5","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false}},"uid":"gUaepza0AJ","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"shape":"original","widthHeightLinked":false,"width":"106%","shapeVideo":"custom","enableVideoShape":true,"height":"55vh","gap":"","shapeLinked":false,"shapeValue":"","customShapeValue":""},"tablet":{"shape":"original","widthHeightLinked":false,"width":"106%","shapeVideo":"custom","enableVideoShape":true,"height":"55vh","gap":"","shapeLinked":false,"shapeValue":"","customShapeValue":""},"mobile":{"shape":"original","width":"100%","shapeVideo":"16/9","enableVideoShape":true}},"videoObjectFit":{"desktop":"cover","tablet":"cover","mobile":"cover"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":false}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:55vh;--h-tablet:55vh;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:16/9;--bblr:27px;--bbrr:27px;--btlr:27px;--btrr:27px;--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0 round 27px 27px 27px 27px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
          
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gUaepza0AJ" title="Video" preload="metadata" data-src="{{ section.settings.ggUaepza0AJ_background_desktop_videoHtml5 }}" poster data-poster
      style="--aspect-mobile:16/9;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--objp:center;--objp-tablet:center;--objp-mobile:center"
      class="gp-w-full gp-relative gp-h-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="gYK2Zvnt7s gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:none;--d-tablet:none;--d-mobile:none;--h:55vh;--h-tablet:55vh;--h-mobile:auto;--w:106%;--w-tablet:106%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-604530860771050155 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604530860670059179&sectionId=604530860771050155)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gghcYZ2UHEU_text","label":"gghcYZ2UHEU_text","default":"The Balloon Theory"},{"type":"html","id":"ggL80UOhIBN_text","label":"ggL80UOhIBN_text","default":"<p><span style=\"font-size:20px;\">The Reviv process sort of reinflates the soft tissue covering the body like a balloon. Allowing the skeleton to untwist and straighten over time.</span></p>"},{"type":"html","id":"ggUaepza0AJ_background_desktop_video","label":"ggUaepza0AJ_background_desktop_video","default":"https://www.youtube.com/watch?v=NfASaHFN1zg"},{"type":"html","id":"ggUaepza0AJ_background_desktop_videoHtml5","label":"ggUaepza0AJ_background_desktop_videoHtml5","default":"https://cdn.shopify.com/videos/c/o/v/adf2af8585bc488e93f8da86ee15309e.mov"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}