
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609760417379517358.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609760417379517358.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609760417379517358.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609760417379517358.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609760417379517358.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609760417379517358.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609760417379517358.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609760417379517358.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609760417379517358.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609760417379517358.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609760417379517358.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609760417379517358.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609760417379517358.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609760417379517358.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609760417379517358.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609760417379517358.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609760417379517358.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609760417379517358.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609760417379517358.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609760417379517358.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609760417379517358.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609760417379517358.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609760417379517358.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609760417379517358.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609760417379517358.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609760417379517358.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609760417379517358.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609760417379517358.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609760417379517358.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609760417379517358.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609760417379517358.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609760417379517358.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609760417379517358.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609760417379517358.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609760417379517358.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609760417379517358.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609760417379517358.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609760417379517358.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609760417379517358.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609760417379517358.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609760417379517358.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609760417379517358.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609760417379517358.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609760417379517358.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609760417379517358.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609760417379517358.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609760417379517358.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-609760417379517358.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609760417379517358.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609760417379517358.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609760417379517358.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609760417379517358.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609760417379517358.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609760417379517358.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609760417379517358.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609760417379517358.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609760417379517358.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609760417379517358.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-609760417379517358.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609760417379517358.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609760417379517358.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609760417379517358.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609760417379517358.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609760417379517358.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609760417379517358.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609760417379517358.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609760417379517358.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609760417379517358.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609760417379517358.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609760417379517358.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609760417379517358.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-609760417379517358 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-609760417379517358 .gp-relative{position:relative}.gps-609760417379517358 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609760417379517358 .gp-mb-0{margin-bottom:0}.gps-609760417379517358 .gp-inline-block{display:inline-block}.gps-609760417379517358 .gp-flex{display:flex}.gps-609760417379517358 .gp-grid{display:grid}.gps-609760417379517358 .gp-contents{display:contents}.gps-609760417379517358 .\!gp-hidden{display:none!important}.gps-609760417379517358 .gp-hidden{display:none}.gps-609760417379517358 .gp-h-auto{height:auto}.gps-609760417379517358 .gp-h-full{height:100%}.gps-609760417379517358 .gp-w-full{width:100%}.gps-609760417379517358 .gp-max-w-full{max-width:100%}.gps-609760417379517358 .gp-flex-none{flex:none}.gps-609760417379517358 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609760417379517358 .gp-flex-col{flex-direction:column}.gps-609760417379517358 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609760417379517358 .gp-duration-200{transition-duration:.2s}.gps-609760417379517358 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609760417379517358 .tablet\:\!gp-hidden{display:none!important}.gps-609760417379517358 .tablet\:gp-hidden{display:none}.gps-609760417379517358 .tablet\:gp-h-auto{height:auto}.gps-609760417379517358 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609760417379517358 .mobile\:\!gp-hidden{display:none!important}.gps-609760417379517358 .mobile\:gp-hidden{display:none}.gps-609760417379517358 .mobile\:gp-h-auto{height:auto}.gps-609760417379517358 .mobile\:gp-flex-none{flex:none}}.gps-609760417379517358 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"g7sb-xi2NW"}' data-id="g7sb-xi2NW" id="g7sb-xi2NW" data-same-height-subgrid-container class="g7sb-xi2NW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEMUwO4kl5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmeaaj_bVb"
        class="gmeaaj_bVb"
        style="--ta:left;--mt:32px;--mb:var(--g-s-l);--mt-tablet:32px;--mb-tablet:var(--g-s-l);--mt-mobile:32px;--mb-mobile:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:48px;--size-tablet:46px;--size-mobile:23px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmeaaj_bVb_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gUC21k-KWu"}' data-id="gUC21k-KWu" id="gUC21k-KWu" data-same-height-subgrid-container class="gUC21k-KWu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:40px;--mt-tablet:40px;--mt-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFT8iwh4Yx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="goJxTS1fwQ"
      style="--mb:35px;--mb-tablet:35px;--mb-mobile:35px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1779771662235 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto goJxTS1fwQ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggoJxTS1fwQ_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQ4LTQ1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0idXJsKCNnLTY0OC00NTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDgiIHRvPSI2NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggoJxTS1fwQ_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQ4LTQ1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0idXJsKCNnLTY0OC00NTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDgiIHRvPSI2NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggoJxTS1fwQ_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQ4LTQ1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0idXJsKCNnLTY0OC00NTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDgiIHRvPSI2NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggoJxTS1fwQ_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ghqKHZ1Mdk gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gkMyArPCyI"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1779771662237 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gkMyArPCyI"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggkMyArPCyI_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQ4LTQ1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0idXJsKCNnLTY0OC00NTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDgiIHRvPSI2NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggkMyArPCyI_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQ4LTQ1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0idXJsKCNnLTY0OC00NTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDgiIHRvPSI2NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggkMyArPCyI_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQ4LTQ1NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQ1NSIgZmlsbD0idXJsKCNnLTY0OC00NTUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDgiIHRvPSI2NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggkMyArPCyI_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g984jCCfXS"}' data-id="g984jCCfXS" id="g984jCCfXS" data-same-height-subgrid-container class="g984jCCfXS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:20px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mt-tablet:20px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--mt-mobile:20px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gC90ykv9lE gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mt:50px;--mt-tablet:50px;--mt-mobile:40px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gsUp97LxTy gp-custom-code">
      <div>
    <section class="jaw-section">
  <div class="jaw-container">

    <div class="jaw-image">
      <img src="https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Mask_group-3_e2977dc3-575b-4139-b2c5-d1f569ea2753.png?v=1773315970">
    </div>

    <div class="jaw-content">

      <h2 class="jaw-title">
        Built For Those Who <br> Have Been <span class="title_2">Searching</span>
      </h2>

      <p class="jaw-desc">
        Designed with precision for people who know jaw tension
        deserves more than a basic guard.
      </p>

      <div class="jaw-list">

        <div class="jaw-item">
          <span class="jaw-check">✓</span>
          <div>
            <h4>Comfortable for overnight wear</h4>
            <p>Engineered for all-night comfort without compromise</p>
          </div>
        </div>

        <div class="jaw-item">
          <span class="jaw-check">✓</span>
          <div>
            <h4>Durable materials</h4>
            <p>Premium construction built to last</p>
          </div>
        </div>

        <div class="jaw-item">
          <span class="jaw-check">✓</span>
          <div>
            <h4>Designed around jaw structure</h4>
            <p>Anatomically informed design for optimal support</p>
          </div>
        </div>

      </div>

      <a href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" class="jaw-button">
        Explore A Different Approach →
      </a>

    </div>

  </div>
</section>
    </div>
    </div>
  
      <style id="custom-css-gsUp97LxTy">
        .jaw-section{
    padding:100px 50px !important;
    background:#242424 !important;
    position:relative !important;
    overflow:hidden !important;
}

/* glow effect */

.jaw-section::before{
    content:"" !important;
    position:absolute !important;
    left:-200px !important;
    top:50% !important;
    transform:translateY(-50%) !important;
    width:500px !important;
    height:500px !important;
    background:radial-gradient(circle, rgba(233,197,140,0.25) 0%, rgba(0,0,0,0) 70%) !important;
    filter:blur(90px) !important;
}

/* container */

.jaw-container{
    max-width:1100px !important;
    margin:auto !important;
    display:flex !important;
    align-items:center !important;
    gap:80px !important;
    position:relative !important;
    z-index:2 !important;
}

.title_2{
    color: white !important;
}
/* image */

.jaw-image img{
    width:100% !important;
    max-width:480px !important;
    border-radius:18px !important;
    display:block !important;
    border:1px solid rgba(233,197,140,0.4) !important;
    box-shadow:0 0 60px rgba(233,197,140,0.25) !important;
}

/* text */

.jaw-title{
    font-size:42px !important;
    line-height:1.2 !important;
    margin-bottom:15px !important;
    color:#e9c58c !important;
}

.jaw-desc{
    color:#bbb !important;
    margin-bottom:30px !important;
    width: 400px !important;
}

/* list */

.jaw-item{
    display:flex !important;
    gap:15px !important;
    margin-bottom:22px !important;
}

.jaw-check{
    background:#2a2a2a !important;
    color:#e9c58c !important;
    width:34px !important;
    height:34px !important;
    border-radius:10px !important;
    display:flex !important;
    align-items:center !important;
    justify-content:center !important;
    font-weight:bold !important;
}

/* text inside list */

.jaw-item h4{
    margin:0 !important;
    font-size:17px !important;
    color:white !important;
}

.jaw-item p{
    margin:4px 0 0 !important;
    font-size:14px !important;
    color:#aaa !important;
}

/* button */

.jaw-button{
    display:inline-block !important;
    margin-top:30px !important;
    background:#e9c58c !important;
    color:#111 !important;
    padding:16px 32px !important;
    border-radius:40px !important;
    text-decoration:none !important;
    font-weight:600 !important;
}

/* mobile */

@media (max-width:900px){

.jaw-container{
    flex-direction:column !important;
    text-align:center !important;
}

.jaw-title{
    font-size:22px !important;
}

.jaw-item{
    justify-content:center !important;
    text-align:left !important;
}

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-609760417379517358 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609720388552754094&sectionId=609760417379517358)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggmeaaj_bVb_text","label":"ggmeaaj_bVb_text","default":"What People In <span style=\"color:#904F06;\">Our Community</span> Share"},{"type":"html","id":"ggoJxTS1fwQ_srcSet_desktop_src","label":"ggoJxTS1fwQ_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Mask_group.png"},{"type":"html","id":"ggkMyArPCyI_srcSet_desktop_src","label":"ggkMyArPCyI_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Mask_grou-2.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}