
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608606919958987350.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608606919958987350.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608606919958987350.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608606919958987350.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608606919958987350.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608606919958987350.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608606919958987350.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608606919958987350.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608606919958987350.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608606919958987350.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608606919958987350.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608606919958987350.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608606919958987350.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-608606919958987350.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-608606919958987350.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608606919958987350.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608606919958987350.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608606919958987350.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608606919958987350.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608606919958987350.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-608606919958987350.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608606919958987350.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608606919958987350.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-608606919958987350.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-608606919958987350.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-608606919958987350.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-608606919958987350.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608606919958987350.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-608606919958987350.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608606919958987350.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-608606919958987350.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-608606919958987350.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-608606919958987350.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-608606919958987350.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-608606919958987350.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-608606919958987350.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-608606919958987350.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-608606919958987350.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-608606919958987350.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608606919958987350.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608606919958987350.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-608606919958987350.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608606919958987350.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608606919958987350.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608606919958987350.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608606919958987350.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608606919958987350.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608606919958987350.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-608606919958987350.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608606919958987350.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-608606919958987350.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-608606919958987350.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608606919958987350.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-608606919958987350.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-608606919958987350.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-608606919958987350.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-608606919958987350.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-608606919958987350.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-608606919958987350.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-608606919958987350.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-608606919958987350.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-608606919958987350.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-608606919958987350.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-608606919958987350.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-608606919958987350.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-608606919958987350.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608606919958987350.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608606919958987350.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-608606919958987350.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-608606919958987350.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-608606919958987350.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-608606919958987350.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-608606919958987350.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-608606919958987350.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-608606919958987350.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-608606919958987350.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-608606919958987350.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-608606919958987350.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-608606919958987350.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-608606919958987350.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-608606919958987350.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-608606919958987350.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-608606919958987350.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-608606919958987350.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-608606919958987350.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608606919958987350.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608606919958987350.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-608606919958987350.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-608606919958987350.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-608606919958987350.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-608606919958987350.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-608606919958987350.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-608606919958987350 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-608606919958987350 .gp-relative{position:relative}.gps-608606919958987350 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608606919958987350 .gp-mb-0{margin-bottom:0}.gps-608606919958987350 .gp-inline-block{display:inline-block}.gps-608606919958987350 .gp-flex{display:flex}.gps-608606919958987350 .gp-grid{display:grid}.gps-608606919958987350 .gp-contents{display:contents}.gps-608606919958987350 .\!gp-hidden{display:none!important}.gps-608606919958987350 .gp-hidden{display:none}.gps-608606919958987350 .gp-h-auto{height:auto}.gps-608606919958987350 .gp-h-full{height:100%}.gps-608606919958987350 .gp-w-full{width:100%}.gps-608606919958987350 .gp-max-w-full{max-width:100%}.gps-608606919958987350 .gp-flex-none{flex:none}.gps-608606919958987350 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608606919958987350 .gp-flex-col{flex-direction:column}.gps-608606919958987350 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608606919958987350 .gp-duration-200{transition-duration:.2s}.gps-608606919958987350 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-608606919958987350 .tablet\:\!gp-hidden{display:none!important}.gps-608606919958987350 .tablet\:gp-hidden{display:none}.gps-608606919958987350 .tablet\:gp-h-auto{height:auto}.gps-608606919958987350 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-608606919958987350 .mobile\:\!gp-hidden{display:none!important}.gps-608606919958987350 .mobile\:gp-hidden{display:none}.gps-608606919958987350 .mobile\:gp-h-auto{height:auto}.gps-608606919958987350 .mobile\:gp-flex-none{flex:none}}.gps-608606919958987350 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gAhbW-bwmo"}' data-id="gAhbW-bwmo" id="gAhbW-bwmo" data-same-height-subgrid-container class="gAhbW-bwmo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gx8FJuEVVw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxO-jBdwbK"}' data-id="gxO-jBdwbK" id="gxO-jBdwbK" data-same-height-subgrid-container class="gxO-jBdwbK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:32px;--pl:100px;--pb:32px;--pr:100px;--mb-tablet:0px;--pt-tablet:32px;--pl-tablet:80px;--pb-tablet:32px;--pr-tablet:80px;--mt-mobile:15px;--mb-mobile:0px;--pt-mobile:32px;--pl-mobile:20px;--pb-mobile:32px;--pr-mobile:20px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--w-mobile:98%;--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCYg904i5N gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcugWMtvwa"
        class="gcugWMtvwa"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pb:40px;--pr:0px;--pl-mobile:0px;--pb-mobile:40px;--pr-mobile:0px;--pl-tablet:0px;--pb-tablet:40px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:32px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcugWMtvwa_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7UmH0Xqum"
        class="g7UmH0Xqum"
        style="--ta:left;--mt:-37px;--ml:-18px;--mb:31px;--mt-tablet:-37px;--ml-tablet:-18px;--mb-tablet:31px;--mt-mobile:-37px;--ml-mobile:3px;--mb-mobile:31px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:16px;--size-mobile:14px;--weight:bold;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7UmH0Xqum_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"up","distance":"100","easing":"ease-out","isCustomDistance":false,"speed":1.7,"triggerAnimationOption":"once"},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Row","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g_0kHEQLNg"}' data-id="g_0kHEQLNg" id="g_0kHEQLNg" data-same-height-subgrid-container class="g_0kHEQLNg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:auto;--cg:30px;--cg-tablet:32px;--cg-mobile:16px;--rg:16px;--rg-tablet:32px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3Pg3mZnIT gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g6XHW8HUb4"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:22px;--mb-tablet:22px;--ml-mobile:0px;--mb-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1775747436212 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g6XHW8HUb4"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg6XHW8HUb4_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUwIiBoZWlnaHQ9IjM1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUwLTM1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUwIiBoZWlnaHQ9IjM1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUwIiBoZWlnaHQ9IjM1OSIgZmlsbD0idXJsKCNnLTM1MC0zNTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTAiIHRvPSIzNTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg6XHW8HUb4_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUxLTM1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0idXJsKCNnLTM1MS0zNTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTEiIHRvPSIzNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gg6XHW8HUb4_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUxLTM1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0idXJsKCNnLTM1MS0zNTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTEiIHRvPSIzNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gg6XHW8HUb4_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--h:96%;--h-tablet:96%;--h-mobile:101%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gevz-oxFqQ"
        class="gevz-oxFqQ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-24px;--ml:-5px;--pl:3px;--mt-tablet:-24px;--ml-tablet:-5px;--pl-tablet:3px;--mt-mobile:10px;--ml-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggevz-oxFqQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gHmh01cclH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gkJBDyLchb"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:22px;--mb-tablet:22px;--mb-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1775747436214 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gkJBDyLchb"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggkJBDyLchb_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUxLTM1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0idXJsKCNnLTM1MS0zNTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTEiIHRvPSIzNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggkJBDyLchb_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUxLTM1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0idXJsKCNnLTM1MS0zNTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTEiIHRvPSIzNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggkJBDyLchb_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUxLTM1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0idXJsKCNnLTM1MS0zNTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTEiIHRvPSIzNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggkJBDyLchb_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--h:95%;--h-tablet:95%;--h-mobile:97%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPF18a6kZD"
        class="gPF18a6kZD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-24px;--ml:-5px;--pl:3px;--mt-tablet:-24px;--ml-tablet:-5px;--pl-tablet:3px;--mt-mobile:10px;--ml-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPF18a6kZD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gTI9yZyffl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gBYb7y89i_"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:24px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1775747436215 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gBYb7y89i_"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggBYb7y89i__srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUxLTM1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0idXJsKCNnLTM1MS0zNTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTEiIHRvPSIzNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggBYb7y89i__srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUxLTM1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0idXJsKCNnLTM1MS0zNTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTEiIHRvPSIzNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggBYb7y89i__srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUxLTM1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUxIiBoZWlnaHQ9IjM1OSIgZmlsbD0idXJsKCNnLTM1MS0zNTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTEiIHRvPSIzNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggBYb7y89i__srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--h:94%;--h-tablet:94%;--h-mobile:94%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnPsQWjHSj"
        class="gnPsQWjHSj"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-23px;--ml:-5px;--pl:3px;--mt-tablet:-23px;--ml-tablet:-5px;--pl-tablet:3px;--mt-mobile:-15px;--ml-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnPsQWjHSj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-608606919958987350 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=608273667457024567&sectionId=608606919958987350)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggcugWMtvwa_text","label":"ggcugWMtvwa_text","default":"<strong>&nbsp;What People Love About Reviv for TMJ</strong>"},{"type":"html","id":"gg7UmH0Xqum_text","label":"gg7UmH0Xqum_text","default":"<p>Based on customer feedback, users reported experiencing</p>"},{"type":"html","id":"gg6XHW8HUb4_srcSet_desktop_src","label":"gg6XHW8HUb4_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/nk1chisht.jpg"},{"type":"html","id":"gg6XHW8HUb4_srcSet_mobile_src","label":"gg6XHW8HUb4_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/nk1.jpg"},{"type":"html","id":"ggevz-oxFqQ_text","label":"ggevz-oxFqQ_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(32,32,32);font-size:14px;\"><strong>Reported Improvements in Jaw tension and Facial Sorenees</strong></span></p>"},{"type":"html","id":"ggkJBDyLchb_srcSet_desktop_src","label":"ggkJBDyLchb_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/nk2.jpg"},{"type":"html","id":"ggPF18a6kZD_text","label":"ggPF18a6kZD_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(32,32,32);font-size:14px;\"><strong>Reported Improvement in Clenching and Grinding Habits</strong></span></p>"},{"type":"html","id":"ggBYb7y89i__srcSet_desktop_src","label":"ggBYb7y89i__srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/nk3.jpg"},{"type":"html","id":"ggnPsQWjHSj_text","label":"ggnPsQWjHSj_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(32,32,32);font-size:14px;\"><strong>Reported Better Sleep and Fewer Morning Headaches</strong></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}