
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609727782791938633.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-609727782791938633.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609727782791938633.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609727782791938633.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609727782791938633.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-609727782791938633.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609727782791938633.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609727782791938633.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609727782791938633.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-609727782791938633.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609727782791938633.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609727782791938633.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609727782791938633.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609727782791938633.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-609727782791938633.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609727782791938633.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-609727782791938633.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609727782791938633.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609727782791938633.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-609727782791938633.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609727782791938633.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-609727782791938633.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609727782791938633.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609727782791938633.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609727782791938633.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609727782791938633.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-609727782791938633.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609727782791938633.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-609727782791938633.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609727782791938633.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-609727782791938633.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609727782791938633.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609727782791938633.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609727782791938633.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-609727782791938633.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609727782791938633.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609727782791938633.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609727782791938633.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609727782791938633.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609727782791938633.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609727782791938633.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609727782791938633.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609727782791938633.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609727782791938633.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609727782791938633.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609727782791938633.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609727782791938633.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609727782791938633.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609727782791938633.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609727782791938633.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609727782791938633.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609727782791938633.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609727782791938633.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609727782791938633.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609727782791938633.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609727782791938633.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-609727782791938633.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609727782791938633.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609727782791938633.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609727782791938633.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-609727782791938633.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609727782791938633.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-609727782791938633.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-609727782791938633.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609727782791938633.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609727782791938633.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609727782791938633.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609727782791938633.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609727782791938633.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-609727782791938633.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609727782791938633.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609727782791938633.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609727782791938633.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609727782791938633.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-609727782791938633.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609727782791938633.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-609727782791938633.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-609727782791938633.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-609727782791938633.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-609727782791938633.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609727782791938633.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609727782791938633.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609727782791938633.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609727782791938633.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609727782791938633.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609727782791938633.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-609727782791938633.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609727782791938633.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609727782791938633.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609727782791938633.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609727782791938633.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-609727782791938633.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609727782791938633.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-609727782791938633.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-609727782791938633 .gp-relative{position:relative}.gps-609727782791938633 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609727782791938633 .gp-mb-0{margin-bottom:0}.gps-609727782791938633 .gp-inline-block{display:inline-block}.gps-609727782791938633 .gp-flex{display:flex}.gps-609727782791938633 .gp-inline-flex{display:inline-flex}.gps-609727782791938633 .gp-grid{display:grid}.gps-609727782791938633 .gp-contents{display:contents}.gps-609727782791938633 .\!gp-hidden{display:none!important}.gps-609727782791938633 .gp-hidden{display:none}.gps-609727782791938633 .gp-h-auto{height:auto}.gps-609727782791938633 .gp-h-full{height:100%}.gps-609727782791938633 .gp-w-full{width:100%}.gps-609727782791938633 .gp-max-w-full{max-width:100%}.gps-609727782791938633 .gp-flex-none{flex:none}.gps-609727782791938633 .gp-shrink-0{flex-shrink:0}.gps-609727782791938633 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609727782791938633 .gp-flex-col{flex-direction:column}.gps-609727782791938633 .gp-items-center{align-items:center}.gps-609727782791938633 .gp-justify-center{justify-content:center}.gps-609727782791938633 .gp-overflow-hidden{overflow:hidden}.gps-609727782791938633 .gp-break-words{overflow-wrap:break-word}.gps-609727782791938633 .gp-border{border-width:1px}.gps-609727782791938633 .gp-border-transparent{border-color:transparent}.gps-609727782791938633 .gp-text-left{text-align:left}.gps-609727782791938633 .gp-text-center{text-align:center}.gps-609727782791938633 .gp-no-underline{text-decoration-line:none}.gps-609727782791938633 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609727782791938633 .gp-duration-200{transition-duration:.2s}.gps-609727782791938633 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609727782791938633 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609727782791938633 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609727782791938633 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609727782791938633 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609727782791938633 .tablet\:\!gp-hidden{display:none!important}.gps-609727782791938633 .tablet\:gp-hidden{display:none}.gps-609727782791938633 .tablet\:gp-h-auto{height:auto}.gps-609727782791938633 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609727782791938633 .mobile\:\!gp-hidden{display:none!important}.gps-609727782791938633 .mobile\:gp-hidden{display:none}.gps-609727782791938633 .mobile\:gp-h-auto{height:auto}.gps-609727782791938633 .mobile\:gp-flex-none{flex:none}}.gps-609727782791938633 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-609727782791938633 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-609727782791938633 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-609727782791938633 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-609727782791938633 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-609727782791938633 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-609727782791938633 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609727782791938633 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v17/-nFnOHM81r4j6k0gjAW3mujVU2B2K_c.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#232021","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gGPB4yOp_m"}' data-id="gGPB4yOp_m" id="gGPB4yOp_m" data-same-height-subgrid-container class="gGPB4yOp_m gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:15px;--pb:64px;--pr:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:64px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHlY89cJY0 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g6trcWfjyE"}' data-id="g6trcWfjyE" id="g6trcWfjyE" data-same-height-subgrid-container class="g6trcWfjyE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyF_6QIPk7 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#242424","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gZRLAyht4C"}' data-id="gZRLAyht4C" id="gZRLAyht4C" data-same-height-subgrid-container class="gZRLAyht4C gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:60px;--pl:60px;--pb:60px;--pr:60px;--pt-tablet:60px;--pl-tablet:60px;--pb-tablet:60px;--pr-tablet:60px;--pt-mobile:40px;--pl-mobile:24px;--pb-mobile:40px;--pr-mobile:24px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="golQktF0YW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goGbb0_eJo"
        class="goGbb0_eJo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--mb-tablet:40px;--mb-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ff:var(--g-font-DM-Serif-Display, 'DM Serif Display'), var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:42px;--size-mobile:46px;--lh:50px;--lh-tablet:130%;--lh-mobile:130%;--c:#EFEFEF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoGbb0_eJo_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="gzZnq4TU05 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gzZnq4TU05"
      data-id="gzZnq4TU05"
      style="--mb:40px;--mb-tablet:40px;--mb-mobile:40px;--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gzZnq4TU05"
      gp-data='{"position":{"desktop":"baseline","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"24"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:12px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gzZnq4TU05"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="Check.svg" data-id="609728149776761474" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<g clip-path="url(#clip0_0_830)">
<path d="M14.6667 7.99992C14.6667 4.31792 11.682 1.33325 8 1.33325C4.318 1.33325 1.33333 4.31792 1.33333 7.99992C1.33333 11.6819 4.318 14.6666 8 14.6666C11.682 14.6666 14.6667 11.6819 14.6667 7.99992Z" stroke="url(#paint0_linear_0_830)" stroke-width="1.5"/>
<path d="M5.33333 8.33333L6.99999 10L10.6667 6" stroke="url(#paint1_linear_0_830)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<linearGradient id="paint0_linear_0_830" x1="7.99995" y1="1.33325" x2="7.99995" y2="14.6666" gradientUnits="userSpaceOnUse">
<stop stop-color="#EFBD59"/>
<stop offset="1" stop-color="#D2920F"/>
</linearGradient>
<linearGradient id="paint1_linear_0_830" x1="7.99998" y1="6" x2="7.99998" y2="10" gradientUnits="userSpaceOnUse">
<stop stop-color="#EFBD59"/>
<stop offset="1" stop-color="#D2920F"/>
</linearGradient>
<clipPath id="clip0_0_830">
<rect width="16" height="16" fill="white"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzZnq4TU05_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gzZnq4TU05"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="Check.svg" data-id="609728149776761474" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<g clip-path="url(#clip0_0_830)">
<path d="M14.6667 7.99992C14.6667 4.31792 11.682 1.33325 8 1.33325C4.318 1.33325 1.33333 4.31792 1.33333 7.99992C1.33333 11.6819 4.318 14.6666 8 14.6666C11.682 14.6666 14.6667 11.6819 14.6667 7.99992Z" stroke="url(#paint0_linear_0_830)" stroke-width="1.5"/>
<path d="M5.33333 8.33333L6.99999 10L10.6667 6" stroke="url(#paint1_linear_0_830)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<linearGradient id="paint0_linear_0_830" x1="7.99995" y1="1.33325" x2="7.99995" y2="14.6666" gradientUnits="userSpaceOnUse">
<stop stop-color="#EFBD59"/>
<stop offset="1" stop-color="#D2920F"/>
</linearGradient>
<linearGradient id="paint1_linear_0_830" x1="7.99998" y1="6" x2="7.99998" y2="10" gradientUnits="userSpaceOnUse">
<stop stop-color="#EFBD59"/>
<stop offset="1" stop-color="#D2920F"/>
</linearGradient>
<clipPath id="clip0_0_830">
<rect width="16" height="16" fill="white"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzZnq4TU05_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gzZnq4TU05"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="Check.svg" data-id="609728149776761474" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<g clip-path="url(#clip0_0_830)">
<path d="M14.6667 7.99992C14.6667 4.31792 11.682 1.33325 8 1.33325C4.318 1.33325 1.33333 4.31792 1.33333 7.99992C1.33333 11.6819 4.318 14.6666 8 14.6666C11.682 14.6666 14.6667 11.6819 14.6667 7.99992Z" stroke="url(#paint0_linear_0_830)" stroke-width="1.5"/>
<path d="M5.33333 8.33333L6.99999 10L10.6667 6" stroke="url(#paint1_linear_0_830)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<linearGradient id="paint0_linear_0_830" x1="7.99995" y1="1.33325" x2="7.99995" y2="14.6666" gradientUnits="userSpaceOnUse">
<stop stop-color="#EFBD59"/>
<stop offset="1" stop-color="#D2920F"/>
</linearGradient>
<linearGradient id="paint1_linear_0_830" x1="7.99998" y1="6" x2="7.99998" y2="10" gradientUnits="userSpaceOnUse">
<stop stop-color="#EFBD59"/>
<stop offset="1" stop-color="#D2920F"/>
</linearGradient>
<clipPath id="clip0_0_830">
<rect width="16" height="16" fill="white"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzZnq4TU05_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gzZnq4TU05"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="Check.svg" data-id="609728149776761474" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<g clip-path="url(#clip0_0_830)">
<path d="M14.6667 7.99992C14.6667 4.31792 11.682 1.33325 8 1.33325C4.318 1.33325 1.33333 4.31792 1.33333 7.99992C1.33333 11.6819 4.318 14.6666 8 14.6666C11.682 14.6666 14.6667 11.6819 14.6667 7.99992Z" stroke="url(#paint0_linear_0_830)" stroke-width="1.5"/>
<path d="M5.33333 8.33333L6.99999 10L10.6667 6" stroke="url(#paint1_linear_0_830)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<linearGradient id="paint0_linear_0_830" x1="7.99995" y1="1.33325" x2="7.99995" y2="14.6666" gradientUnits="userSpaceOnUse">
<stop stop-color="#EFBD59"/>
<stop offset="1" stop-color="#D2920F"/>
</linearGradient>
<linearGradient id="paint1_linear_0_830" x1="7.99998" y1="6" x2="7.99998" y2="10" gradientUnits="userSpaceOnUse">
<stop stop-color="#EFBD59"/>
<stop offset="1" stop-color="#D2920F"/>
</linearGradient>
<clipPath id="clip0_0_830">
<rect width="16" height="16" fill="white"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzZnq4TU05_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <gp-button
      gp-data='{"btnLink":{"link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--ta:left" >
        <style>[data-id="glgcq4OGD7"].gp-button-base::before, [data-id="glgcq4OGD7-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ECBF7C;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="glgcq4OGD7"]:hover::before, [data-id="glgcq4OGD7-interaction"]:hover::before {
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ECBF7C;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  }</style>
        
        <a
          data-id="glgcq4OGD7" dataId="glgcq4OGD7" data-state="idle" aria-label="<p>Start Supporting My Posture</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--bgi:;--hvr-bgi:;--hvr-bg:rgba(229, 192, 133, 0.15);--bg:transparent;--hvr-c:#FFFFFF;--c:#FFFFFF;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="glgcq4OGD7 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gglgcq4OGD7_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g6U5_XKeXk gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gqCERkVjyE"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1773165743161 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gqCERkVjyE"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "What_Consistent_Support_May_Contribute_To.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTkwIiBoZWlnaHQ9IjYyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTkwLTYyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTkwIiBoZWlnaHQ9IjYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTkwIiBoZWlnaHQ9IjYyMCIgZmlsbD0idXJsKCNnLTU5MC02MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01OTAiIHRvPSI1OTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "What_Consistent_Support_May_Contribute_To.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTkwIiBoZWlnaHQ9IjYyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTkwLTYyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTkwIiBoZWlnaHQ9IjYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTkwIiBoZWlnaHQ9IjYyMCIgZmlsbD0idXJsKCNnLTU5MC02MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01OTAiIHRvPSI1OTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "What_Consistent_Support_May_Contribute_To.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTkwIiBoZWlnaHQ9IjYyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTkwLTYyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTkwIiBoZWlnaHQ9IjYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTkwIiBoZWlnaHQ9IjYyMCIgZmlsbD0idXJsKCNnLTU5MC02MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01OTAiIHRvPSI1OTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "What_Consistent_Support_May_Contribute_To.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--btrr:40px;--bblr:40px;--bbrr:40px;--btlr:40px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gqCERkVjyE">
        .gqCERkVjyE {

}
.gqCERkVjyE > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-609727782791938633 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609711152007480311&sectionId=609727782791938633)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggoGbb0_eJo_text","label":"ggoGbb0_eJo_text","default":"What Consistent Support May Contribute To"},{"type":"html","id":"ggzZnq4TU05_childItem_0","label":"ggzZnq4TU05_childItem_0","default":"<p>May help reduce excess mechanical strain on the neck</p>"},{"type":"html","id":"ggzZnq4TU05_childItem_1","label":"ggzZnq4TU05_childItem_1","default":"<p>Can support more balanced head positioning</p>"},{"type":"html","id":"ggzZnq4TU05_childItem_2","label":"ggzZnq4TU05_childItem_2","default":"<p>Designed to encourage relaxed jaw positioning</p>"},{"type":"html","id":"ggzZnq4TU05_childItem_3","label":"ggzZnq4TU05_childItem_3","default":"<p>Built for nightly consistency</p>"},{"type":"html","id":"gglgcq4OGD7_label","label":"gglgcq4OGD7_label","default":"<p>Start Supporting My Posture</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}