
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610919792999662445.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610919792999662445.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610919792999662445.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610919792999662445.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610919792999662445.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610919792999662445.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610919792999662445.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610919792999662445.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610919792999662445.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610919792999662445.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610919792999662445.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610919792999662445.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610919792999662445.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-610919792999662445.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610919792999662445.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610919792999662445.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610919792999662445.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610919792999662445.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610919792999662445.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-610919792999662445.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610919792999662445.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610919792999662445.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-610919792999662445.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-610919792999662445.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-610919792999662445.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-610919792999662445.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610919792999662445.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610919792999662445.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610919792999662445.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-610919792999662445.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-610919792999662445.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-610919792999662445.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610919792999662445.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610919792999662445.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-610919792999662445.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-610919792999662445.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-610919792999662445.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610919792999662445.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610919792999662445.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610919792999662445.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610919792999662445.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610919792999662445.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610919792999662445.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610919792999662445.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610919792999662445.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610919792999662445.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610919792999662445.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-610919792999662445.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-610919792999662445.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610919792999662445.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-610919792999662445.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-610919792999662445.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-610919792999662445.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-610919792999662445.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-610919792999662445.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-610919792999662445.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-610919792999662445.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-610919792999662445.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610919792999662445.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610919792999662445.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610919792999662445.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610919792999662445.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-610919792999662445.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-610919792999662445.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-610919792999662445.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-610919792999662445.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-610919792999662445.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-610919792999662445.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-610919792999662445.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-610919792999662445.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-610919792999662445.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-610919792999662445.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610919792999662445.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610919792999662445.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610919792999662445.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610919792999662445.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-610919792999662445.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-610919792999662445.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-610919792999662445.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-610919792999662445 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-610919792999662445 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-610919792999662445 .gp-relative{position:relative}.gps-610919792999662445 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610919792999662445 .gp-mb-0{margin-bottom:0}.gps-610919792999662445 .gp-flex{display:flex}.gps-610919792999662445 .gp-grid{display:grid}.gps-610919792999662445 .\!gp-hidden{display:none!important}.gps-610919792999662445 .gp-hidden{display:none}.gps-610919792999662445 .gp-max-w-full{max-width:100%}.gps-610919792999662445 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610919792999662445 .gp-flex-col{flex-direction:column}.gps-610919792999662445 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610919792999662445 .gp-duration-200{transition-duration:.2s}.gps-610919792999662445 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-610919792999662445 .tablet\:\!gp-hidden{display:none!important}.gps-610919792999662445 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-610919792999662445 .mobile\:\!gp-hidden{display:none!important}.gps-610919792999662445 .mobile\:gp-hidden{display:none}}.gps-610919792999662445 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#232021","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gQoVLipxu_"}' data-id="gQoVLipxu_" id="gQoVLipxu_" data-same-height-subgrid-container class="gQoVLipxu_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--mb:19px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--mb-tablet:19px;--pt-tablet:var(--g-s-2xl);--pb-tablet:var(--g-s-2xl);--mb-mobile:19px;--pt-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBdpjbkQYR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9Bxa_cYv0"
        class="g9Bxa_cYv0"
        style="--ta:left;--mt:50px;--ml:30px;--mr:77px;--mt-tablet:50px;--ml-tablet:30px;--mr-tablet:77px;--mt-mobile:-24px;--ml-mobile:24px;--mr-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:33px;--size-tablet:46px;--size-mobile:20px;--c:#FFF7F0;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9Bxa_cYv0_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gQIwr8Rykf"}' data-id="gQIwr8Rykf" id="gQIwr8Rykf" data-same-height-subgrid-container class="gQIwr8Rykf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:25px;--mt-tablet:25px;--mt-mobile:25px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:891px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_PAsEb3Fv gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#2D2D2D","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gDt7S9ngEH"}' data-id="gDt7S9ngEH" id="gDt7S9ngEH" data-same-height-subgrid-container class="gDt7S9ngEH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:29px;--bbrr:29px;--btlr:29px;--btrr:29px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:71%;--h:auto;--bgc:#2D2D2D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ga_kHewWFW gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gBoIP5lE1H gp-custom-code">
      <div>
    <div class="testimonial-quote">
<svg width="20" height="20" viewBox="0 0 120 120" fill="none">
<path d="M45 25C28 25 18 38 18 54C18 67 27 75 38 75C41 75 43 74 45 73C41 84 31 92 20 96L25 105C47 97 60 77 60 53C60 36 53 25 45 25Z"
fill="#E6B86A"/>
<path d="M95 25C78 25 68 38 68 54C68 67 77 75 88 75C91 75 93 74 95 73C91 84 81 92 70 96L75 105C97 97 110 77 110 53C110 36 103 25 95 25Z"
fill="#E6B86A"/>
</svg>
</div>

<style>

.testimonial-quote{
display:inline-block;

}

</style>
    </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwgn5YyW7s"
        class="gwgn5YyW7s"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwgn5YyW7s_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="geECchcoBQ"
        class="geECchcoBQ"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:16px;--size-mobile:14px;--fs:italic;--c:#ECBF7C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggeECchcoBQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="grLegooC8G gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#2D2D2D","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g6uASsBVEQ"}' data-id="g6uASsBVEQ" id="g6uASsBVEQ" data-same-height-subgrid-container class="g6uASsBVEQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:29px;--bbrr:29px;--btlr:29px;--btrr:29px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:71%;--h:auto;--bgc:#2D2D2D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="godEnd8n7E gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gZ7w0hAKx2 gp-custom-code">
      <div>
    <div class="testimonial-quote">
<svg width="20" height="20" viewBox="0 0 120 120" fill="none">
<path d="M45 25C28 25 18 38 18 54C18 67 27 75 38 75C41 75 43 74 45 73C41 84 31 92 20 96L25 105C47 97 60 77 60 53C60 36 53 25 45 25Z"
fill="#E6B86A"/>
<path d="M95 25C78 25 68 38 68 54C68 67 77 75 88 75C91 75 93 74 95 73C91 84 81 92 70 96L75 105C97 97 110 77 110 53C110 36 103 25 95 25Z"
fill="#E6B86A"/>
</svg>
</div>

<style>

.testimonial-quote{
display:inline-block;

}

</style>
    </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_bkok-kRn"
        class="g_bkok-kRn"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_bkok-kRn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVB5y_QJGW"
        class="gVB5y_QJGW"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:16px;--size-mobile:14px;--fs:italic;--c:#ECBF7C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVB5y_QJGW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gQqykJs89j gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#2D2D2D","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gEGEwXYz-m"}' data-id="gEGEwXYz-m" id="gEGEwXYz-m" data-same-height-subgrid-container class="gEGEwXYz-m gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:29px;--bbrr:29px;--btlr:29px;--btrr:29px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:71%;--h:auto;--bgc:#2D2D2D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXsraw9KUR gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gllUsK7i33 gp-custom-code">
      <div>
    <div class="testimonial-quote">
<svg width="20" height="20" viewBox="0 0 120 120" fill="none">
<path d="M45 25C28 25 18 38 18 54C18 67 27 75 38 75C41 75 43 74 45 73C41 84 31 92 20 96L25 105C47 97 60 77 60 53C60 36 53 25 45 25Z"
fill="#E6B86A"/>
<path d="M95 25C78 25 68 38 68 54C68 67 77 75 88 75C91 75 93 74 95 73C91 84 81 92 70 96L75 105C97 97 110 77 110 53C110 36 103 25 95 25Z"
fill="#E6B86A"/>
</svg>
</div>

<style>

.testimonial-quote{
display:inline-block;

}

</style>
    </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyaX9ZvT3T"
        class="gyaX9ZvT3T"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyaX9ZvT3T_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcMs92oiZz"
        class="gcMs92oiZz"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:16px;--size-mobile:14px;--fs:italic;--c:#ECBF7C;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcMs92oiZz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-610919792999662445 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=610797768381825830&sectionId=610919792999662445)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9Bxa_cYv0_text","label":"gg9Bxa_cYv0_text","default":"A Different Approach to Back Support"},{"type":"html","id":"ggwgn5YyW7s_text","label":"ggwgn5YyW7s_text","default":"<p>Feels less compressed after long days.</p>"},{"type":"html","id":"ggeECchcoBQ_text","label":"ggeECchcoBQ_text","default":"<p>- Stella</p>"},{"type":"html","id":"gg_bkok-kRn_text","label":"gg_bkok-kRn_text","default":"<p>Waking up feels more balanced.</p>"},{"type":"html","id":"ggVB5y_QJGW_text","label":"ggVB5y_QJGW_text","default":"<p>- Barbora</p>"},{"type":"html","id":"ggyaX9ZvT3T_text","label":"ggyaX9ZvT3T_text","default":"<p>Subtle but noticeable support.</p>"},{"type":"html","id":"ggcMs92oiZz_text","label":"ggcMs92oiZz_text","default":"<p>- George</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}