
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610169505800258263.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610169505800258263.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610169505800258263.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610169505800258263.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610169505800258263.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610169505800258263.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610169505800258263.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610169505800258263.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610169505800258263.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610169505800258263.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610169505800258263.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610169505800258263.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610169505800258263.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610169505800258263.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610169505800258263.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610169505800258263.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610169505800258263.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610169505800258263.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-610169505800258263.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610169505800258263.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610169505800258263.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-610169505800258263.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-610169505800258263.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-610169505800258263.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-610169505800258263.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-610169505800258263.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-610169505800258263.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610169505800258263.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610169505800258263.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-610169505800258263.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-610169505800258263.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-610169505800258263.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610169505800258263.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610169505800258263.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-610169505800258263.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-610169505800258263.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-610169505800258263.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610169505800258263.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610169505800258263.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610169505800258263.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610169505800258263.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610169505800258263.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610169505800258263.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610169505800258263.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610169505800258263.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610169505800258263.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-610169505800258263.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610169505800258263.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-610169505800258263.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-610169505800258263.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-610169505800258263.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-610169505800258263.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-610169505800258263.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-610169505800258263.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610169505800258263.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610169505800258263.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610169505800258263.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610169505800258263.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-610169505800258263.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-610169505800258263.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-610169505800258263.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-610169505800258263.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-610169505800258263.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-610169505800258263.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-610169505800258263.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-610169505800258263.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-610169505800258263.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610169505800258263.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610169505800258263.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610169505800258263.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610169505800258263.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-610169505800258263.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-610169505800258263 .-gp-rotate-90,.gps-610169505800258263 .gp-rotate-180,.gps-610169505800258263 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-610169505800258263 .gp-relative{position:relative}.gps-610169505800258263 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610169505800258263 .gp-mb-0{margin-bottom:0}.gps-610169505800258263 .gp-flex{display:flex}.gps-610169505800258263 .gp-inline-flex{display:inline-flex}.gps-610169505800258263 .gp-grid{display:grid}.gps-610169505800258263 .\!gp-hidden{display:none!important}.gps-610169505800258263 .gp-hidden{display:none}.gps-610169505800258263 .gp-min-h-0{min-height:0}.gps-610169505800258263 .gp-w-full{width:100%}.gps-610169505800258263 .gp-max-w-full{max-width:100%}.gps-610169505800258263 .-gp-rotate-90{--tw-rotate:-90deg}.gps-610169505800258263 .-gp-rotate-90,.gps-610169505800258263 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-610169505800258263 .gp-rotate-180{--tw-rotate:180deg}.gps-610169505800258263 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-610169505800258263 .gp-cursor-pointer{cursor:pointer}.gps-610169505800258263 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-610169505800258263 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610169505800258263 .gp-flex-col{flex-direction:column}.gps-610169505800258263 .gp-items-center{align-items:center}.gps-610169505800258263 .gp-justify-center{justify-content:center}.gps-610169505800258263 .gp-gap-\[16px\]{gap:16px}.gps-610169505800258263 .gp-overflow-hidden{overflow:hidden}.gps-610169505800258263 .gp-overflow-clip{overflow:clip}.gps-610169505800258263 .gp-break-all{word-break:break-all}.gps-610169505800258263 .gp-text-\[var\(--icon-expand-active-color\)\]{color:var(--icon-expand-active-color)}.gps-610169505800258263 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610169505800258263 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610169505800258263 .gp-duration-200{transition-duration:.2s}.gps-610169505800258263 .gp-duration-500{transition-duration:.5s}.gps-610169505800258263 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-610169505800258263 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-610169505800258263 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-610169505800258263 .tablet\:\!gp-hidden{display:none!important}.gps-610169505800258263 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-610169505800258263 .mobile\:\!gp-hidden{display:none!important}.gps-610169505800258263 .mobile\:gp-hidden{display:none}}.gps-610169505800258263 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-610169505800258263 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-610169505800258263 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v17/-nFnOHM81r4j6k0gjAW3mujVU2B2K_c.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMfyUDIZCR"}' data-id="gMfyUDIZCR" id="gMfyUDIZCR" data-same-height-subgrid-container class="gMfyUDIZCR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gmSG2C40LF gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDFtWxM1JS"}' data-id="gDFtWxM1JS" id="gDFtWxM1JS" data-same-height-subgrid-container class="gDFtWxM1JS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_B2ckf_m8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5KxlZL4_M"
        class="g5KxlZL4_M"
        style="--ta:left;--mb:40px;--mb-tablet:40px;--mb-mobile:40px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ff:var(--g-font-DM-Serif-Display, 'DM Serif Display'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5KxlZL4_M_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--ml-mobile:0px;--mr-mobile:0px" class="gUqWRqUEIz ">
      
    <gp-accordion data-id="gUqWRqUEIz" class="gp-flex gp-flex-col gp-w-full" style="--gg:11px;border-radius:inherit"
      gp-data='{"uid":"gUqWRqUEIz","setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":"1","expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" data-name=\"plus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" data-name=\"minus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gUqWRqUEIz","childListNumber":["0"],"chidlrenUid":["gd-n9jA2Wz","gz5gE-LQWe","gYpebhgRDb","g30huX93oh","g0KTTDYfo1","gmMQcyPgsC","gd1v9pT1Xr"]},"styles":{"bgColor":{"normal":"#2B2829"},"color":{"normal":"#B4B4B4"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"transparent","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":false,"mobile":true},"width":{"desktop":"770px","tablet":"730px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"},"mobile":{"horizontal":"0px","vertical":"28px"}}},"textColor":{"normal":"#B76C45"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"11px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"top":"19px","left":"32px","right":"32px","bottom":"19px","linked":false,"link":false}},"mobile":{"padding":{"bottom":"28px","left":"32px","right":"32px","top":"28px","type":"custom","link":false}},"tablet":{"padding":{"bottom":"32px","left":"32px","right":"32px","top":"32px","type":"custom","link":false}}},"widthHeightSize":{"desktop":{"width":"1440px"},"mobile":{"width":"100%"},"tablet":{"width":"730px"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#B76C45;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1440px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px">
    <div data-index="0" class="gUqWRqUEIz gp-overflow-hidden gp-child-item-gUqWRqUEIz gp-accordion-item">
      <div aria-hidden uid="gd-n9jA2Wz" id="gd-n9jA2Wz" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gUqWRqUEIz gp-accordion-item-gUqWRqUEIz-0" style="--pl:32px;--pr:32px;--pt:19px;--pb:19px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#2B2829;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-[var(--icon-expand-active-color)]">
              <svg height="20" width="20" data-name="minus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584339812712">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#B76C45;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUqWRqUEIz_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gclnATmgHB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDRC5Qwcg9"
        class="gDRC5Qwcg9"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#575757;word-break:break-word;--pl:32px;--pr:32px;--pt:16px;--pb:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDRC5Qwcg9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#B76C45;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1440px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px">
    <div data-index="1" class="gUqWRqUEIz gp-overflow-hidden gp-child-item-gUqWRqUEIz gp-accordion-item">
      <div aria-hidden uid="gz5gE-LQWe" id="gz5gE-LQWe" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gUqWRqUEIz gp-accordion-item-gUqWRqUEIz-1" style="--pl:32px;--pr:32px;--pt:19px;--pb:19px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#2B2829;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="1"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#B76C45;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUqWRqUEIz_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="g20aEC7vp- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvsyGqkqA1"
        class="gvsyGqkqA1"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#575757;word-break:break-word;--pl:32px;--pr:32px;--pt:16px;--pb:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvsyGqkqA1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#B76C45;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1440px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px">
    <div data-index="2" class="gUqWRqUEIz gp-overflow-hidden gp-child-item-gUqWRqUEIz gp-accordion-item">
      <div aria-hidden uid="gYpebhgRDb" id="gYpebhgRDb" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gUqWRqUEIz gp-accordion-item-gUqWRqUEIz-2" style="--pl:32px;--pr:32px;--pt:19px;--pb:19px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#2B2829;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="2"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#B76C45;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUqWRqUEIz_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gt17RStYHc gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEKXEHHxe0"
        class="gEKXEHHxe0"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#575757;word-break:break-word;--pl:32px;--pr:32px;--pt:16px;--pb:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEKXEHHxe0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#B76C45;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1440px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px">
    <div data-index="3" class="gUqWRqUEIz gp-overflow-hidden gp-child-item-gUqWRqUEIz gp-accordion-item">
      <div aria-hidden uid="g30huX93oh" id="g30huX93oh" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gUqWRqUEIz gp-accordion-item-gUqWRqUEIz-3" style="--pl:32px;--pr:32px;--pt:19px;--pb:19px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#2B2829;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="3"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#B76C45;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUqWRqUEIz_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="giEMHMMCQV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gchh1z1UCc"
        class="gchh1z1UCc"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#575757;word-break:break-word;--pl:32px;--pr:32px;--pt:16px;--pb:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggchh1z1UCc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#B76C45;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1440px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px">
    <div data-index="4" class="gUqWRqUEIz gp-overflow-hidden gp-child-item-gUqWRqUEIz gp-accordion-item">
      <div aria-hidden uid="g0KTTDYfo1" id="g0KTTDYfo1" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gUqWRqUEIz gp-accordion-item-gUqWRqUEIz-4" style="--pl:32px;--pr:32px;--pt:19px;--pb:19px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#2B2829;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="4"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#B76C45;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUqWRqUEIz_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="g4GKhy37gm gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gt7m802Zaf"
        class="gt7m802Zaf"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#575757;word-break:break-word;--pl:32px;--pr:32px;--pt:16px;--pb:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggt7m802Zaf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#B76C45;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1440px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px">
    <div data-index="5" class="gUqWRqUEIz gp-overflow-hidden gp-child-item-gUqWRqUEIz gp-accordion-item">
      <div aria-hidden uid="gmMQcyPgsC" id="gmMQcyPgsC" data-index="5"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gUqWRqUEIz gp-accordion-item-gUqWRqUEIz-5" style="--pl:32px;--pr:32px;--pt:19px;--pb:19px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#2B2829;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="5"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#B76C45;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUqWRqUEIz_childItem_5 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="5" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="5" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gmRdevyaL8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBcwzdnziq"
        class="gBcwzdnziq"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#575757;word-break:break-word;--pl:32px;--pr:32px;--pt:16px;--pb:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBcwzdnziq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#B76C45;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:1440px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px">
    <div data-index="6" class="gUqWRqUEIz gp-overflow-hidden gp-child-item-gUqWRqUEIz gp-accordion-item">
      <div aria-hidden uid="gd1v9pT1Xr" id="gd1v9pT1Xr" data-index="6"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gUqWRqUEIz gp-accordion-item-gUqWRqUEIz-6" style="--pl:32px;--pr:32px;--pt:19px;--pb:19px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#2B2829;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="6"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#B76C45;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUqWRqUEIz_childItem_6 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="6" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="6" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gCglMeBdjn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1s4qX_1x2"
        class="g1s4qX_1x2"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#575757;word-break:break-word;--pl:32px;--pr:32px;--pt:16px;--pb:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1s4qX_1x2_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-610169505800258263 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=610161848511103782&sectionId=610169505800258263)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5KxlZL4_M_text","label":"gg5KxlZL4_M_text","default":"<span style=\"color:#4C4E57;\">Why People</span> <span style=\"color:#B76C45;\">Trust Reviv</span>"},{"type":"html","id":"ggUqWRqUEIz_childItem_0","label":"ggUqWRqUEIz_childItem_0","default":"<p>Why do I keep clenching my jaw even with a traditional night guard?</p>"},{"type":"html","id":"ggUqWRqUEIz_childItem_1","label":"ggUqWRqUEIz_childItem_1","default":"<p>How is Reviv different from a standard mouthguard?</p>"},{"type":"html","id":"ggUqWRqUEIz_childItem_2","label":"ggUqWRqUEIz_childItem_2","default":"<p>Can orthodontics increase jaw tension or clenching?</p>"},{"type":"html","id":"ggUqWRqUEIz_childItem_3","label":"ggUqWRqUEIz_childItem_3","default":"<p>Is jaw clenching just stress?</p>"},{"type":"html","id":"ggUqWRqUEIz_childItem_4","label":"ggUqWRqUEIz_childItem_4","default":"<p><strong>Why do I wake up with neck and shoulder tension if the issue is in my jaw?</strong></p>"},{"type":"html","id":"ggUqWRqUEIz_childItem_5","label":"ggUqWRqUEIz_childItem_5","default":"<p><strong>Can Reviv change how clenching feels?</strong></p>"},{"type":"html","id":"ggUqWRqUEIz_childItem_6","label":"ggUqWRqUEIz_childItem_6","default":"<p><strong>Why would someone choose Reviv instead of more orthodontic work?</strong></p>"},{"type":"html","id":"ggDRC5Qwcg9_text","label":"ggDRC5Qwcg9_text","default":"<p>Most night guards are designed to protect your teeth, not address why you’re clenching. If the jaw position feels unstable or compressed, the body may continue activating the jaw muscles at night. Protection is not the same as structural support.</p>"},{"type":"html","id":"ggvsyGqkqA1_text","label":"ggvsyGqkqA1_text","default":"<p>Traditional guards create a barrier between teeth. Reviv is designed to support jaw positioning and help reduce compressive tension. The goal isn’t just to block grinding, but to change the conditions that trigger it.</p>"},{"type":"html","id":"ggEKXEHHxe0_text","label":"ggEKXEHHxe0_text","default":"<p>Some people report increased jaw tightness after extractions, fixed retainers, or aggressive orthodontic movement. If the dental arch is restricted, the jaw may compensate with muscular tension. Reviv focuses on reducing that tension rather than locking teeth into a fixed position.</p>"},{"type":"html","id":"ggchh1z1UCc_text","label":"ggchh1z1UCc_text","default":"<p>Stress can contribute, but many people clench even when they don’t feel mentally stressed. Structural compression or unstable bite patterns may also contribute to subconscious clenching.</p>"},{"type":"html","id":"ggt7m802Zaf_text","label":"ggt7m802Zaf_text","default":"<p>The jaw, neck, and upper body are closely connected. Chronic clenching can increase tension through the upper body. Some users report relief in surrounding areas once jaw tension decreases.</p>"},{"type":"html","id":"ggBcwzdnziq_text","label":"ggBcwzdnziq_text","default":"<p>Some users report becoming more aware of clenching when wearing it. Others notice gradual changes over weeks. The experience varies, and adaptation is part of the process.</p>"},{"type":"html","id":"gg1s4qX_1x2_text","label":"gg1s4qX_1x2_text","default":"<p>Orthodontics focuses on moving teeth into position. Reviv focuses on supporting jaw balance and reducing excess tension. For people whose clenching is driven by tension rather than misalignment alone, addressing the structure may change the pattern of clenching more effectively than simply repositioning teeth.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}