
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610230666352657307.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-610230666352657307.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-610230666352657307.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-610230666352657307.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610230666352657307.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-610230666352657307.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610230666352657307.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610230666352657307.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610230666352657307.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-610230666352657307.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610230666352657307.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610230666352657307.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610230666352657307.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610230666352657307.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-610230666352657307.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610230666352657307.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-610230666352657307.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610230666352657307.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610230666352657307.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-610230666352657307.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610230666352657307.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-610230666352657307.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-610230666352657307.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-610230666352657307.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610230666352657307.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610230666352657307.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-610230666352657307.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610230666352657307.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-610230666352657307.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610230666352657307.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-610230666352657307.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610230666352657307.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-610230666352657307.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610230666352657307.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-610230666352657307.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610230666352657307.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-610230666352657307.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-610230666352657307.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-610230666352657307.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610230666352657307.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610230666352657307.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610230666352657307.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-610230666352657307.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-610230666352657307.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-610230666352657307.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610230666352657307.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610230666352657307.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-610230666352657307.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-610230666352657307.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610230666352657307.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610230666352657307.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610230666352657307.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610230666352657307.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610230666352657307.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610230666352657307.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610230666352657307.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610230666352657307.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-610230666352657307.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610230666352657307.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610230666352657307.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-610230666352657307.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-610230666352657307.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-610230666352657307.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610230666352657307.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-610230666352657307.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-610230666352657307.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-610230666352657307.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-610230666352657307.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-610230666352657307.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-610230666352657307.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-610230666352657307.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-610230666352657307.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-610230666352657307.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-610230666352657307.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-610230666352657307.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-610230666352657307.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610230666352657307.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610230666352657307.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610230666352657307.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610230666352657307.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-610230666352657307.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-610230666352657307.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-610230666352657307.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-610230666352657307.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-610230666352657307.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-610230666352657307.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-610230666352657307.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-610230666352657307.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-610230666352657307.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-610230666352657307.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-610230666352657307.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-610230666352657307.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-610230666352657307.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-610230666352657307.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-610230666352657307.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-610230666352657307.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-610230666352657307.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-610230666352657307.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-610230666352657307.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-610230666352657307.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610230666352657307.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610230666352657307.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610230666352657307.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610230666352657307.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-610230666352657307.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-610230666352657307.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-610230666352657307.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-610230666352657307.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-610230666352657307 .gp-invisible{visibility:hidden}.gps-610230666352657307 .gp-absolute{position:absolute}.gps-610230666352657307 .gp-relative{position:relative}.gps-610230666352657307 .gp-top-0{top:0}.gps-610230666352657307 .-gp-z-1{z-index:-1}.gps-610230666352657307 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610230666352657307 .gp-mb-0{margin-bottom:0}.gps-610230666352657307 .gp-inline-block{display:inline-block}.gps-610230666352657307 .gp-flex{display:flex}.gps-610230666352657307 .gp-inline-flex{display:inline-flex}.gps-610230666352657307 .gp-grid{display:grid}.gps-610230666352657307 .gp-contents{display:contents}.gps-610230666352657307 .\!gp-hidden{display:none!important}.gps-610230666352657307 .gp-hidden{display:none}.gps-610230666352657307 .gp-h-auto{height:auto}.gps-610230666352657307 .gp-h-full{height:100%}.gps-610230666352657307 .gp-w-full{width:100%}.gps-610230666352657307 .gp-max-w-full{max-width:100%}.gps-610230666352657307 .gp-flex-none{flex:none}.gps-610230666352657307 .gp-shrink-0{flex-shrink:0}.gps-610230666352657307 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610230666352657307 .gp-flex-col{flex-direction:column}.gps-610230666352657307 .gp-items-center{align-items:center}.gps-610230666352657307 .gp-justify-center{justify-content:center}.gps-610230666352657307 .\!gp-self-center{align-self:center!important}.gps-610230666352657307 .gp-self-center{align-self:center}.gps-610230666352657307 .gp-overflow-hidden{overflow:hidden}.gps-610230666352657307 .gp-break-words{overflow-wrap:break-word}.gps-610230666352657307 .gp-border{border-width:1px}.gps-610230666352657307 .gp-border-transparent{border-color:transparent}.gps-610230666352657307 .gp-text-left{text-align:left}.gps-610230666352657307 .gp-text-center{text-align:center}.gps-610230666352657307 .gp-no-underline{text-decoration-line:none}.gps-610230666352657307 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610230666352657307 .gp-duration-200{transition-duration:.2s}.gps-610230666352657307 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610230666352657307 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-610230666352657307 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-610230666352657307 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-610230666352657307 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-610230666352657307 .tablet\:\!gp-relative{position:relative!important}.gps-610230666352657307 .tablet\:\!gp-hidden{display:none!important}.gps-610230666352657307 .tablet\:gp-hidden{display:none}.gps-610230666352657307 .tablet\:gp-h-auto{height:auto}.gps-610230666352657307 .tablet\:gp-flex-none{flex:none}.gps-610230666352657307 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-610230666352657307 .tablet\:gp-justify-center{justify-content:center}.gps-610230666352657307 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-610230666352657307 .mobile\:\!gp-relative{position:relative!important}.gps-610230666352657307 .mobile\:\!gp-hidden{display:none!important}.gps-610230666352657307 .mobile\:gp-hidden{display:none}.gps-610230666352657307 .mobile\:\!gp-h-auto{height:auto!important}.gps-610230666352657307 .mobile\:gp-h-auto{height:auto}.gps-610230666352657307 .mobile\:gp-flex-none{flex:none}.gps-610230666352657307 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-610230666352657307 .mobile\:gp-justify-start{justify-content:flex-start}.gps-610230666352657307 .mobile\:\!gp-self-center{align-self:center!important}}.gps-610230666352657307 .\[\&\>\*\>\*\]\:\!gp-justify-between>*>*{justify-content:space-between!important}@media (max-width:1024px){.gps-610230666352657307 .tablet\:\[\&\>\*\>\*\]\:\!gp-justify-between>*>*{justify-content:space-between!important}}@media (max-width:767px){.gps-610230666352657307 .mobile\:\[\&\>\*\>\*\]\:\!gp-justify-between>*>*{justify-content:space-between!important}}@media (max-width:1024px){.gps-610230666352657307 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-610230666352657307 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-610230666352657307 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-610230666352657307 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-610230666352657307 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-610230666352657307 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-610230666352657307 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-610230666352657307 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-610230666352657307 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-610230666352657307 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=-nFnOHM81r4j6k0gjAW3mujVU2B2G_Bx1A&skey=b35e2c4c711f6b3&v=v17) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiAw&skey=a0a0114a1dcab3ac&v=v51) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v17/-nFnOHM81r4j6k0gjAW3mujVU2B2G_5x0vrx52jJ3Q.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v17/-nFnOHM81r4j6k0gjAW3mujVU2B2G_Bx0vrx52g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmZiAz0klQmz24O0g&skey=a0a0114a1dcab3ac&v=v51) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmQiAz0klQmz24O0g&skey=a0a0114a1dcab3ac&v=v51) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmYiAz0klQmz24O0g&skey=a0a0114a1dcab3ac&v=v51) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmXiAz0klQmz24O0g&skey=a0a0114a1dcab3ac&v=v51) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* math */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVnoiAz0klQmz24O0g&skey=a0a0114a1dcab3ac&v=v51) format('woff');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0310, U+0312, U+0315, U+031A, U+0326-0327, U+032C, U+032F-0330, U+0332-0333, U+0338, U+033A, U+0346, U+034D, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2016-2017, U+2034-2038, U+203C, U+2040, U+2043, U+2047, U+2050, U+2057, U+205F, U+2070-2071, U+2074-208E, U+2090-209C, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2100-2112, U+2114-2115, U+2117-2121, U+2123-214F, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B7, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+3030, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVn6iAz0klQmz24O0g&skey=a0a0114a1dcab3ac&v=v51) format('woff');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA89, U+1FA8F-1FAC6, U+1FACE-1FADC, U+1FADF-1FAE9, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmbiAz0klQmz24O0g&skey=a0a0114a1dcab3ac&v=v51) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmaiAz0klQmz24O0g&skey=a0a0114a1dcab3ac&v=v51) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiAz0klQmz24&skey=a0a0114a1dcab3ac&v=v51) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"grQBU8NJwA"}' data-id="grQBU8NJwA" id="grQBU8NJwA" data-same-height-subgrid-container class="grQBU8NJwA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gK2WkAjnPA gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gCrdxG7PhT"
        class="gCrdxG7PhT gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-34px;--pt:0px;--mt-tablet:-34px;--pt-tablet:0px;--mt-mobile:-34px;--pt-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:554px;--h-tablet:554px;--h-mobile:fit-content"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}","width":1440,"height":507,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-b8297a45-ed4f-4b2c-ad7c-a640d43699bd.png"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}","width":1440,"height":507,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-b8297a45-ed4f-4b2c-ad7c-a640d43699bd.png"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}},"mobile":{"image":{"src":""},"type":"color","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","preload":false,"position":{"x":50,"y":0},"repeat":"no-repeat","attachment":"scroll","size":"cover","lazyLoad":false,"color":"#000000"}},"uid":"gCrdxG7PhT","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[6,6],"display":"fill","type":"left"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill","type":"center"}},"contentPosition1Col":{"desktop":"center","mobile":"top"},"contentPosition2Col":{"desktop":"center"},"sizeSetting":{"desktop":{"gap":"","height":"554px","hiddenShape":false,"shape":"custom","shapeLinked":false,"width":"100%","widthHeightLinked":false,"enableVideoShape":false,"customShapeValue":"","shapeValue":""},"tablet":{"gap":"","height":"554px","hiddenShape":false,"shape":"custom","shapeLinked":false,"width":"100%","widthHeightLinked":false,"enableVideoShape":false,"customShapeValue":"","shapeValue":""},"mobile":{"customShapeValue":"","gap":"","height":"fit-content","hiddenShape":false,"shape":"original","shapeLinked":true,"width":"100%","enableVideoShape":false}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-start" style="--h:554px;--h-tablet:554px;--h-mobile:fit-content;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:#000000;--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggCrdxG7PhT_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggCrdxG7PhT_background_desktop_image_src }});--bgi-mobile:url();--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgc-mobile:#000000;--bgp:50% 50%;--bgp-mobile:50% 0%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  [&>*>*]:!gp-justify-between tablet:[&>*>*]:!gp-justify-between mobile:[&>*>*]:!gp-justify-between undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:21px;--pb-mobile:21px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:start">
      

      <div
      data-same-height-display-contents
      style="--jc:space-between;--o:0"
      class="gpfcBm-uR2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYKZQCVLI-"
        class="gYKZQCVLI-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-tablet:20px;--mb-mobile:7px;--pt-mobile:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-DM-Serif-Display, 'DM Serif Display'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#EFEFEF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYKZQCVLI-_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEl4SkdKWd"
        class="gEl4SkdKWd"
        style="--ta:left;--mb:20px;--mb-tablet:20px;--mb-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEl4SkdKWd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-tablet:20px;--mb-mobile:20px;--ta:left;--ta-mobile:center" >
        <style>[data-id="gxVLcrrGI4"].gp-button-base::before, [data-id="gxVLcrrGI4-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ECBF7C;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gxVLcrrGI4"]:hover::before, [data-id="gxVLcrrGI4-interaction"]:hover::before {
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ECBF7C;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  }</style>
        
        <a
          data-id="gxVLcrrGI4" dataId="gxVLcrrGI4" data-state="idle" aria-label="<p>Support My Jaw Balance</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--bgi:;--hvr-bgi:;--hvr-bg:rgba(229, 192, 133, 0.15);--bg:transparent;--hvr-c:#E5C085;--c:#ECBF7C;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gxVLcrrGI4 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggxVLcrrGI4_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  <div gp-el-wrapper  class="g7us2vS7T3 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g7us2vS7T3"
      data-id="g7us2vS7T3"
      style="--mb:20px;--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="g7us2vS7T3"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"24"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g7us2vS7T3"
                      style="--cg:0px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#A7A6A6;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg height="20" width="20" data-name="dot-outline-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817731477569896">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7us2vS7T3_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g7us2vS7T3"
                      style="--cg:0px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#A7A6A6;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg height="20" width="20" data-name="dot-outline-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817731477569896">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7us2vS7T3_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g7us2vS7T3"
                      style="--cg:0px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#A7A6A6;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg height="20" width="20" data-name="dot-outline-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817731477569896">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7us2vS7T3_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:space-between;--o:1"
      class="gFt-IakLn8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gPxfMxaT2O"
      style="--d:none;--d-tablet:none;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775486043753 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gPxfMxaT2O"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggPxfMxaT2O_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzU0IiBoZWlnaHQ9IjUwNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzU0LTUwNyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzU0IiBoZWlnaHQ9IjUwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzU0IiBoZWlnaHQ9IjUwNyIgZmlsbD0idXJsKCNnLTc1NC01MDcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NTQiIHRvPSI3NTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggPxfMxaT2O_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggPxfMxaT2O_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggPxfMxaT2O_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}" srcset="{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}" srcset="{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}" data-src="{{ section.settings.ggCrdxG7PhT_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--aspect-mobile:auto;--d:none;--d-tablet:none;--d-mobile:none;--h:554px;--h-tablet:554px;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-610230666352657307 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607089014578611098&sectionId=610230666352657307)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCrdxG7PhT_background_desktop_image_src","label":"ggCrdxG7PhT_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Refinement_Starts.png"},{"type":"html","id":"ggCrdxG7PhT_background_mobile_videoHtml5","label":"ggCrdxG7PhT_background_mobile_videoHtml5","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggYKZQCVLI-_text","label":"ggYKZQCVLI-_text","default":"Refinement Starts&nbsp;<br>With Positioning."},{"type":"html","id":"ggEl4SkdKWd_text","label":"ggEl4SkdKWd_text","default":"<p>Small nightly positioning support may&nbsp;</p><p>influence how your jawline rests over time.</p>"},{"type":"html","id":"ggxVLcrrGI4_label","label":"ggxVLcrrGI4_label","default":"<p>Support My Jaw Balance</p>"},{"type":"html","id":"gg7us2vS7T3_childItem_0","label":"gg7us2vS7T3_childItem_0","default":"<p><strong>Price: $150</strong></p>"},{"type":"html","id":"gg7us2vS7T3_childItem_1","label":"gg7us2vS7T3_childItem_1","default":"<p>Includes Access To Skool Community &amp; Support</p>"},{"type":"html","id":"gg7us2vS7T3_childItem_2","label":"gg7us2vS7T3_childItem_2","default":"<p>1-Year Replacement Warranty</p>"},{"type":"html","id":"ggPxfMxaT2O_srcSet_desktop_src","label":"ggPxfMxaT2O_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"},{"type":"html","id":"ggPxfMxaT2O_srcSet_mobile_src","label":"ggPxfMxaT2O_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Refinement_Starts_mobile.jpg"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}