
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609711733270905774.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-609711733270905774.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609711733270905774.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609711733270905774.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609711733270905774.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-609711733270905774.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609711733270905774.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609711733270905774.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609711733270905774.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-609711733270905774.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609711733270905774.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609711733270905774.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609711733270905774.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609711733270905774.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-609711733270905774.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609711733270905774.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-609711733270905774.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609711733270905774.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609711733270905774.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-609711733270905774.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609711733270905774.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-609711733270905774.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609711733270905774.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609711733270905774.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609711733270905774.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-609711733270905774.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609711733270905774.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-609711733270905774.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609711733270905774.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-609711733270905774.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609711733270905774.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609711733270905774.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609711733270905774.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-609711733270905774.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609711733270905774.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609711733270905774.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609711733270905774.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609711733270905774.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-609711733270905774.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609711733270905774.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609711733270905774.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609711733270905774.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-609711733270905774.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609711733270905774.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609711733270905774.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609711733270905774.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609711733270905774.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609711733270905774.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609711733270905774.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-609711733270905774.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609711733270905774.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609711733270905774.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609711733270905774.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609711733270905774.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609711733270905774.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609711733270905774.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609711733270905774.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609711733270905774.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-609711733270905774.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609711733270905774.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609711733270905774.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609711733270905774.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609711733270905774.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-609711733270905774.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609711733270905774.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609711733270905774.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609711733270905774.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-609711733270905774.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609711733270905774.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-609711733270905774.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609711733270905774.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609711733270905774.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609711733270905774.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-609711733270905774.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609711733270905774.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609711733270905774.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609711733270905774.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609711733270905774.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-609711733270905774.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-609711733270905774.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609711733270905774.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609711733270905774.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-609711733270905774.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-609711733270905774.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609711733270905774.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609711733270905774.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609711733270905774.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-609711733270905774.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609711733270905774.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609711733270905774.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609711733270905774.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-609711733270905774.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-609711733270905774.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609711733270905774.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609711733270905774.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609711733270905774.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609711733270905774.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-609711733270905774.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-609711733270905774.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609711733270905774.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609711733270905774 .gp-relative{position:relative}.gps-609711733270905774 .gp-z-1{z-index:1}.gps-609711733270905774 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609711733270905774 .gp-mb-0{margin-bottom:0}.gps-609711733270905774 .gp-flex{display:flex}.gps-609711733270905774 .gp-inline-flex{display:inline-flex}.gps-609711733270905774 .gp-grid{display:grid}.gps-609711733270905774 .\!gp-hidden{display:none!important}.gps-609711733270905774 .gp-hidden{display:none}.gps-609711733270905774 .gp-h-full{height:100%}.gps-609711733270905774 .gp-w-full{width:100%}.gps-609711733270905774 .\!gp-max-w-none{max-width:none!important}.gps-609711733270905774 .gp-max-w-full{max-width:100%}.gps-609711733270905774 .gp-shrink-0{flex-shrink:0}.gps-609711733270905774 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609711733270905774 .gp-flex-col{flex-direction:column}.gps-609711733270905774 .gp-items-center{align-items:center}.gps-609711733270905774 .gp-justify-center{justify-content:center}.gps-609711733270905774 .gp-overflow-hidden{overflow:hidden}.gps-609711733270905774 .gp-break-words{overflow-wrap:break-word}.gps-609711733270905774 .gp-border{border-width:1px}.gps-609711733270905774 .gp-border-transparent{border-color:transparent}.gps-609711733270905774 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-609711733270905774 .gp-text-left{text-align:left}.gps-609711733270905774 .gp-text-center{text-align:center}.gps-609711733270905774 .gp-no-underline{text-decoration-line:none}.gps-609711733270905774 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609711733270905774 .gp-duration-200{transition-duration:.2s}.gps-609711733270905774 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609711733270905774 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609711733270905774 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609711733270905774 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609711733270905774 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609711733270905774 .tablet\:\!gp-hidden{display:none!important}.gps-609711733270905774 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-609711733270905774 .mobile\:\!gp-hidden{display:none!important}.gps-609711733270905774 .mobile\:gp-hidden{display:none}}.gps-609711733270905774 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-609711733270905774 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-609711733270905774 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-609711733270905774 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-609711733270905774 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-609711733270905774 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-609711733270905774 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-609711733270905774 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-609711733270905774 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-609711733270905774 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-609711733270905774 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609711733270905774 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-609711733270905774 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-609711733270905774 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-609711733270905774 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v17/-nFnOHM81r4j6k0gjAW3mujVU2B2K_c.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#232021","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gAAyIGVHJX"}' data-id="gAAyIGVHJX" id="gAAyIGVHJX" data-same-height-subgrid-container class="gAAyIGVHJX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:16px;--pb:64px;--pr:16px;--pt-tablet:80px;--pl-tablet:16px;--pb-tablet:64px;--pr-tablet:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:64px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXkWwYWlBy gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDkDc-OMuK"}' data-id="gDkDc-OMuK" id="gDkDc-OMuK" data-same-height-subgrid-container class="gDkDc-OMuK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--mb-tablet:30px;--mb-mobile:24px;--cg:40px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:1240px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gJfddQEUPe gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmyneovrMO"}' data-id="gmyneovrMO" id="gmyneovrMO" data-same-height-subgrid-container class="gmyneovrMO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtuopH0fPJ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gC9kWeYxVp"}' data-id="gC9kWeYxVp" id="gC9kWeYxVp" data-same-height-subgrid-container class="gC9kWeYxVp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-tablet:20px;--mb-mobile:20px;--cg:12px;--cg-mobile:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gVJdL3MNJh gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left" >
        <style>[data-id="gPZ_C0Aroa"].gp-button-base::before, [data-id="gPZ_C0Aroa-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gPZ_C0Aroa"]:hover::before, [data-id="gPZ_C0Aroa-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gPZ_C0Aroa" dataId="gPZ_C0Aroa" data-state="idle" aria-label="<p>4.9 Rated</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:10px;--pr:10px;--pt:4px;--pb:4px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--bgi:linear-gradient(0deg, #efbd59 0%, #d2920f 100%);--bg:linear-gradient(0deg, #efbd59 0%, #d2920f 100%);--c:#232021;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:20px;--lh-tablet:180%;--lh-mobile:180%"
          class="gPZ_C0Aroa gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:20px;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word;--mr:4px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:20px;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggPZ_C0Aroa_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gSwsSew4Xf gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYToAcNRNI"
        class="gYToAcNRNI"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:20px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYToAcNRNI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggiToEROlT"
        class="ggiToEROlT"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-tablet:20px;--mb-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-DM-Serif-Display, 'DM Serif Display'), var(--g-font-heading, heading);--weight:400;--size:62px;--size-tablet:52px;--size-mobile:46px;--lh:70px;--lh-tablet:130%;--lh-mobile:130%;--c:#EFEFEF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggiToEROlT_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="garGQspN46"
        class="garGQspN46"
        style="--ta:left;--mb:20px;--mb-tablet:20px;--mb-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:14px;--lh:30px;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggarGQspN46_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gfHWt5cJ3n"}' data-id="gfHWt5cJ3n" id="gfHWt5cJ3n" data-same-height-subgrid-container class="gfHWt5cJ3n gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:1px;--mb:0px;--ml-mobile:auto;--mb-mobile:14px;--cg:8px;--gtc:minmax(0, 12fr);--w:370px;--w-tablet:370px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxHPsJPkQf gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ta:left" >
        <style>[data-id="gRA2034cRL"].gp-button-base::before, [data-id="gRA2034cRL-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gRA2034cRL"]:hover::before, [data-id="gRA2034cRL-interaction"]:hover::before {
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  }</style>
        
        <a
          data-id="gRA2034cRL" dataId="gRA2034cRL" data-state="idle" aria-label="<p>Support My Alignment</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--bgi:;--hvr-bgi:;--hvr-bg:#EFC98B;--bg:#ECBF7C;--hvr-c:#232021;--c:#121212;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gRA2034cRL gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggRA2034cRL_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  <div gp-el-wrapper  class="gb4VleyePP ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gb4VleyePP"
      data-id="gb4VleyePP"
      style="--shadow:none;--d:none;--d-mobile:flex;--d-tablet:none;--op:100%;--op-mobile:100%;--mb:4px;--mb-mobile:0px;--jc:left;--jc-mobile:center"
      className="gb4VleyePP"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":16,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left;--jc-mobile:center">
            <div class="gp-inline-flex gp-flex-col" style="--rg:10px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gb4VleyePP"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#A982FF;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggb4VleyePP_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gb4VleyePP"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#A982FF;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggb4VleyePP_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gb4VleyePP"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#A982FF;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggb4VleyePP_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type == 'product'
          if 'static' == 'static'
            if '9393559109873' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at' | reverse | first
              endpaginate
            else
              assign product = all_products['r3-revivthree-without-support']
              assign productId = '9393559109873' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        else
          if '9393559109873' == 'latest'
            paginate collections.all.products by 100000
              assign product = collections.all.products | sort: 'created_at'| reverse | first
            endpaginate
          else
            assign product = all_products['r3-revivthree-without-support']
            assign productId = '9393559109873' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "g6-V-8qQBh" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="g6-V-8qQBh"
        data-id="g6-V-8qQBh"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "hasPreSelected": true, "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity | default: 0 }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent"}},"uid":"g6-V-8qQBh"}' data-id="g6-V-8qQBh-row" id="g6-V-8qQBh" data-same-height-subgrid-container class="g6-V-8qQBh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:32px;--rg:16px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="got1fgvc6Y gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gjUViiaPGH ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gjUViiaPGH"
      data-id="gjUViiaPGH"
      style="--mb:40px;--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gjUViiaPGH"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"32"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gjUViiaPGH"
                      style="--cg:0px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg height="20" width="20" data-name="dot-outline-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817731477569896">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:140%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjUViiaPGH_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gjUViiaPGH"
                      style="--cg:0px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg height="20" width="20" data-name="dot-outline-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817731477569896">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:140%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjUViiaPGH_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gjUViiaPGH"
                      style="--cg:0px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:32px;--size-tablet:32px;--size-mobile:32px"
                        >
                          <svg height="20" width="20" data-name="dot-outline-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817731477569896">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:140%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjUViiaPGH_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="ga0YUGse4b gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="g31dndNrkY" class="g31dndNrkY !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--op:100%;--aspect:1/1">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-g31dndNrkY" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/bc00a5a4a2904a0590fe9b37e3fa8c28.mp4" poster data-poster
      style="--aspect:1/1"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-609711733270905774 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609711152007480311&sectionId=609711733270905774)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggPZ_C0Aroa_label","label":"ggPZ_C0Aroa_label","default":"<p>4.9 Rated</p>"},{"type":"html","id":"ggYToAcNRNI_text","label":"ggYToAcNRNI_text","default":"<p>by satisfied customers</p>"},{"type":"html","id":"gggiToEROlT_text","label":"gggiToEROlT_text","default":"Your Neck Carries<br>More Than Just&nbsp;<br>Your Head."},{"type":"html","id":"ggarGQspN46_text","label":"ggarGQspN46_text","default":"<p>Daily screen habits can shift head alignment forward.</p><p>Reviv is designed to support balanced jaw positioning and encourage more aligned head posture overnight.</p>"},{"type":"html","id":"ggRA2034cRL_label","label":"ggRA2034cRL_label","default":"<p>Support My Alignment</p>"},{"type":"html","id":"ggb4VleyePP_childItem_0","label":"ggb4VleyePP_childItem_0","default":"<p>Premium Quality</p>"},{"type":"html","id":"ggb4VleyePP_childItem_1","label":"ggb4VleyePP_childItem_1","default":"<p>Sleek &amp; Functional Design</p>"},{"type":"html","id":"ggb4VleyePP_childItem_2","label":"ggb4VleyePP_childItem_2","default":"<p>Versatile Options</p>"},{"type":"html","id":"ggjUViiaPGH_childItem_0","label":"ggjUViiaPGH_childItem_0","default":"<p><strong>Price: $150&nbsp;</strong></p>"},{"type":"html","id":"ggjUViiaPGH_childItem_1","label":"ggjUViiaPGH_childItem_1","default":"<p>Includes Access To Skool Community &amp; Support</p>"},{"type":"html","id":"ggjUViiaPGH_childItem_2","label":"ggjUViiaPGH_childItem_2","default":"<p>1-Year Replacement Warranty</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}