
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609725446950486601.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609725446950486601.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609725446950486601.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609725446950486601.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609725446950486601.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609725446950486601.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609725446950486601.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609725446950486601.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609725446950486601.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609725446950486601.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609725446950486601.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609725446950486601.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609725446950486601.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609725446950486601.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609725446950486601.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609725446950486601.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609725446950486601.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609725446950486601.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609725446950486601.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609725446950486601.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609725446950486601.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609725446950486601.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609725446950486601.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609725446950486601.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609725446950486601.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609725446950486601.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609725446950486601.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609725446950486601.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609725446950486601.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609725446950486601.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609725446950486601.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609725446950486601.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609725446950486601.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609725446950486601.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609725446950486601.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609725446950486601.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609725446950486601.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609725446950486601.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609725446950486601.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609725446950486601.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609725446950486601.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609725446950486601.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609725446950486601.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609725446950486601.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609725446950486601.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609725446950486601.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609725446950486601.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609725446950486601.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609725446950486601.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609725446950486601.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609725446950486601.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609725446950486601.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609725446950486601.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609725446950486601.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609725446950486601.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-609725446950486601.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609725446950486601.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609725446950486601.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609725446950486601.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609725446950486601.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609725446950486601.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609725446950486601.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609725446950486601.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609725446950486601.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609725446950486601.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609725446950486601.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609725446950486601.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609725446950486601 .gp-relative{position:relative}.gps-609725446950486601 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609725446950486601 .gp-mb-0{margin-bottom:0}.gps-609725446950486601 .gp-flex{display:flex}.gps-609725446950486601 .gp-grid{display:grid}.gps-609725446950486601 .\!gp-hidden{display:none!important}.gps-609725446950486601 .gp-hidden{display:none}.gps-609725446950486601 .gp-max-w-full{max-width:100%}.gps-609725446950486601 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609725446950486601 .gp-flex-col{flex-direction:column}.gps-609725446950486601 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609725446950486601 .gp-duration-200{transition-duration:.2s}.gps-609725446950486601 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609725446950486601 .tablet\:\!gp-hidden{display:none!important}.gps-609725446950486601 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-609725446950486601 .mobile\:\!gp-hidden{display:none!important}.gps-609725446950486601 .mobile\:gp-hidden{display:none}}.gps-609725446950486601 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v17/-nFnOHM81r4j6k0gjAW3mujVU2B2K_c.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#232021","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gFHvhho5ac"}' data-id="gFHvhho5ac" id="gFHvhho5ac" data-same-height-subgrid-container class="gFHvhho5ac gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:80px;--pb:80px;--pt-tablet:80px;--pb-tablet:80px;--pt-mobile:40px;--pb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBH0dGr5Jf gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gxpGSPLj-j"}' data-id="gxpGSPLj-j" id="gxpGSPLj-j" data-same-height-subgrid-container class="gxpGSPLj-j gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gTPJU10pk8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grgSwbCIb-"
        class="grgSwbCIb-"
        style="--ta:left;--mb:40px;--mb-tablet:40px;--mb-mobile:40px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ff:var(--g-font-DM-Serif-Display, 'DM Serif Display'), var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:42px;--size-mobile:41px;--lh:50px;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrgSwbCIb-_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gL4iRgpgCn"}' data-id="gL4iRgpgCn" id="gL4iRgpgCn" data-same-height-subgrid-container class="gL4iRgpgCn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--rg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:800px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBSfdfsEWN gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gHtH_bTTa9"}' data-id="gHtH_bTTa9" id="gHtH_bTTa9" data-same-height-subgrid-container class="gHtH_bTTa9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCaXsELO87 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfY29XKMe6"
        class="gfY29XKMe6"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:#2D2D2D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfY29XKMe6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBxGjjw7m9"
        class="gBxGjjw7m9"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:solid;--bc:#3D3A3B;--bw:0px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBxGjjw7m9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gL2kv_QW2i"
        class="gL2kv_QW2i"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:solid;--bc:#3D3A3B;--bw:0px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:21px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggL2kv_QW2i_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6pTNSth6M"
        class="g6pTNSth6M"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:solid;--bc:#3D3A3B;--bw:0px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:21px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6pTNSth6M_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gtzZmNY2ja gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gtTgjZwWm3"}' data-id="gtTgjZwWm3" id="gtTgjZwWm3" data-same-height-subgrid-container class="gtTgjZwWm3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2zhRkt_P0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1jmIL30Ur"
        class="g1jmIL30Ur"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:#2D2D2D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1jmIL30Ur_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmsU4QiCcH"
        class="gmsU4QiCcH"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:solid;--bc:#3D3A3B;--bw:0px 1px 1px 0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmsU4QiCcH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLplS14He5"
        class="gLplS14He5"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:solid;--bc:#3D3A3B;--bw:0px 1px 1px 0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:21px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLplS14He5_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjqyqO5z1h"
        class="gjqyqO5z1h"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:solid;--bc:#3D3A3B;--bw:0px 1px 1px 0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:21px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjqyqO5z1h_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g8RVTVyGnY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gmd8_GQXrd"}' data-id="gmd8_GQXrd" id="gmd8_GQXrd" data-same-height-subgrid-container class="gmd8_GQXrd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gef_llUguZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1l_MSlsE-"
        class="g1l_MSlsE-"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#232021;--tt:none;word-break:break-word;--bgc:#ECBF7C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1l_MSlsE-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVNMOqqfW9"
        class="gVNMOqqfW9"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:solid;--bc:#3D3A3B;--bw:0px 1px 1px 0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:#2B2725;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVNMOqqfW9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gag3QRP5sO"
        class="gag3QRP5sO"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:solid;--bc:#3D3A3B;--bw:0px 1px 1px 0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:21px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:#2B2725;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggag3QRP5sO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWWqw_pcCs"
        class="gWWqw_pcCs"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:solid;--bc:#3D3A3B;--bw:0px 1px 1px 0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:21px;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:#2B2725;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:10px;--pb:10px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWWqw_pcCs_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-609725446950486601 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609711152007480311&sectionId=609725446950486601)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggrgSwbCIb-_text","label":"ggrgSwbCIb-_text","default":"Not a Traditional Mouth Guard."},{"type":"html","id":"ggfY29XKMe6_text","label":"ggfY29XKMe6_text","default":"<p>Features</p>"},{"type":"html","id":"ggBxGjjw7m9_text","label":"ggBxGjjw7m9_text","default":"<p>Design</p>"},{"type":"html","id":"ggL2kv_QW2i_text","label":"ggL2kv_QW2i_text","default":"<p>Focused Area</p>"},{"type":"html","id":"gg6pTNSth6M_text","label":"gg6pTNSth6M_text","default":"<p>Approach</p>"},{"type":"html","id":"gg1jmIL30Ur_text","label":"gg1jmIL30Ur_text","default":"<p>Traditional Guard</p>"},{"type":"html","id":"ggmsU4QiCcH_text","label":"ggmsU4QiCcH_text","default":"<p>Mainly to Protect teeth</p>"},{"type":"html","id":"ggLplS14He5_text","label":"ggLplS14He5_text","default":"<p>On buffering contact</p>"},{"type":"html","id":"ggjqyqO5z1h_text","label":"ggjqyqO5z1h_text","default":"<p>Surface-level approach</p>"},{"type":"html","id":"gg1l_MSlsE-_text","label":"gg1l_MSlsE-_text","default":"<p>Reviv</p>"},{"type":"html","id":"ggVNMOqqfW9_text","label":"ggVNMOqqfW9_text","default":"<p>To Support jaw positioning</p>"},{"type":"html","id":"ggag3QRP5sO_text","label":"ggag3QRP5sO_text","default":"<p>Built with alignment in mind</p>"},{"type":"html","id":"ggWWqw_pcCs_text","label":"ggWWqw_pcCs_text","default":"<p>Focused on structural balance</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}