
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-603932950790734751.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-603932950790734751.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-603932950790734751.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-603932950790734751.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-603932950790734751.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-603932950790734751.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-603932950790734751.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-603932950790734751.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-603932950790734751.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-603932950790734751.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-603932950790734751.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-603932950790734751.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-603932950790734751.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-603932950790734751.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-603932950790734751.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-603932950790734751.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-603932950790734751.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-603932950790734751.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-603932950790734751.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-603932950790734751.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-603932950790734751.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-603932950790734751.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-603932950790734751.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-603932950790734751.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-603932950790734751.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-603932950790734751.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-603932950790734751.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-603932950790734751.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-603932950790734751.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-603932950790734751.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-603932950790734751.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-603932950790734751.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-603932950790734751.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-603932950790734751.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-603932950790734751.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-603932950790734751.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-603932950790734751.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-603932950790734751.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-603932950790734751.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-603932950790734751.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-603932950790734751.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-603932950790734751.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-603932950790734751.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-603932950790734751.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-603932950790734751.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-603932950790734751.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-603932950790734751.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-603932950790734751.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-603932950790734751.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-603932950790734751.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-603932950790734751.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-603932950790734751.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-603932950790734751.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-603932950790734751.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-603932950790734751.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-603932950790734751.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-603932950790734751.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-603932950790734751.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-603932950790734751.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-603932950790734751.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-603932950790734751.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-603932950790734751.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-603932950790734751.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-603932950790734751.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-603932950790734751.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-603932950790734751.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-603932950790734751.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-603932950790734751.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-603932950790734751.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-603932950790734751.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-603932950790734751.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-603932950790734751.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-603932950790734751.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-603932950790734751.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-603932950790734751.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-603932950790734751.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-603932950790734751.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-603932950790734751.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-603932950790734751.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-603932950790734751.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-603932950790734751.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-603932950790734751.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-603932950790734751.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-603932950790734751.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-603932950790734751.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-603932950790734751.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-603932950790734751.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-603932950790734751 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-603932950790734751 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-603932950790734751 .gp-invisible{visibility:hidden}.gps-603932950790734751 .gp-absolute{position:absolute}.gps-603932950790734751 .gp-relative{position:relative}.gps-603932950790734751 .gp-inset-0{inset:0}.gps-603932950790734751 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-603932950790734751 .gp-top-0{top:0}.gps-603932950790734751 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-603932950790734751 .-gp-z-1{z-index:-1}.gps-603932950790734751 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-603932950790734751 .gp-mb-0{margin-bottom:0}.gps-603932950790734751 .gp-flex{display:flex}.gps-603932950790734751 .gp-grid{display:grid}.gps-603932950790734751 .\!gp-hidden{display:none!important}.gps-603932950790734751 .gp-hidden{display:none}.gps-603932950790734751 .gp-h-full{height:100%}.gps-603932950790734751 .gp-w-full{width:100%}.gps-603932950790734751 .gp-max-w-full{max-width:100%}.gps-603932950790734751 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-603932950790734751 .gp-flex-col{flex-direction:column}.gps-603932950790734751 .\!gp-content-stretch{align-content:stretch!important}.gps-603932950790734751 .gp-items-center{align-items:center}.gps-603932950790734751 .gp-justify-start{justify-content:flex-start}.gps-603932950790734751 .\!gp-self-center{align-self:center!important}.gps-603932950790734751 .gp-self-center{align-self:center}.gps-603932950790734751 .gp-overflow-hidden{overflow:hidden}.gps-603932950790734751 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-603932950790734751 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-603932950790734751 .gp-duration-200{transition-duration:.2s}.gps-603932950790734751 .gp-duration-300{transition-duration:.3s}.gps-603932950790734751 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-603932950790734751 .tablet\:\!gp-relative{position:relative!important}.gps-603932950790734751 .tablet\:\!gp-hidden{display:none!important}.gps-603932950790734751 .tablet\:gp-hidden{display:none}.gps-603932950790734751 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-603932950790734751 .tablet\:gp-justify-start{justify-content:flex-start}.gps-603932950790734751 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-603932950790734751 .mobile\:\!gp-relative{position:relative!important}.gps-603932950790734751 .mobile\:\!gp-hidden{display:none!important}.gps-603932950790734751 .mobile\:gp-hidden{display:none}.gps-603932950790734751 .mobile\:\!gp-h-auto{height:auto!important}.gps-603932950790734751 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-603932950790734751 .mobile\:gp-justify-start{justify-content:flex-start}.gps-603932950790734751 .mobile\:\!gp-self-center{align-self:center!important}}.gps-603932950790734751 .\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}@media (max-width:1024px){.gps-603932950790734751 .tablet\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}@media (max-width:767px){.gps-603932950790734751 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-603932950790734751 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF7F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtr2dHJTEK"}' data-id="gtr2dHJTEK" id="gtr2dHJTEK" data-same-height-subgrid-container class="gtr2dHJTEK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:none;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--pt-tablet:80px;--pl-tablet:0px;--pb-tablet:80px;--pr-tablet:0px;--mt-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFF7F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvBLhpnGnz gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"HeroBanner","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
      <gp-hero-banner
        
        data-id="gO_3djyy9r"
        class="gO_3djyy9r gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--d:flex;--d-tablet:flex;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--mb:0px;--mb-tablet:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--w:101%;--w-tablet:100%;--w-mobile:100%;--h:110vh;--h-tablet:100vh;--h-mobile:286px"
        gp-data='{"background":{"desktop":{"type":"image","image":{"src":"{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}","width":3072,"height":1831,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-3755d110-d34f-4f0c-8ede-fb9970403651.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false},"tablet":{"type":"image","image":{"src":"{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}","width":3072,"height":1831,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-3755d110-d34f-4f0c-8ede-fb9970403651.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false},"mobile":{"type":"image","image":{"src":"{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}","width":3072,"height":1831,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-3755d110-d34f-4f0c-8ede-fb9970403651.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false}},"uid":"gO_3djyy9r","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[12],"display":"fill","type":"center-top"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"top"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"shape":"custom","widthHeightLinked":false,"width":"101%","shapeVideo":"16/9","enableVideoShape":false,"gap":"","shapeLinked":false,"height":"110vh","customShapeValue":"","shapeValue":""},"tablet":{"shape":"custom","widthHeightLinked":false,"width":"100%","shapeVideo":"16/9","enableVideoShape":false,"gap":"","shapeLinked":false,"height":"100vh","customShapeValue":"","shapeValue":""},"mobile":{"shape":"custom","width":"100%","shapeVideo":"custom","enableVideoShape":false,"widthHeightLinked":false,"height":"286px","gap":"","shapeLinked":false,"customShapeValue":"","shapeValue":""}},"videoObjectFit":{"desktop":"cover","tablet":"cover","mobile":"cover"},"target":"_self","href":"","linkType":"","hoverEffectDuration":"0.5s","isYoutubeVideoMigrated":false}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-start tablet:gp-justify-start mobile:gp-justify-start" style="--h:110vh;--h-tablet:100vh;--h-mobile:286px">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggO_3djyy9r_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggO_3djyy9r_background_desktop_image_src }});--bgi-mobile:url({{ section.settings.ggO_3djyy9r_background_desktop_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300" style="--bgc:#121212;--op:10%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-start tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-start mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:start;--pc-tablet:start;--pc-mobile:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="gM2Hc0w81a gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjmaUQCc4S"
        class="gjmaUQCc4S"
        style="--ta:left;--mt:24px;--mb:var(--g-s-l);--mt-tablet:24px;--mb-tablet:var(--g-s-l);--mt-mobile:0px;--ml-mobile:65px;--mb-mobile:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:right;--ta-mobile:right;--size:38px;--size-tablet:46px;--size-mobile:26px;--fs:italic;--weight:bold;--c:#4C4940;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjmaUQCc4S_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0-s71QW71"
        class="g0-s71QW71"
        style="--ta:left;--mt:1px;--ml:565px;--mt-tablet:1px;--ml-tablet:565px;--mt-mobile:-31px;--mb-mobile:0px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:16px;--size-mobile:19px;--weight:bold;--c:#7A755D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0-s71QW71_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" srcset="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" srcset="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}" data-src="{{ section.settings.ggO_3djyy9r_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:110vh;--h-tablet:100vh;--h-mobile:286px;--w:101%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-603932950790734751 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=603932950723036063&sectionId=603932950790734751)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggO_3djyy9r_background_desktop_image_src","label":"ggO_3djyy9r_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/ChatGPT_Image_22_2026_16_01_50-Picsart-AiImageEnhancer_28509675-b3d0-459f-a8cc-a13715df34d7.png"},{"type":"html","id":"ggjmaUQCc4S_text","label":"ggjmaUQCc4S_text","default":"Wake Up to a Tension-Free Jaw"},{"type":"html","id":"gg0-s71QW71_text","label":"gg0-s71QW71_text","default":"<p><span style=\"color:#7A755D;font-size:21px;\">The non-invasive way to decompress your jaw muscles and protect your teeth while you sleep. Designed for lasting comfort and better rest.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}