
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609722536271283118.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609722536271283118.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609722536271283118.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609722536271283118.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609722536271283118.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609722536271283118.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609722536271283118.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609722536271283118.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609722536271283118.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609722536271283118.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609722536271283118.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609722536271283118.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609722536271283118.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609722536271283118.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609722536271283118.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609722536271283118.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609722536271283118.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609722536271283118.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609722536271283118.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609722536271283118.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609722536271283118.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609722536271283118.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609722536271283118.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609722536271283118.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609722536271283118.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609722536271283118.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609722536271283118.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609722536271283118.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609722536271283118.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609722536271283118.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609722536271283118.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609722536271283118.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609722536271283118.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609722536271283118.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609722536271283118.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609722536271283118.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609722536271283118.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609722536271283118.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609722536271283118.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609722536271283118.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609722536271283118.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609722536271283118.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609722536271283118.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609722536271283118.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609722536271283118.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609722536271283118.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609722536271283118.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609722536271283118.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609722536271283118.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609722536271283118.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609722536271283118.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609722536271283118.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609722536271283118.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609722536271283118.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609722536271283118.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609722536271283118.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609722536271283118.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-609722536271283118.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609722536271283118.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609722536271283118.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609722536271283118.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609722536271283118.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609722536271283118.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-609722536271283118.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609722536271283118.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609722536271283118.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609722536271283118.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609722536271283118.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609722536271283118.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609722536271283118.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609722536271283118.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609722536271283118.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-609722536271283118.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609722536271283118.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609722536271283118.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609722536271283118.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609722536271283118.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609722536271283118.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609722536271283118.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609722536271283118.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609722536271283118 .gp-relative{position:relative}.gps-609722536271283118 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609722536271283118 .gp-mb-0{margin-bottom:0}.gps-609722536271283118 .gp-inline-block{display:inline-block}.gps-609722536271283118 .gp-flex{display:flex}.gps-609722536271283118 .gp-grid{display:grid}.gps-609722536271283118 .gp-contents{display:contents}.gps-609722536271283118 .\!gp-hidden{display:none!important}.gps-609722536271283118 .gp-hidden{display:none}.gps-609722536271283118 .gp-h-auto{height:auto}.gps-609722536271283118 .gp-h-full{height:100%}.gps-609722536271283118 .gp-w-full{width:100%}.gps-609722536271283118 .gp-max-w-full{max-width:100%}.gps-609722536271283118 .gp-flex-none{flex:none}.gps-609722536271283118 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609722536271283118 .gp-flex-col{flex-direction:column}.gps-609722536271283118 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609722536271283118 .gp-duration-200{transition-duration:.2s}.gps-609722536271283118 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609722536271283118 .tablet\:\!gp-hidden{display:none!important}.gps-609722536271283118 .tablet\:gp-hidden{display:none}.gps-609722536271283118 .tablet\:gp-h-auto{height:auto}.gps-609722536271283118 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609722536271283118 .mobile\:\!gp-hidden{display:none!important}.gps-609722536271283118 .mobile\:gp-hidden{display:none}.gps-609722536271283118 .mobile\:gp-h-auto{height:auto}.gps-609722536271283118 .mobile\:gp-flex-none{flex:none}}.gps-609722536271283118 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v17/-nFnOHM81r4j6k0gjAW3mujVU2B2K_c.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#232021","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gMOh-PU5lh"}' data-id="gMOh-PU5lh" id="gMOh-PU5lh" data-same-height-subgrid-container class="gMOh-PU5lh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:15px;--pb:64px;--pr:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:64px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gng9W_VB1P gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gl54yJJUEI"}' data-id="gl54yJJUEI" id="gl54yJJUEI" data-same-height-subgrid-container class="gl54yJJUEI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIgYT-eBmS gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#242424","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gEfTlPdDhz"}' data-id="gEfTlPdDhz" id="gEfTlPdDhz" data-same-height-subgrid-container class="gEfTlPdDhz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pt:60px;--pl:60px;--pb:60px;--pr:60px;--mb-tablet:0px;--pt-tablet:60px;--pl-tablet:60px;--pb-tablet:60px;--pr-tablet:60px;--mb-mobile:0px;--pt-mobile:40px;--pl-mobile:24px;--pb-mobile:40px;--pr-mobile:24px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gUrWSoVZAM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5O2ZMu0hf"
        class="g5O2ZMu0hf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--mb-tablet:40px;--mb-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-DM-Serif-Display, 'DM Serif Display'), var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:42px;--size-mobile:46px;--lh:50px;--lh-tablet:130%;--lh-mobile:130%;--c:#EFEFEF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5O2ZMu0hf_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKjn6Px4rC"
        class="gKjn6Px4rC"
        style="--ta:left;--mb:12px;--pt:12px;--mb-tablet:12px;--pt-tablet:12px;--mb-mobile:12px;--pt-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKjn6Px4rC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gmrs2Kt9xQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="ghZ-LroNx9"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1773146160248 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ghZ-LroNx9"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Forward_Head_Position_Is_Common_in_Modern_Life.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjMwLTYyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0idXJsKCNnLTYzMC02MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MzAiIHRvPSI2MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Forward_Head_Position_Is_Common_in_Modern_Life.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjMwLTYyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0idXJsKCNnLTYzMC02MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MzAiIHRvPSI2MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "Forward_Head_Position_Is_Common_in_Modern_Life.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjMwLTYyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjMwIiBoZWlnaHQ9IjYyMCIgZmlsbD0idXJsKCNnLTYzMC02MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MzAiIHRvPSI2MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Forward_Head_Position_Is_Common_in_Modern_Life.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--btrr:40px;--bblr:40px;--bbrr:40px;--btlr:40px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-ghZ-LroNx9">
        .ghZ-LroNx9 {

}
.ghZ-LroNx9 > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-609722536271283118 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609711152007480311&sectionId=609722536271283118)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5O2ZMu0hf_text","label":"gg5O2ZMu0hf_text","default":"Forward Head Position Is Common in Modern Life."},{"type":"html","id":"ggKjn6Px4rC_text","label":"ggKjn6Px4rC_text","default":"<p>Hours at screens, phones, and laptops can encourage the head to shift forward.<br><br>Over time, this mechanical shift may contribute to neck stiffness and visible posture changes.<br><br>Many approaches focus only on surface tension. Few address positioning mechanics during sleep.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}