
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608274233251857306.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-608274233251857306.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-608274233251857306.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608274233251857306.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-608274233251857306.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608274233251857306.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608274233251857306.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608274233251857306.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-608274233251857306.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608274233251857306.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608274233251857306.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608274233251857306.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608274233251857306.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-608274233251857306.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608274233251857306.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-608274233251857306.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608274233251857306.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608274233251857306.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-608274233251857306.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608274233251857306.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-608274233251857306.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-608274233251857306.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608274233251857306.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608274233251857306.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-608274233251857306.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608274233251857306.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-608274233251857306.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608274233251857306.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-608274233251857306.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608274233251857306.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-608274233251857306.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608274233251857306.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608274233251857306.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-608274233251857306.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608274233251857306.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-608274233251857306.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608274233251857306.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-608274233251857306.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-608274233251857306.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-608274233251857306.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-608274233251857306.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-608274233251857306.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608274233251857306.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608274233251857306.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608274233251857306.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608274233251857306.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608274233251857306.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608274233251857306.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608274233251857306.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608274233251857306.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-608274233251857306.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-608274233251857306.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608274233251857306.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-608274233251857306.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-608274233251857306.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608274233251857306.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-608274233251857306.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-608274233251857306.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-608274233251857306.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-608274233251857306.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-608274233251857306.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-608274233251857306.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-608274233251857306.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-608274233251857306.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-608274233251857306.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-608274233251857306.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608274233251857306.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608274233251857306.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-608274233251857306.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-608274233251857306.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-608274233251857306.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-608274233251857306.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-608274233251857306.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-608274233251857306.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-608274233251857306.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-608274233251857306.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-608274233251857306.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-608274233251857306.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-608274233251857306.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-608274233251857306.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-608274233251857306.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608274233251857306.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608274233251857306.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-608274233251857306.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-608274233251857306.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-608274233251857306.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-608274233251857306.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-608274233251857306.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-608274233251857306.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-608274233251857306 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-608274233251857306 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-608274233251857306 .gp-invisible{visibility:hidden}.gps-608274233251857306 .\!gp-absolute{position:absolute!important}.gps-608274233251857306 .gp-absolute{position:absolute}.gps-608274233251857306 .gp-relative{position:relative}.gps-608274233251857306 .gp-top-0{top:0}.gps-608274233251857306 .-gp-z-1{z-index:-1}.gps-608274233251857306 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608274233251857306 .gp-mb-0{margin-bottom:0}.gps-608274233251857306 .gp-flex{display:flex}.gps-608274233251857306 .gp-inline-flex{display:inline-flex}.gps-608274233251857306 .gp-grid{display:grid}.gps-608274233251857306 .\!gp-hidden{display:none!important}.gps-608274233251857306 .gp-hidden{display:none}.gps-608274233251857306 .gp-h-full{height:100%}.gps-608274233251857306 .gp-w-full{width:100%}.gps-608274233251857306 .gp-max-w-full{max-width:100%}.gps-608274233251857306 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608274233251857306 .gp-flex-col{flex-direction:column}.gps-608274233251857306 .gp-items-center{align-items:center}.gps-608274233251857306 .gp-justify-center{justify-content:center}.gps-608274233251857306 .\!gp-self-center{align-self:center!important}.gps-608274233251857306 .gp-self-center{align-self:center}.gps-608274233251857306 .gp-overflow-hidden{overflow:hidden}.gps-608274233251857306 .gp-break-words{overflow-wrap:break-word}.gps-608274233251857306 .gp-text-center{text-align:center}.gps-608274233251857306 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-608274233251857306 .gp-no-underline{text-decoration-line:none}.gps-608274233251857306 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608274233251857306 .gp-duration-200{transition-duration:.2s}.gps-608274233251857306 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608274233251857306 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-608274233251857306 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-608274233251857306 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-608274233251857306 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-608274233251857306 .tablet\:\!gp-absolute{position:absolute!important}.gps-608274233251857306 .tablet\:\!gp-hidden{display:none!important}.gps-608274233251857306 .tablet\:gp-hidden{display:none}.gps-608274233251857306 .tablet\:gp-justify-center{justify-content:center}.gps-608274233251857306 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-608274233251857306 .mobile\:\!gp-relative{position:relative!important}.gps-608274233251857306 .mobile\:\!gp-hidden{display:none!important}.gps-608274233251857306 .mobile\:gp-hidden{display:none}.gps-608274233251857306 .mobile\:\!gp-h-auto{height:auto!important}.gps-608274233251857306 .mobile\:gp-justify-center{justify-content:center}.gps-608274233251857306 .mobile\:\!gp-self-center{align-self:center!important}}.gps-608274233251857306 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-608274233251857306 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gJTyMj_V9w"}' data-id="gJTyMj_V9w" id="gJTyMj_V9w" data-same-height-subgrid-container class="gJTyMj_V9w gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQbLFSST1b gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out","triggerAnimationOption":"once"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"HeroBanner","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
      <gp-hero-banner
        
        data-id="g5WTPvig9X"
        class="g5WTPvig9X gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:33vh"
        gp-data='{"background":{"desktop":{"type":"image","image":{"src":"{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}","width":3072,"height":1831,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-3755d110-d34f-4f0c-8ede-fb9970403651.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false},"tablet":{"type":"image","image":{"src":"{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}","width":3072,"height":1831,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-3755d110-d34f-4f0c-8ede-fb9970403651.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false},"mobile":{"type":"image","image":{"src":"{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}","width":3072,"height":1831,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-3755d110-d34f-4f0c-8ede-fb9970403651.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false}},"uid":"g5WTPvig9X","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[6,6],"display":"fill","type":"right"},"mobile":{"cols":[6,6],"display":"fill","type":"right"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center","mobile":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"shape":"original","widthHeightLinked":false,"width":"100%","shapeVideo":"16/9","enableVideoShape":false},"tablet":{"shape":"original","widthHeightLinked":false,"width":"100%","shapeVideo":"16/9","enableVideoShape":false},"mobile":{"shape":"custom","width":"100%","shapeVideo":"custom","enableVideoShape":false,"widthHeightLinked":false,"height":"33vh","shapeValue":"","gap":"","customShapeValue":"","shapeLinked":false}},"videoObjectFit":{"desktop":"cover","tablet":"cover","mobile":"cover"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":false}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:33vh;--aspect:auto;--aspect-tablet:auto">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp_lazybg" style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIxODMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDcyLTE4MzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwNzIiIGhlaWdodD0iMTgzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIxODMxIiBmaWxsPSJ1cmwoI2ctMzA3Mi0xODMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzA3MiIgdG89IjMwNzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIzMDcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDcyLTMwNzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwNzIiIGhlaWdodD0iMzA3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIzMDcyIiBmaWxsPSJ1cmwoI2ctMzA3Mi0zMDcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzA3MiIgdG89IjMwNzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-mobile:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIzMDcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDcyLTMwNzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwNzIiIGhlaWdodD0iMzA3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIzMDcyIiBmaWxsPSJ1cmwoI2ctMzA3Mi0zMDcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzA3MiIgdG89IjMwNzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}" data-src="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}" data-srcset="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}" data-src="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}" data-srcset="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}" data-src="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}" data-srcset="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb gp_lazyload"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined undefined mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1;--o-mobile:1"
      class="gYbVWsysRs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXw8Xvc_cM"
        class="gXw8Xvc_cM"
        style="--ta:left;--mt:0px;--mb:var(--g-s-l);--mt-tablet:0px;--mb-tablet:var(--g-s-l);--mt-mobile:11px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:38px;--size-tablet:46px;--size-mobile:17px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXw8Xvc_cM_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glRLb33WWb"
        class="glRLb33WWb"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglRLb33WWb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mt:29px;--mt-tablet:29px;--mt-mobile:10px;--ta:center" >
        <style>[data-id="gD3d-M87zR"].gp-button-base::before, [data-id="gD3d-M87zR-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      
  
    }
  
      
  [data-id="gD3d-M87zR"]:hover::before, [data-id="gD3d-M87zR-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gD3d-M87zR" dataId="gD3d-M87zR" data-state="idle" aria-label="<p><span style='color:#000000;'><strong>Improve Jaw Comfort</strong></span></p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:25px;--bbrr:25px;--btlr:25px;--btrr:25px;--hvr-bblr:25px;--hvr-bbrr:25px;--hvr-btlr:25px;--hvr-btrr:25px;--bgi:;--hvr-bgi:;--bg:#E5C185;--hvr-bg:#AF9264;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:9px"
          class="gD3d-M87zR gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:16px;--size-tablet:16px;--size-mobile:9px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggD3d-M87zR_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:0;--o-mobile:0"
      class="gAaF44FyvX gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIxODMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDcyLTE4MzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwNzIiIGhlaWdodD0iMTgzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIxODMxIiBmaWxsPSJ1cmwoI2ctMzA3Mi0xODMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzA3MiIgdG89IjMwNzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIxODMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDcyLTE4MzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwNzIiIGhlaWdodD0iMTgzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIxODMxIiBmaWxsPSJ1cmwoI2ctMzA3Mi0xODMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzA3MiIgdG89IjMwNzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIxODMxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDcyLTE4MzEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwNzIiIGhlaWdodD0iMTgzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA3MiIgaGVpZ2h0PSIxODMxIiBmaWxsPSJ1cmwoI2ctMzA3Mi0xODMxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzA3MiIgdG89IjMwNzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gg5WTPvig9X_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:33vh;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner gp_lazyload"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-608274233251857306 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=608273667457024567&sectionId=608274233251857306)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5WTPvig9X_background_desktop_image_src","label":"gg5WTPvig9X_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/ChatGPT_Image_22_2026_16_01_50-Picsart-AiImageEnhancer_28509675-b3d0-459f-a8cc-a13715df34d7.png"},{"type":"html","id":"ggXw8Xvc_cM_text","label":"ggXw8Xvc_cM_text","default":"Wake Up to a More Relaxed Jaw"},{"type":"html","id":"gglRLb33WWb_text","label":"gglRLb33WWb_text","default":"<p>Designed to help ease jaw tension and support jaw comfort while you sleep. The non-invasive way to protect your teeth and encourage better rest.</p>"},{"type":"html","id":"ggD3d-M87zR_label","label":"ggD3d-M87zR_label","default":"<p><span style=\"color:#000000;\"><strong>Improve Jaw Comfort</strong></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}