
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607922545190044246.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-607922545190044246.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-607922545190044246.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-607922545190044246.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607922545190044246.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607922545190044246.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607922545190044246.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607922545190044246.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607922545190044246.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607922545190044246.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607922545190044246.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607922545190044246.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607922545190044246.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607922545190044246.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607922545190044246.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607922545190044246.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607922545190044246.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607922545190044246.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607922545190044246.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607922545190044246.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607922545190044246.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607922545190044246.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607922545190044246.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607922545190044246.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607922545190044246.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607922545190044246.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607922545190044246.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607922545190044246.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-607922545190044246.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607922545190044246.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607922545190044246.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607922545190044246.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-607922545190044246.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607922545190044246.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607922545190044246.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607922545190044246.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607922545190044246.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607922545190044246.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607922545190044246.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607922545190044246.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607922545190044246.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607922545190044246.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607922545190044246.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607922545190044246.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607922545190044246.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607922545190044246.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-607922545190044246.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607922545190044246.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607922545190044246.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607922545190044246.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-607922545190044246.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-607922545190044246.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607922545190044246.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-607922545190044246.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607922545190044246.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607922545190044246.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-607922545190044246.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607922545190044246.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-607922545190044246.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607922545190044246.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607922545190044246.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607922545190044246.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607922545190044246.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607922545190044246.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607922545190044246.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-607922545190044246.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-607922545190044246.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607922545190044246.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-607922545190044246.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-607922545190044246.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607922545190044246.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607922545190044246.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-607922545190044246.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607922545190044246.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607922545190044246.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-607922545190044246.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607922545190044246.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607922545190044246.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607922545190044246.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607922545190044246.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607922545190044246.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607922545190044246.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-607922545190044246.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-607922545190044246.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607922545190044246.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-607922545190044246.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-607922545190044246.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607922545190044246.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607922545190044246 .-gp-translate-x-1\/2,.gps-607922545190044246 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-607922545190044246 .gp-visible{visibility:visible}.gps-607922545190044246 .gp-invisible{visibility:hidden}.gps-607922545190044246 .gp-absolute{position:absolute}.gps-607922545190044246 .gp-relative{position:relative}.gps-607922545190044246 .gp-left-1\/2{left:50%}.gps-607922545190044246 .gp-top-1\/2{top:50%}.gps-607922545190044246 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607922545190044246 .gp-mb-0{margin-bottom:0}.gps-607922545190044246 .gp-flex{display:flex}.gps-607922545190044246 .gp-inline-flex{display:inline-flex}.gps-607922545190044246 .gp-grid{display:grid}.gps-607922545190044246 .\!gp-hidden{display:none!important}.gps-607922545190044246 .gp-hidden{display:none}.gps-607922545190044246 .gp-h-full{height:100%}.gps-607922545190044246 .gp-w-\[68px\]{width:68px}.gps-607922545190044246 .gp-w-full{width:100%}.gps-607922545190044246 .\!gp-max-w-none{max-width:none!important}.gps-607922545190044246 .gp-max-w-full{max-width:100%}.gps-607922545190044246 .gp-shrink-0{flex-shrink:0}.gps-607922545190044246 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-607922545190044246 .-gp-translate-x-1\/2,.gps-607922545190044246 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-607922545190044246 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-607922545190044246 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607922545190044246 .gp-flex-col{flex-direction:column}.gps-607922545190044246 .gp-items-center{align-items:center}.gps-607922545190044246 .gp-justify-center{justify-content:center}.gps-607922545190044246 .gp-overflow-hidden{overflow:hidden}.gps-607922545190044246 .gp-border{border-width:1px}.gps-607922545190044246 .gp-border-transparent{border-color:transparent}.gps-607922545190044246 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-607922545190044246 .gp-bg-cover{background-size:cover}.gps-607922545190044246 .gp-bg-center{background-position:50%}.gps-607922545190044246 .gp-text-left{text-align:left}.gps-607922545190044246 .gp-opacity-100{opacity:1}.gps-607922545190044246 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607922545190044246 .gp-duration-200{transition-duration:.2s}.gps-607922545190044246 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607922545190044246 .tablet\:\!gp-hidden{display:none!important}.gps-607922545190044246 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-607922545190044246 .mobile\:\!gp-hidden{display:none!important}.gps-607922545190044246 .mobile\:gp-hidden{display:none}}.gps-607922545190044246 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-607922545190044246 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-607922545190044246 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-607922545190044246 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-607922545190044246 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-607922545190044246 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-607922545190044246 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-607922545190044246 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-607922545190044246 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-607922545190044246 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v21/co3umX5slCNuHLi8bLeY9MK7whWMhyjypVO7abI26QOD_s06GnM.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v21/co3umX5slCNuHLi8bLeY9MK7whWMhyjypVO7abI26QOD_iE9GnM.ttf) format('truetype');
}


@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyC4E.ttf) format('truetype');
}


@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyC4E.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIO6YWa48H"}' data-id="gIO6YWa48H" id="gIO6YWa48H" data-same-height-subgrid-container class="gIO6YWa48H gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:57px;--pb:57px;--pt-mobile:0px;--pb-mobile:72px;--pt-tablet:57px;--pb-tablet:57px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="grLrgjCxgj gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Row","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    

    

    
    <gp-row gp-data='{"uid":"g-0ijwXrMS"}' data-id="g-0ijwXrMS" id="g-0ijwXrMS" data-same-height-subgrid-container class="g-0ijwXrMS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--mb-tablet:0px;--cg:54px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1216px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gxbndjgPPE gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gHmpKTmQqV" class="gHmpKTmQqV !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--aspect:custom">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"14/9"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/NfASaHFN1zg?autoplay=true&state=1&mute=1&controls=1"}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article"
        data-title="Video"
        style="background-image:url({{ "screencapture-reviv-substack-p-my-view-on-bruxism-teeth-grinding-2026-02-02-16_02_26_1.png" | file_url }});--aspect:14/9"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "screencapture-reviv-substack-p-my-view-on-bruxism-teeth-grinding-2026-02-02-16_02_26_1.png" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="gp-video-gHmpKTmQqV"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gqHVe9OIwy gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gdthg4fU19"}' data-id="gdthg4fU19" id="gdthg4fU19" data-same-height-subgrid-container class="gdthg4fU19 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gw58twWC0_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfuQy3tXli"
        class="gfuQy3tXli"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:20px;--mb-mobile:0px;--pt-mobile:20px;--pb-mobile:20px;--mb-tablet:0px;--pb-tablet:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Cormorant-Garamond, 'Cormorant Garamond'), var(--g-font-heading, heading);--weight:500;--size:48px;--size-tablet:36px;--size-mobile:30px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfuQy3tXli_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIe0iDtsg5"
        class="gIe0iDtsg5"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:20px;--pb-mobile:20px;--pb-tablet:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#4B5563;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIe0iDtsg5_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper  class="g7FE_LxBx4 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g7FE_LxBx4"
      data-id="g7FE_LxBx4"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--jc:left"
      className="g7FE_LxBx4"
      gp-data='{"position":{"desktop":"baseline","mobile":"center","tablet":"center"},"iconWidth":{"desktop":"6"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:1px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g7FE_LxBx4"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#E5C085;--w:100%;--h:100%;--size-desktop:6px;--size-tablet:6px;--size-mobile:6px"
                        >
                          <svg height="20" width="20" data-name="circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817727364923752">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:180%;--c:#FEB91C;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7FE_LxBx4_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g7FE_LxBx4"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#E5C085;--w:100%;--h:100%;--size-desktop:6px;--size-tablet:6px;--size-mobile:6px"
                        >
                          <svg height="20" width="20" data-name="circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817727364923752">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:180%;--c:#FEB91C;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7FE_LxBx4_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g7FE_LxBx4"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#E5C085;--w:100%;--h:100%;--size-desktop:6px;--size-tablet:6px;--size-mobile:6px"
                        >
                          <svg height="20" width="20" data-name="circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817727364923752">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:180%;--c:#FEB91C;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7FE_LxBx4_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g7FE_LxBx4"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#E5C085;--w:100%;--h:100%;--size-desktop:6px;--size-tablet:6px;--size-mobile:6px"
                        >
                          <svg height="20" width="20" data-name="circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817727364923752">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:180%;--c:#FEB91C;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7FE_LxBx4_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-607922545190044246 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607922545089315414&sectionId=607922545190044246)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggfuQy3tXli_text","label":"ggfuQy3tXli_text","default":"<span style=\"color:#151515;\">The Engineering</span><span style=\"color:#E5C085;\"> of the Jaw</span>"},{"type":"html","id":"ggIe0iDtsg5_text","label":"ggIe0iDtsg5_text","default":"<p>The jaw actually has a complex set of movements that can be easily disrupted, thereby contributing to bruxism:</p>"},{"type":"html","id":"gg7FE_LxBx4_childItem_0","label":"gg7FE_LxBx4_childItem_0","default":"<p><span style=\"color:#E5C085;\"><strong>Elevation and Depression:</strong></span> <span style=\"color:#4B5563;\">Elevation closes the mouth, while depression opens it.</span></p>"},{"type":"html","id":"gg7FE_LxBx4_childItem_1","label":"gg7FE_LxBx4_childItem_1","default":"<p><span style=\"color:#E5C085;\"><strong>Protrusion and Retrusion:</strong></span> <span style=\"color:#4B5563;\">Elevation closes the mouth, while depression opens it.</span></p>"},{"type":"html","id":"gg7FE_LxBx4_childItem_2","label":"gg7FE_LxBx4_childItem_2","default":"<p><span style=\"color:#E5C085;\"><strong>Lateral Excursion (Side-to-Side Movement):</strong></span> <span style=\"color:#4B5563;\">This allows the jaw to move left or right, essential for grinding food.</span></p>"},{"type":"html","id":"gg7FE_LxBx4_childItem_3","label":"gg7FE_LxBx4_childItem_3","default":"<p><span style=\"color:#E5C085;\"><strong>Rotational and Translational Movements:</strong></span> <span style=\"color:#4B5563;\">These combined motions allow for complex movements such as chewing. The jaw rotates initially, then slides down the TMJ socket to open fully.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}