
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610797768499266342.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-610797768499266342.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-610797768499266342.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610797768499266342.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-610797768499266342.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610797768499266342.gps.gpsil [style*="--hvr-bga:"]:hover{background-attachment:var(--hvr-bga)}.gps-610797768499266342.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610797768499266342.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610797768499266342.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-610797768499266342.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610797768499266342.gps.gpsil [style*="--hvr-bgp:"]:hover{background-position:var(--hvr-bgp)}.gps-610797768499266342.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610797768499266342.gps.gpsil [style*="--hvr-bgr:"]:hover{background-repeat:var(--hvr-bgr)}.gps-610797768499266342.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610797768499266342.gps.gpsil [style*="--hvr-bgs:"]:hover{background-size:var(--hvr-bgs)}.gps-610797768499266342.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610797768499266342.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-610797768499266342.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610797768499266342.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-610797768499266342.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610797768499266342.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610797768499266342.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-610797768499266342.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610797768499266342.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-610797768499266342.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-610797768499266342.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-610797768499266342.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610797768499266342.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610797768499266342.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-610797768499266342.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610797768499266342.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-610797768499266342.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610797768499266342.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-610797768499266342.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610797768499266342.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-610797768499266342.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610797768499266342.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610797768499266342.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-610797768499266342.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-610797768499266342.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-610797768499266342.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610797768499266342.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610797768499266342.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610797768499266342.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-610797768499266342.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-610797768499266342.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-610797768499266342.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610797768499266342.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610797768499266342.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-610797768499266342.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-610797768499266342.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-610797768499266342.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-610797768499266342.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610797768499266342.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610797768499266342.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610797768499266342.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610797768499266342.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610797768499266342.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610797768499266342.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610797768499266342.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610797768499266342.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610797768499266342.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610797768499266342.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-610797768499266342.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-610797768499266342.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610797768499266342.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-610797768499266342.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-610797768499266342.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-610797768499266342.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-610797768499266342.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-610797768499266342.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-610797768499266342.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-610797768499266342.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-610797768499266342.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-610797768499266342.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-610797768499266342.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610797768499266342.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610797768499266342.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610797768499266342.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610797768499266342.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-610797768499266342.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-610797768499266342.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-610797768499266342.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-610797768499266342.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-610797768499266342.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-610797768499266342.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-610797768499266342.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-610797768499266342.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-610797768499266342.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-610797768499266342.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-610797768499266342.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610797768499266342.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610797768499266342.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610797768499266342.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610797768499266342.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-610797768499266342.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-610797768499266342.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-610797768499266342.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-610797768499266342 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-610797768499266342 .gp-relative{position:relative}.gps-610797768499266342 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610797768499266342 .gp-mb-0{margin-bottom:0}.gps-610797768499266342 .gp-inline-block{display:inline-block}.gps-610797768499266342 .gp-flex{display:flex}.gps-610797768499266342 .gp-inline-flex{display:inline-flex}.gps-610797768499266342 .gp-grid{display:grid}.gps-610797768499266342 .gp-contents{display:contents}.gps-610797768499266342 .\!gp-hidden{display:none!important}.gps-610797768499266342 .gp-hidden{display:none}.gps-610797768499266342 .gp-h-auto{height:auto}.gps-610797768499266342 .gp-h-full{height:100%}.gps-610797768499266342 .gp-w-full{width:100%}.gps-610797768499266342 .gp-max-w-full{max-width:100%}.gps-610797768499266342 .gp-flex-none{flex:none}.gps-610797768499266342 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610797768499266342 .gp-flex-col{flex-direction:column}.gps-610797768499266342 .gp-items-center{align-items:center}.gps-610797768499266342 .gp-justify-center{justify-content:center}.gps-610797768499266342 .gp-overflow-hidden{overflow:hidden}.gps-610797768499266342 .gp-break-words{overflow-wrap:break-word}.gps-610797768499266342 .gp-text-center{text-align:center}.gps-610797768499266342 .gp-no-underline{text-decoration-line:none}.gps-610797768499266342 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610797768499266342 .gp-duration-200{transition-duration:.2s}.gps-610797768499266342 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610797768499266342 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-610797768499266342 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-610797768499266342 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-610797768499266342 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-610797768499266342 .tablet\:\!gp-hidden{display:none!important}.gps-610797768499266342 .tablet\:gp-hidden{display:none}.gps-610797768499266342 .tablet\:gp-h-auto{height:auto}.gps-610797768499266342 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-610797768499266342 .mobile\:\!gp-hidden{display:none!important}.gps-610797768499266342 .mobile\:gp-hidden{display:none}.gps-610797768499266342 .mobile\:gp-h-auto{height:auto}.gps-610797768499266342 .mobile\:gp-flex-none{flex:none}}.gps-610797768499266342 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-610797768499266342 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#232021","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gJTyMj_V9w"}' data-id="gJTyMj_V9w" id="gJTyMj_V9w" data-same-height-subgrid-container class="gJTyMj_V9w gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:-76px;--mb-tablet:-76px;--mb-mobile:-76px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQbLFSST1b gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g7N9yPUxO9"}' data-id="g7N9yPUxO9" id="g7N9yPUxO9" data-same-height-subgrid-container class="g7N9yPUxO9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:111px;--mb:200px;--pb:0px;--mt-tablet:111px;--mb-tablet:200px;--pb-tablet:0px;--mt-mobile:40px;--mb-mobile:40px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHJHhxbafW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gEth3D_2in"}' data-id="gEth3D_2in" id="gEth3D_2in" data-same-height-subgrid-container class="gEth3D_2in gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggKH6rz_Eo gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mt:0px;--ml:50px;--mr:4px;--mt-tablet:0px;--ml-tablet:50px;--mr-tablet:4px;--mt-mobile:-31px;--ml-mobile:1px;--mr-mobile:4px;--ta:left;--ta-mobile:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gDoFr5o29f gp-custom-code">
      <div>
    <div class="rating-badge-wrapper">

  <div class="rating-badge">
    <span class="star">★</span>
    <span>4.9 Rated</span>
  </div>

</div>

<style>

.rating-badge-wrapper{
  display:inline-block;
}

/* Badge */
.rating-badge{
  display:inline-flex;
  align-items:center;
  gap:6px;
  padding:6px 14px;
  border-radius:20px;
  font-weight:600;
  font-size:14px;
  color:#1a1a1a;
  font-family: Arial, sans-serif;

  background: linear-gradient(
    90deg,
    #f7d774 0%,
    #e7b94a 50%,
    #d9a73a 100%
  );

  box-shadow:0 2px 4px rgba(0,0,0,0.15);
}

.rating-badge .star{
  font-size:14px;
}

</style>
    </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="giaQM60tdm gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzKbcjRh7z"
        class="gzKbcjRh7z"
        style="--ta:left;--mt:-4px;--ml:-130px;--pt:7px;--mt-tablet:-4px;--ml-tablet:-130px;--pt-tablet:7px;--mt-mobile:-18px;--ml-mobile:0px;--pt-mobile:7px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFF7F0;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzKbcjRh7z_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gn6nf__AKd"
        class="gn6nf__AKd"
        style="--ta:left;--mt:12px;--ml:50px;--mr:0px;--mt-tablet:12px;--ml-tablet:50px;--mr-tablet:0px;--mt-mobile:12px;--ml-mobile:10px;--mr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:85%;--w-tablet:85%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:52px;--size-tablet:46px;--size-mobile:19px;--c:#FFF7F0;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggn6nf__AKd_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqFNh-WfCX"
        class="gqFNh-WfCX"
        style="--ta:left;--mt:20px;--ml:50px;--mt-tablet:20px;--ml-tablet:50px;--ml-mobile:69px;--mr-mobile:70px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:73%;--w-tablet:73%;--w-mobile:103%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqFNh-WfCX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:16px;--ml:50px;--mt-tablet:16px;--ml-tablet:50px;--mt-mobile:16px;--ml-mobile:-2px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center" >
        <style>[data-id="gJnkQFfOWB"].gp-button-base::before, [data-id="gJnkQFfOWB-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 33px;
      border-bottom-right-radius: 33px;
      border-top-left-radius: 33px;
      border-top-right-radius: 33px;
      
  
    }
  
      
  [data-id="gJnkQFfOWB"]:hover::before, [data-id="gJnkQFfOWB-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gJnkQFfOWB" dataId="gJnkQFfOWB" data-state="idle" aria-label="<p>See What Most People Miss</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:265px;--w-tablet:265px;--w-mobile:265px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bblr:33px;--bbrr:33px;--btlr:33px;--btrr:33px;--hvr-bblr:33px;--hvr-bbrr:33px;--hvr-btlr:33px;--hvr-btrr:33px;--bgp:50% 50%;--hvr-bgp:50% 50%;--bgs:cover;--hvr-bgs:cover;--bgr:no-repeat;--hvr-bgr:no-repeat;--bga:scroll;--hvr-bga:scroll;--bgi:;--hvr-bgi:;--bg:#ECBF7C;--hvr-bg:#DEAE40;--c:#000000;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gJnkQFfOWB gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggJnkQFfOWB_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gx3wxLbS9v gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gwv9Z1NSP_"
      style="--mt:7px;--mr:77px;--pl:0px;--pr:0px;--mt-tablet:7px;--mr-tablet:77px;--pl-tablet:0px;--pr-tablet:0px;--mt-mobile:7px;--ml-mobile:32px;--mr-mobile:24px;--pl-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1779771670699 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwv9Z1NSP_"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggwv9Z1NSP__srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjMwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjMwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjMwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjMwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTYzMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MzAiIHRvPSI2MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggwv9Z1NSP__srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjMwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjMwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjMwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjMwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTYzMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MzAiIHRvPSI2MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggwv9Z1NSP__srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjMwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjMwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjMwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjMwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTYzMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MzAiIHRvPSI2MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggwv9Z1NSP__srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--objf:cover;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:81%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-610797768499266342 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=610797768381825830&sectionId=610797768499266342)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggzKbcjRh7z_text","label":"ggzKbcjRh7z_text","default":"<p>by satisfied customers</p>"},{"type":"html","id":"ggn6nf__AKd_text","label":"ggn6nf__AKd_text","default":"What If Your Back Isn’t the Real Starting Point?"},{"type":"html","id":"ggqFNh-WfCX_text","label":"ggqFNh-WfCX_text","default":"<p>Back tightness is often treated where it’s felt. But posture patterns can begin higher.</p>"},{"type":"html","id":"ggJnkQFfOWB_label","label":"ggJnkQFfOWB_label","default":"<p>See What Most People Miss</p>"},{"type":"html","id":"ggwv9Z1NSP__srcSet_desktop_src","label":"ggwv9Z1NSP__srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Right.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}