
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609360155234009672.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609360155234009672.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609360155234009672.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609360155234009672.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609360155234009672.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609360155234009672.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609360155234009672.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609360155234009672.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609360155234009672.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609360155234009672.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609360155234009672.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609360155234009672.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609360155234009672.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609360155234009672.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609360155234009672.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609360155234009672.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609360155234009672.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609360155234009672.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609360155234009672.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609360155234009672.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609360155234009672.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609360155234009672.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609360155234009672.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609360155234009672.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609360155234009672.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609360155234009672.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609360155234009672.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609360155234009672.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609360155234009672.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609360155234009672.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609360155234009672.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609360155234009672.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609360155234009672.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609360155234009672.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609360155234009672.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609360155234009672.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609360155234009672.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609360155234009672.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609360155234009672.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609360155234009672.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609360155234009672.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609360155234009672.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609360155234009672.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609360155234009672.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-609360155234009672.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-609360155234009672.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609360155234009672.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609360155234009672.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609360155234009672.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609360155234009672.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609360155234009672.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609360155234009672.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609360155234009672.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-609360155234009672.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-609360155234009672.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609360155234009672.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609360155234009672.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609360155234009672.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609360155234009672.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609360155234009672.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609360155234009672.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609360155234009672.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609360155234009672.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609360155234009672.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609360155234009672.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-609360155234009672.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-609360155234009672 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-609360155234009672 .gp-relative{position:relative}.gps-609360155234009672 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609360155234009672 .gp-mb-0{margin-bottom:0}.gps-609360155234009672 .gp-inline-block{display:inline-block}.gps-609360155234009672 .gp-flex{display:flex}.gps-609360155234009672 .gp-grid{display:grid}.gps-609360155234009672 .gp-contents{display:contents}.gps-609360155234009672 .\!gp-hidden{display:none!important}.gps-609360155234009672 .gp-hidden{display:none}.gps-609360155234009672 .gp-h-full{height:100%}.gps-609360155234009672 .gp-w-full{width:100%}.gps-609360155234009672 .gp-max-w-full{max-width:100%}.gps-609360155234009672 .gp-flex-1{flex:1 1 0%}.gps-609360155234009672 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609360155234009672 .gp-flex-col{flex-direction:column}.gps-609360155234009672 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609360155234009672 .gp-duration-200{transition-duration:.2s}.gps-609360155234009672 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609360155234009672 .tablet\:\!gp-hidden{display:none!important}.gps-609360155234009672 .tablet\:gp-hidden{display:none}.gps-609360155234009672 .tablet\:gp-h-full{height:100%}.gps-609360155234009672 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-609360155234009672 .mobile\:\!gp-hidden{display:none!important}.gps-609360155234009672 .mobile\:gp-hidden{display:none}.gps-609360155234009672 .mobile\:gp-h-auto{height:auto}.gps-609360155234009672 .mobile\:gp-flex-none{flex:none}}.gps-609360155234009672 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#242424","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g-YUAIswko"}' data-id="g-YUAIswko" id="g-YUAIswko" data-same-height-subgrid-container class="g-YUAIswko gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--mt:-29px;--pt:0px;--pb:var(--g-s-2xl);--mt-tablet:-29px;--pt-tablet:0px;--pb-tablet:var(--g-s-2xl);--mt-mobile:-29px;--pt-mobile:0px;--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gezSR82vih gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false,"triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goIl2fU3E0"
        class="goIl2fU3E0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:24px;--mt-tablet:24px;--mt-mobile:var(--g-s-2xl);--ml-mobile:25px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:40px;--size-tablet:46px;--size-mobile:31px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoIl2fU3E0_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    <div
      role="presentation"
      data-id="gca_u80CzO"
      style="--mt:17px;--mt-tablet:17px;--mt-mobile:17px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775485996145 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gca_u80CzO"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggca_u80CzO_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODgxIiBoZWlnaHQ9IjI1NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODgxLTI1NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODgxIiBoZWlnaHQ9IjI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODgxIiBoZWlnaHQ9IjI1NiIgZmlsbD0idXJsKCNnLTg4MS0yNTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04ODEiIHRvPSI4ODEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggca_u80CzO_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODgxIiBoZWlnaHQ9IjI1NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODgxLTI1NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODgxIiBoZWlnaHQ9IjI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODgxIiBoZWlnaHQ9IjI1NiIgZmlsbD0idXJsKCNnLTg4MS0yNTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04ODEiIHRvPSI4ODEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggca_u80CzO_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODgxIiBoZWlnaHQ9IjI1NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODgxLTI1NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODgxIiBoZWlnaHQ9IjI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODgxIiBoZWlnaHQ9IjI1NiIgZmlsbD0idXJsKCNnLTg4MS0yNTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04ODEiIHRvPSI4ODEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggca_u80CzO_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:61%;--w-tablet:61%;--w-mobile:99%;--h:100%;--h-tablet:100%;--h-mobile:104%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-609360155234009672 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609289553286529608&sectionId=609360155234009672)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggoIl2fU3E0_text","label":"ggoIl2fU3E0_text","default":"Visible Changes Over Time"},{"type":"html","id":"ggca_u80CzO_srcSet_desktop_src","label":"ggca_u80CzO_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Screenshot_2026-03-05_225148.jpg"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}