
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612660175672705835.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-612660175672705835.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-612660175672705835.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612660175672705835.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612660175672705835.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612660175672705835.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612660175672705835.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612660175672705835.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612660175672705835.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612660175672705835.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612660175672705835.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612660175672705835.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612660175672705835.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612660175672705835.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612660175672705835.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-612660175672705835.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-612660175672705835.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612660175672705835.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612660175672705835.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612660175672705835.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612660175672705835.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612660175672705835.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612660175672705835.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612660175672705835.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612660175672705835.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612660175672705835.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612660175672705835.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612660175672705835.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612660175672705835.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612660175672705835.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612660175672705835.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612660175672705835.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612660175672705835.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612660175672705835.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612660175672705835.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612660175672705835.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612660175672705835.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-612660175672705835.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612660175672705835.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612660175672705835.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612660175672705835.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612660175672705835.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612660175672705835.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612660175672705835.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612660175672705835.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612660175672705835.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-612660175672705835.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612660175672705835.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-612660175672705835.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612660175672705835.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-612660175672705835.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-612660175672705835.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612660175672705835.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-612660175672705835.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612660175672705835.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-612660175672705835.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-612660175672705835.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612660175672705835.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612660175672705835.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-612660175672705835.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-612660175672705835.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-612660175672705835.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612660175672705835.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-612660175672705835.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-612660175672705835.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-612660175672705835.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612660175672705835.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-612660175672705835.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612660175672705835.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612660175672705835.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612660175672705835.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-612660175672705835.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612660175672705835.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-612660175672705835 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-612660175672705835 .gp-relative{position:relative}.gps-612660175672705835 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612660175672705835 .gp-mb-0{margin-bottom:0}.gps-612660175672705835 .gp-inline-block{display:inline-block}.gps-612660175672705835 .gp-flex{display:flex}.gps-612660175672705835 .gp-grid{display:grid}.gps-612660175672705835 .gp-contents{display:contents}.gps-612660175672705835 .\!gp-hidden{display:none!important}.gps-612660175672705835 .gp-hidden{display:none}.gps-612660175672705835 .gp-h-auto{height:auto}.gps-612660175672705835 .gp-h-full{height:100%}.gps-612660175672705835 .gp-w-full{width:100%}.gps-612660175672705835 .gp-max-w-full{max-width:100%}.gps-612660175672705835 .gp-flex-none{flex:none}.gps-612660175672705835 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612660175672705835 .gp-flex-col{flex-direction:column}.gps-612660175672705835 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612660175672705835 .gp-duration-200{transition-duration:.2s}.gps-612660175672705835 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-612660175672705835 .tablet\:\!gp-hidden{display:none!important}.gps-612660175672705835 .tablet\:gp-hidden{display:none}.gps-612660175672705835 .tablet\:gp-h-auto{height:auto}.gps-612660175672705835 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-612660175672705835 .mobile\:\!gp-hidden{display:none!important}.gps-612660175672705835 .mobile\:gp-hidden{display:none}.gps-612660175672705835 .mobile\:gp-h-auto{height:auto}.gps-612660175672705835 .mobile\:gp-flex-none{flex:none}}.gps-612660175672705835 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#232021","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gKU_EK7CjL"}' data-id="gKU_EK7CjL" id="gKU_EK7CjL" data-same-height-subgrid-container class="gKU_EK7CjL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gS_8wvsbkn gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gpZU1ryJIM"}' data-id="gpZU1ryJIM" id="gpZU1ryJIM" data-same-height-subgrid-container class="gpZU1ryJIM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gp-NpUXGmn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnMC6GxrQs"
        class="gnMC6GxrQs"
        style="--ta:left;--mb:26px;--mb-tablet:26px;--mb-mobile:26px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:30px;--size-tablet:46px;--size-mobile:31px;--c:#E9E9E9;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnMC6GxrQs_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gzJPtJu65z"}' data-id="gzJPtJu65z" id="gzJPtJu65z" data-same-height-subgrid-container class="gzJPtJu65z gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbrgZhqTkM gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gGbzZJGboT"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1779771690335 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gGbzZJGboT"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggGbzZJGboT_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNTItOTI4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTUyIiBoZWlnaHQ9IjkyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIGZpbGw9InVybCgjZy0xMTUyLTkyOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNTIiIHRvPSIxMTUyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggGbzZJGboT_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNTItOTI4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTUyIiBoZWlnaHQ9IjkyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIGZpbGw9InVybCgjZy0xMTUyLTkyOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNTIiIHRvPSIxMTUyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggGbzZJGboT_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNTItOTI4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTUyIiBoZWlnaHQ9IjkyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIGZpbGw9InVybCgjZy0xMTUyLTkyOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNTIiIHRvPSIxMTUyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggGbzZJGboT_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:393px;--h-tablet:393px;--h-mobile:233px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:20px;--bblr:20px;--bbrr:20px;--btlr:20px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFpeu_W5DI"
        class="gFpeu_W5DI"
        style="--ta:left;--ta-mobile:center;--mt:7px;--mt-tablet:7px;--mt-mobile:7px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:60%;--w-tablet:60%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:46px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#C6BEC0;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFpeu_W5DI_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gCZUwttPgL gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gsOifGx9Rr"
      style="--mt-mobile:22px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1779771690337 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsOifGx9Rr"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggsOifGx9Rr_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNTItOTI4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTUyIiBoZWlnaHQ9IjkyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIGZpbGw9InVybCgjZy0xMTUyLTkyOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNTIiIHRvPSIxMTUyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggsOifGx9Rr_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNTItOTI4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTUyIiBoZWlnaHQ9IjkyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIGZpbGw9InVybCgjZy0xMTUyLTkyOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNTIiIHRvPSIxMTUyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggsOifGx9Rr_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNTItOTI4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTUyIiBoZWlnaHQ9IjkyOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE1MiIgaGVpZ2h0PSI5MjgiIGZpbGw9InVybCgjZy0xMTUyLTkyOCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNTIiIHRvPSIxMTUyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggsOifGx9Rr_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:395px;--h-tablet:395px;--h-mobile:249px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:26px;--bblr:26px;--bbrr:26px;--btlr:26px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFsk7RX-3B"
        class="gFsk7RX-3B"
        style="--ta:left;--ta-mobile:center;--mt:7px;--mt-tablet:7px;--mt-mobile:7px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:58%;--w-tablet:58%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:46px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#C6BEC0;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFsk7RX-3B_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-612660175672705835 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612368322326954795&sectionId=612660175672705835)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggnMC6GxrQs_text","label":"ggnMC6GxrQs_text","default":"Real Postural Recovery"},{"type":"html","id":"ggGbzZJGboT_srcSet_desktop_src","label":"ggGbzZJGboT_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/0117729deeab068732edabb0efe77f2fb4985f5a.png"},{"type":"html","id":"ggFpeu_W5DI_text","label":"ggFpeu_W5DI_text","default":"I can finally stand without my head hanging forward"},{"type":"html","id":"ggsOifGx9Rr_srcSet_desktop_src","label":"ggsOifGx9Rr_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/7d6a18e6aea9b83174a5b0e6d2e2160d6c9da647.png"},{"type":"html","id":"ggFsk7RX-3B_text","label":"ggFsk7RX-3B_text","default":"My neck pain disappeared within weeks"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}