
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610797768499594022.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610797768499594022.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610797768499594022.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610797768499594022.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610797768499594022.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610797768499594022.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610797768499594022.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610797768499594022.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610797768499594022.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610797768499594022.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610797768499594022.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610797768499594022.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610797768499594022.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-610797768499594022.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610797768499594022.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610797768499594022.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610797768499594022.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610797768499594022.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610797768499594022.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-610797768499594022.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610797768499594022.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610797768499594022.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-610797768499594022.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-610797768499594022.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-610797768499594022.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610797768499594022.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610797768499594022.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610797768499594022.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-610797768499594022.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-610797768499594022.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-610797768499594022.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610797768499594022.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610797768499594022.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-610797768499594022.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610797768499594022.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610797768499594022.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610797768499594022.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610797768499594022.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610797768499594022.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610797768499594022.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610797768499594022.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610797768499594022.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610797768499594022.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610797768499594022.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-610797768499594022.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610797768499594022.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-610797768499594022.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-610797768499594022.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-610797768499594022.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-610797768499594022.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-610797768499594022.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610797768499594022.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610797768499594022.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610797768499594022.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610797768499594022.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-610797768499594022.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-610797768499594022.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-610797768499594022.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-610797768499594022.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-610797768499594022.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-610797768499594022.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-610797768499594022.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610797768499594022.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610797768499594022.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610797768499594022.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610797768499594022.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-610797768499594022.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-610797768499594022.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-610797768499594022 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-610797768499594022 .gp-relative{position:relative}.gps-610797768499594022 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610797768499594022 .gp-mb-0{margin-bottom:0}.gps-610797768499594022 .gp-flex{display:flex}.gps-610797768499594022 .gp-grid{display:grid}.gps-610797768499594022 .\!gp-hidden{display:none!important}.gps-610797768499594022 .gp-hidden{display:none}.gps-610797768499594022 .gp-max-w-full{max-width:100%}.gps-610797768499594022 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610797768499594022 .gp-flex-col{flex-direction:column}.gps-610797768499594022 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610797768499594022 .gp-duration-200{transition-duration:.2s}.gps-610797768499594022 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-610797768499594022 .tablet\:\!gp-hidden{display:none!important}.gps-610797768499594022 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-610797768499594022 .mobile\:\!gp-hidden{display:none!important}.gps-610797768499594022 .mobile\:gp-hidden{display:none}}.gps-610797768499594022 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#232021","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gh11P0v8jQ"}' data-id="gh11P0v8jQ" id="gh11P0v8jQ" data-same-height-subgrid-container class="gh11P0v8jQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:93px;--pb:var(--g-s-2xl);--mt-tablet:0px;--pt-tablet:93px;--pb-tablet:var(--g-s-2xl);--mt-mobile:0px;--pt-mobile:40px;--pb-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZ2qATBvQL gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8ZcGL9zvz"
        class="g8ZcGL9zvz"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:34px;--size-tablet:46px;--size-mobile:19px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8ZcGL9zvz_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gzpPGzT-Ni"}' data-id="gzpPGzT-Ni" id="gzpPGzT-Ni" data-same-height-subgrid-container class="gzpPGzT-Ni gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:40px;--mt-tablet:40px;--mt-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:481px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQMSvR73vv gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#2D2D2D","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gNKhHazhvZ"}' data-id="gNKhHazhvZ" id="gNKhHazhvZ" data-same-height-subgrid-container class="gNKhHazhvZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:10px;--pl:var(--g-s-l);--pb:10px;--pr:var(--g-s-l);--pt-tablet:10px;--pl-tablet:var(--g-s-l);--pb-tablet:10px;--pr-tablet:var(--g-s-l);--pt-mobile:10px;--pl-mobile:var(--g-s-l);--pb-mobile:10px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:502px;--h:auto;--bgc:#2D2D2D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdF1hD2C1W gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvHlYfCqU7"
        class="gvHlYfCqU7"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:46px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvHlYfCqU7_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gnnnUMTI_u gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#ECBF7C","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gjSzbM2T5g"}' data-id="gjSzbM2T5g" id="gjSzbM2T5g" data-same-height-subgrid-container class="gjSzbM2T5g gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:10px;--pl:var(--g-s-l);--pb:10px;--pr:var(--g-s-l);--pt-tablet:10px;--pl-tablet:var(--g-s-l);--pb-tablet:10px;--pr-tablet:var(--g-s-l);--pt-mobile:10px;--pl-mobile:var(--g-s-l);--pb-mobile:10px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#ECBF7C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRYql-B0uV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8WbgLQZKB"
        class="g8WbgLQZKB"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:18px;--size-tablet:46px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8WbgLQZKB_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gPaYJhC324"}' data-id="gPaYJhC324" id="gPaYJhC324" data-same-height-subgrid-container class="gPaYJhC324 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:481px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="grX3vPo76B gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#00000000","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gxRThNg-rk"}' data-id="gxRThNg-rk" id="gxRThNg-rk" data-same-height-subgrid-container class="gxRThNg-rk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:17px;--pl:var(--g-s-l);--pb:17px;--pr:var(--g-s-l);--pt-tablet:17px;--pl-tablet:var(--g-s-l);--pb-tablet:17px;--pr-tablet:var(--g-s-l);--pt-mobile:17px;--pl-mobile:var(--g-s-l);--pb-mobile:17px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px 0px 1px 0px;--bc:#ECBF7C;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2W4eT8oEE gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHGBSKEQxl"
        class="gHGBSKEQxl"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:13px;--size-tablet:46px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHGBSKEQxl_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gvjSbAxnc4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#3D3A3B","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"glLPRXj-WK"}' data-id="glLPRXj-WK" id="glLPRXj-WK" data-same-height-subgrid-container class="glLPRXj-WK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:17px;--pl:var(--g-s-l);--pb:17px;--pr:var(--g-s-l);--pt-tablet:17px;--pl-tablet:var(--g-s-l);--pb-tablet:17px;--pr-tablet:var(--g-s-l);--pt-mobile:17px;--pl-mobile:var(--g-s-l);--pb-mobile:17px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px 0px 1px 0px;--bc:#ECBF7C;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#3D3A3B;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLm_2XN-7L gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpgDPfNtGw"
        class="gpgDPfNtGw"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:13px;--size-tablet:46px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpgDPfNtGw_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gsYqMvmUcH"}' data-id="gsYqMvmUcH" id="gsYqMvmUcH" data-same-height-subgrid-container class="gsYqMvmUcH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:481px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGkbiQOc3G gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#00000000","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gLw9GSwPmG"}' data-id="gLw9GSwPmG" id="gLw9GSwPmG" data-same-height-subgrid-container class="gLw9GSwPmG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:17px;--pl:var(--g-s-l);--pb:17px;--pr:var(--g-s-l);--pt-tablet:17px;--pl-tablet:var(--g-s-l);--pb-tablet:17px;--pr-tablet:var(--g-s-l);--pt-mobile:17px;--pl-mobile:var(--g-s-l);--pb-mobile:17px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px 0px 1px 0px;--bc:#ECBF7C;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXyyje94ZQ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBImimKjJN"
        class="gBImimKjJN"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:13px;--size-tablet:46px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBImimKjJN_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gojZxeEIbp gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#3D3A3B","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gkv6YYshs0"}' data-id="gkv6YYshs0" id="gkv6YYshs0" data-same-height-subgrid-container class="gkv6YYshs0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:17px;--pl:var(--g-s-l);--pb:17px;--pr:var(--g-s-l);--pt-tablet:17px;--pl-tablet:var(--g-s-l);--pb-tablet:17px;--pr-tablet:var(--g-s-l);--pt-mobile:17px;--pl-mobile:var(--g-s-l);--pb-mobile:17px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px 0px 1px 0px;--bc:#ECBF7C;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#3D3A3B;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gw-0RRSIHB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIQVcRxuid"
        class="gIQVcRxuid"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:13px;--size-tablet:46px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIQVcRxuid_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gdZkMkDM8z"}' data-id="gdZkMkDM8z" id="gdZkMkDM8z" data-same-height-subgrid-container class="gdZkMkDM8z gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--mb:50px;--mt-tablet:0px;--mb-tablet:50px;--mt-mobile:0px;--mb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:481px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-I--CmMiG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#00000000","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gWqbNtFvth"}' data-id="gWqbNtFvth" id="gWqbNtFvth" data-same-height-subgrid-container class="gWqbNtFvth gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:17px;--pl:var(--g-s-l);--pb:17px;--pr:var(--g-s-l);--pt-tablet:17px;--pl-tablet:var(--g-s-l);--pb-tablet:17px;--pr-tablet:var(--g-s-l);--pt-mobile:17px;--pl-mobile:var(--g-s-l);--pb-mobile:17px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px 0px 1px 0px;--bc:#ECBF7C;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3f3wJ0yGd gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_NKuuCP89"
        class="g_NKuuCP89"
        style="--ta:left;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:13px;--size-tablet:46px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_NKuuCP89_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gbI3H887_0 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#3D3A3B","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g2p-ShZOqu"}' data-id="g2p-ShZOqu" id="g2p-ShZOqu" data-same-height-subgrid-container class="g2p-ShZOqu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pt:17px;--pl:var(--g-s-l);--pb:17px;--pr:var(--g-s-l);--mb-tablet:0px;--pt-tablet:17px;--pl-tablet:var(--g-s-l);--pb-tablet:17px;--pr-tablet:var(--g-s-l);--mb-mobile:0px;--pt-mobile:17px;--pl-mobile:var(--g-s-l);--pb-mobile:17px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px 0px 1px 0px;--bc:#ECBF7C;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#3D3A3B;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGCxpdQgX- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwY4vvmSaL"
        class="gwY4vvmSaL"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:13px;--size-tablet:46px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwY4vvmSaL_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-610797768499594022 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=610797768381825830&sectionId=610797768499594022)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8ZcGL9zvz_text","label":"gg8ZcGL9zvz_text","default":"Surface Solutions vs Structural Support"},{"type":"html","id":"ggvHlYfCqU7_text","label":"ggvHlYfCqU7_text","default":"Surface-Focused"},{"type":"html","id":"gg8WbgLQZKB_text","label":"gg8WbgLQZKB_text","default":"Structural Support"},{"type":"html","id":"ggHGBSKEQxl_text","label":"ggHGBSKEQxl_text","default":"Temporary routines"},{"type":"html","id":"ggpgDPfNtGw_text","label":"ggpgDPfNtGw_text","default":"Nightly positioning"},{"type":"html","id":"ggBImimKjJN_text","label":"ggBImimKjJN_text","default":"Daytime correction"},{"type":"html","id":"ggIQVcRxuid_text","label":"ggIQVcRxuid_text","default":"Top-down load awareness"},{"type":"html","id":"gg_NKuuCP89_text","label":"gg_NKuuCP89_text","default":"Localized attention"},{"type":"html","id":"ggwY4vvmSaL_text","label":"ggwY4vvmSaL_text","default":"Consistency without force"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}