
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609734511965504503.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609734511965504503.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609734511965504503.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609734511965504503.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-609734511965504503.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609734511965504503.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609734511965504503.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609734511965504503.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-609734511965504503.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609734511965504503.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609734511965504503.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609734511965504503.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609734511965504503.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-609734511965504503.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609734511965504503.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-609734511965504503.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609734511965504503.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609734511965504503.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-609734511965504503.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609734511965504503.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-609734511965504503.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609734511965504503.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609734511965504503.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609734511965504503.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-609734511965504503.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609734511965504503.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-609734511965504503.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609734511965504503.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-609734511965504503.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609734511965504503.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609734511965504503.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609734511965504503.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-609734511965504503.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609734511965504503.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609734511965504503.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609734511965504503.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609734511965504503.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609734511965504503.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609734511965504503.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609734511965504503.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609734511965504503.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609734511965504503.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609734511965504503.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609734511965504503.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609734511965504503.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609734511965504503.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609734511965504503.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609734511965504503.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609734511965504503.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609734511965504503.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609734511965504503.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609734511965504503.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609734511965504503.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609734511965504503.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609734511965504503.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609734511965504503.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609734511965504503.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609734511965504503.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609734511965504503.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609734511965504503.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609734511965504503.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609734511965504503.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609734511965504503.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609734511965504503.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609734511965504503.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609734511965504503.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609734511965504503.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609734511965504503.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609734511965504503.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-609734511965504503.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609734511965504503.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609734511965504503.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609734511965504503.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609734511965504503.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609734511965504503.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609734511965504503.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609734511965504503.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609734511965504503.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609734511965504503.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609734511965504503.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609734511965504503.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609734511965504503.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609734511965504503 .gp-relative{position:relative}.gps-609734511965504503 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609734511965504503 .gp-mb-0{margin-bottom:0}.gps-609734511965504503 .gp-inline-block{display:inline-block}.gps-609734511965504503 .gp-flex{display:flex}.gps-609734511965504503 .gp-inline-flex{display:inline-flex}.gps-609734511965504503 .gp-grid{display:grid}.gps-609734511965504503 .gp-contents{display:contents}.gps-609734511965504503 .\!gp-hidden{display:none!important}.gps-609734511965504503 .gp-hidden{display:none}.gps-609734511965504503 .gp-h-auto{height:auto}.gps-609734511965504503 .gp-h-full{height:100%}.gps-609734511965504503 .gp-w-full{width:100%}.gps-609734511965504503 .gp-max-w-full{max-width:100%}.gps-609734511965504503 .gp-flex-none{flex:none}.gps-609734511965504503 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609734511965504503 .gp-flex-col{flex-direction:column}.gps-609734511965504503 .gp-items-center{align-items:center}.gps-609734511965504503 .gp-justify-center{justify-content:center}.gps-609734511965504503 .gp-overflow-hidden{overflow:hidden}.gps-609734511965504503 .gp-break-words{overflow-wrap:break-word}.gps-609734511965504503 .gp-text-center{text-align:center}.gps-609734511965504503 .gp-no-underline{text-decoration-line:none}.gps-609734511965504503 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609734511965504503 .gp-duration-200{transition-duration:.2s}.gps-609734511965504503 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609734511965504503 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609734511965504503 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609734511965504503 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609734511965504503 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609734511965504503 .tablet\:\!gp-hidden{display:none!important}.gps-609734511965504503 .tablet\:gp-hidden{display:none}.gps-609734511965504503 .tablet\:gp-h-auto{height:auto}.gps-609734511965504503 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609734511965504503 .mobile\:\!gp-hidden{display:none!important}.gps-609734511965504503 .mobile\:gp-hidden{display:none}.gps-609734511965504503 .mobile\:gp-h-auto{height:auto}.gps-609734511965504503 .mobile\:gp-flex-none{flex:none}}.gps-609734511965504503 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609734511965504503 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmserifdisplay/v17/-nFnOHM81r4j6k0gjAW3mujVU2B2K_c.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#232021","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gTMsL5iMfi"}' data-id="gTMsL5iMfi" id="gTMsL5iMfi" data-same-height-subgrid-container class="gTMsL5iMfi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:0px;--pb:48px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:42px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCF21CcmcM gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"guv2DGhCfm"}' data-id="guv2DGhCfm" id="guv2DGhCfm" data-same-height-subgrid-container class="guv2DGhCfm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:970px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOkvBldm2K gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gYMXxAze5J"}' data-id="gYMXxAze5J" id="gYMXxAze5J" data-same-height-subgrid-container class="gYMXxAze5J gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:var(--g-s-l);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRhwucPWxi gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gL3IrtJIms"
      style="--mb:0px;--pb:0px;--mb-tablet:0px;--pb-tablet:0px;--mb-mobile:0px;--pb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1773165743167 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gL3IrtJIms"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Modern_Screens.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI0MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNDAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI0MDAiIGZpbGw9InVybCgjZy0xMjAwLTQwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Modern_Screens.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI0MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNDAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI0MDAiIGZpbGw9InVybCgjZy0xMjAwLTQwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "Modern_Screens.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI0MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNDAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI0MDAiIGZpbGw9InVybCgjZy0xMjAwLTQwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "Modern_Screens.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:40px;--bblr:40px;--bbrr:40px;--btlr:40px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2ch2CJC_R"
        class="g2ch2CJC_R"
        style="--ta:left;--mb:20px;--mb-tablet:20px;--mb-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ff:var(--g-font-DM-Serif-Display, 'DM Serif Display'), var(--g-font-heading, heading);--weight:400;--size:32px;--size-tablet:42px;--size-mobile:41px;--lh:44px;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2ch2CJC_R_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gktoiH6c-X"
        class="gktoiH6c-X"
        style="--ta:left;--mb:20px;--mb-tablet:20px;--mb-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:180%;--lh-mobile:180%;--c:#A7A6A6;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggktoiH6c-X_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type == 'product'
          if 'static' == 'static'
            if '9393559109873' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at' | reverse | first
              endpaginate
            else
              assign product = all_products['r3-revivthree-without-support']
              assign productId = '9393559109873' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        else
          if '9393559109873' == 'latest'
            paginate collections.all.products by 100000
              assign product = collections.all.products | sort: 'created_at'| reverse | first
            endpaginate
          else
            assign product = all_products['r3-revivthree-without-support']
            assign productId = '9393559109873' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gKTA3LP9wb" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="gKTA3LP9wb"
        data-id="gKTA3LP9wb"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "hasPreSelected": true, "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity | default: 0 }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent"}},"uid":"gKTA3LP9wb"}' data-id="gKTA3LP9wb-row" id="gKTA3LP9wb" data-same-height-subgrid-container class="gKTA3LP9wb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:32px;--rg:16px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUZfoVlN9l gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="gG2UK5kZFb"].gp-button-base::before, [data-id="gG2UK5kZFb-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gG2UK5kZFb"]:hover::before, [data-id="gG2UK5kZFb-interaction"]:hover::before {
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  }</style>
        
        <a
          data-id="gG2UK5kZFb" dataId="gG2UK5kZFb" data-state="idle" aria-label="<p>Get Reviv Today</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--bgi:;--hvr-bgi:;--hvr-bg:#EFC98B;--bg:#ECBF7C;--hvr-c:#232021;--c:#121212;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gG2UK5kZFb gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggG2UK5kZFb_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-609734511965504503 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609711152007480311&sectionId=609734511965504503)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg2ch2CJC_R_text","label":"gg2ch2CJC_R_text","default":"Modern Screens Aren’t Going Away.<br>Support Your Alignment Anyway."},{"type":"html","id":"ggktoiH6c-X_text","label":"ggktoiH6c-X_text","default":"<p>Small nightly positioning support can influence how your neck carries daily load.</p>"},{"type":"html","id":"ggG2UK5kZFb_label","label":"ggG2UK5kZFb_label","default":"<p>Get Reviv Today</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}