
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602479640845484797.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-602479640845484797.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-602479640845484797.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602479640845484797.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602479640845484797.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602479640845484797.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602479640845484797.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602479640845484797.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602479640845484797.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602479640845484797.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602479640845484797.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602479640845484797.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602479640845484797.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602479640845484797.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602479640845484797.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602479640845484797.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602479640845484797.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602479640845484797.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602479640845484797.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602479640845484797.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602479640845484797.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-602479640845484797.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602479640845484797.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602479640845484797.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602479640845484797.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602479640845484797.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602479640845484797.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602479640845484797.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-602479640845484797.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602479640845484797.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602479640845484797.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-602479640845484797.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-602479640845484797.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-602479640845484797.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-602479640845484797.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602479640845484797.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602479640845484797.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602479640845484797.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602479640845484797.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602479640845484797.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602479640845484797.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602479640845484797.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602479640845484797.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-602479640845484797.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-602479640845484797.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-602479640845484797.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-602479640845484797.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602479640845484797.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-602479640845484797.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-602479640845484797.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-602479640845484797.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-602479640845484797.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-602479640845484797.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-602479640845484797.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602479640845484797.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-602479640845484797.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-602479640845484797.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-602479640845484797.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-602479640845484797.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-602479640845484797.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-602479640845484797.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-602479640845484797.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-602479640845484797.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602479640845484797.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602479640845484797.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-602479640845484797.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-602479640845484797.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-602479640845484797.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-602479640845484797.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-602479640845484797.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-602479640845484797.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-602479640845484797.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-602479640845484797.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-602479640845484797.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-602479640845484797.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602479640845484797.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-602479640845484797.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602479640845484797.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-602479640845484797.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-602479640845484797.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-602479640845484797.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-602479640845484797.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-602479640845484797.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-602479640845484797.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602479640845484797.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602479640845484797.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602479640845484797.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602479640845484797.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-602479640845484797.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-602479640845484797.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-602479640845484797.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-602479640845484797 .gp-rotate-0,.gps-602479640845484797 .gp-rotate-180,.gps-602479640845484797 .mobile\:gp-rotate-0,.gps-602479640845484797 .mobile\:gp-rotate-180,.gps-602479640845484797 .tablet\:gp-rotate-0,.gps-602479640845484797 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-602479640845484797 .gp-invisible{visibility:hidden}.gps-602479640845484797 .gp-static{position:static}.gps-602479640845484797 .\!gp-absolute{position:absolute!important}.gps-602479640845484797 .gp-absolute{position:absolute}.gps-602479640845484797 .gp-relative{position:relative}.gps-602479640845484797 .gp-inset-0{inset:0}.gps-602479640845484797 .gp-left-0{left:0}.gps-602479640845484797 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-602479640845484797 .gp-right-0{right:0}.gps-602479640845484797 .gp-top-0{top:0}.gps-602479640845484797 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-602479640845484797 .-gp-z-1{z-index:-1}.gps-602479640845484797 .gp-z-1{z-index:1}.gps-602479640845484797 .gp-z-2{z-index:2}.gps-602479640845484797 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602479640845484797 .gp-my-0{margin-bottom:0;margin-top:0}.gps-602479640845484797 .gp-mb-0{margin-bottom:0}.gps-602479640845484797 .gp-block{display:block}.gps-602479640845484797 .gp-flex{display:flex}.gps-602479640845484797 .gp-grid{display:grid}.gps-602479640845484797 .\!gp-hidden{display:none!important}.gps-602479640845484797 .gp-hidden{display:none}.gps-602479640845484797 .gp-h-full{height:100%}.gps-602479640845484797 .\!gp-min-h-full{min-height:100%!important}.gps-602479640845484797 .gp-w-full{width:100%}.gps-602479640845484797 .\!gp-max-w-none{max-width:none!important}.gps-602479640845484797 .gp-max-w-full{max-width:100%}.gps-602479640845484797 .gp-flex-1{flex:1 1 0%}.gps-602479640845484797 .gp-shrink-0{flex-shrink:0}.gps-602479640845484797 .gp-rotate-0{--tw-rotate:0deg}.gps-602479640845484797 .gp-rotate-0,.gps-602479640845484797 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-602479640845484797 .gp-rotate-180{--tw-rotate:180deg}.gps-602479640845484797 .gp-cursor-pointer{cursor:pointer}.gps-602479640845484797 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-602479640845484797 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602479640845484797 .\!gp-flex-row{flex-direction:row!important}.gps-602479640845484797 .gp-flex-row{flex-direction:row}.gps-602479640845484797 .gp-flex-col{flex-direction:column}.gps-602479640845484797 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-602479640845484797 .gp-content-start{align-content:flex-start}.gps-602479640845484797 .gp-items-center{align-items:center}.gps-602479640845484797 .gp-justify-end{justify-content:flex-end}.gps-602479640845484797 .gp-justify-center{justify-content:center}.gps-602479640845484797 .gp-justify-between{justify-content:space-between}.gps-602479640845484797 .gp-gap-2{gap:8px}.gps-602479640845484797 .\!gp-self-center{align-self:center!important}.gps-602479640845484797 .gp-self-center{align-self:center}.gps-602479640845484797 .gp-overflow-hidden{overflow:hidden}.gps-602479640845484797 .gp-text-center{text-align:center}.gps-602479640845484797 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity,1))}.gps-602479640845484797 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602479640845484797 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602479640845484797 .gp-duration-200{transition-duration:.2s}.gps-602479640845484797 .gp-duration-300{transition-duration:.3s}.gps-602479640845484797 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602479640845484797 .before\:gp-left-0:before{content:var(--tw-content);left:0}.gps-602479640845484797 .before\:gp-top-0:before{content:var(--tw-content);top:0}@media (max-width:1024px){.gps-602479640845484797 .tablet\:gp-static{position:static}.gps-602479640845484797 .tablet\:\!gp-absolute{position:absolute!important}.gps-602479640845484797 .tablet\:gp-left-0{left:0}.gps-602479640845484797 .tablet\:gp-right-0{right:0}.gps-602479640845484797 .tablet\:gp-block{display:block}.gps-602479640845484797 .tablet\:\!gp-hidden{display:none!important}.gps-602479640845484797 .tablet\:gp-hidden{display:none}.gps-602479640845484797 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-602479640845484797 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-602479640845484797 .tablet\:gp-rotate-0,.gps-602479640845484797 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-602479640845484797 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-602479640845484797 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-602479640845484797 .tablet\:gp-flex-row{flex-direction:row}.gps-602479640845484797 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-602479640845484797 .tablet\:gp-justify-end{justify-content:flex-end}.gps-602479640845484797 .tablet\:\!gp-self-center{align-self:center!important}.gps-602479640845484797 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-602479640845484797 .mobile\:gp-static{position:static}.gps-602479640845484797 .mobile\:\!gp-absolute{position:absolute!important}.gps-602479640845484797 .mobile\:gp-left-0{left:0}.gps-602479640845484797 .mobile\:gp-right-0{right:0}.gps-602479640845484797 .mobile\:gp-block{display:block}.gps-602479640845484797 .mobile\:\!gp-hidden{display:none!important}.gps-602479640845484797 .mobile\:gp-hidden{display:none}.gps-602479640845484797 .mobile\:\!gp-h-auto{height:auto!important}.gps-602479640845484797 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-602479640845484797 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-602479640845484797 .mobile\:gp-rotate-0,.gps-602479640845484797 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-602479640845484797 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-602479640845484797 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-602479640845484797 .mobile\:gp-flex-row{flex-direction:row}.gps-602479640845484797 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-602479640845484797 .mobile\:gp-justify-end{justify-content:flex-end}.gps-602479640845484797 .mobile\:\!gp-self-center{align-self:center!important}.gps-602479640845484797 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-602479640845484797 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-602479640845484797 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-602479640845484797 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#242021","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVVKELnhR0"}' data-id="gVVKELnhR0" id="gVVKELnhR0" data-same-height-subgrid-container class="gVVKELnhR0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pb-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#242021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glSdZoirvZ gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel-v3 gp-data='{"id":"gBpkg067nM","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":true,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"padding":{"bottom":"16px","left":"16px","linked":true,"right":"16px","top":"16px","type":"custom"},"shapeLinked":true,"shapeValue":"1/1"}},"arrowCustom":"<svg height=\"20\" width=\"20\" data-name=\"caret-right-regular\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508418455613473128\">\n      <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z\"></path></svg>\n    ","arrowCustomColor":"#121212","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"arrowShadow":{"desktop":{"angle":45,"blur":"4px","color":"rgba(18, 18, 18, 0.2)","distance":"4px","enable":false,"spread":"0px","type":"shadow-1"}},"autoplay":true,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Item 1","Item 2","Item 3"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":true},"dotActiveColor":{"desktop":"line-3","mobile":"#E5C185"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"outside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":3,"mobile":1,"tablet":2},"label":true,"loop":{"desktop":false,"mobile":true},"navigationEnable":{"desktop":false,"mobile":false},"navigationStyle":{"desktop":"outside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"backgroundColor":{"desktop":"#242021"},"backgroundImage":{"desktop":{}},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"line-3","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":45,"blur":"4px","color":"rgba(18, 18, 18, 0.2)","distance":"4px","enable":false,"spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"itemPadding":{"desktop":{"padding":{}}},"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"100%"}},"spacing":{"desktop":"0"}}}' data-id="gBpkg067nM" id="gp-root-carousel-gBpkg067nM" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="gBpkg067nM gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mb-mobile:0px;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--mb-tablet:0px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242021;--bgi:none;--bgc-tablet:#242021;--bgi-tablet:none;--bgc-mobile:#242021;--bgi-mobile:none"
      >
        <div class="gp-relative gp-overflow-hidden gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:auto;--h-tablet:auto;--h-mobile:auto;gap:16px">
          
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 before:gp-left-0 before:gp-top-0 gp-carousel-arrow-gBpkg067nM gBpkg067nM gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:none;--left:3px;--right:initial;--top:initial;--bottom:;--left-tablet:3px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:3px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--shadow:none;--v:hidden"
    >
      <style type="text/css">
      .gp-carousel-arrow-gBpkg067nM {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-gBpkg067nM::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gBpkg067nM {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gBpkg067nM::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gBpkg067nM {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gBpkg067nM::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#121212;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508418455613473128">
      <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
    
    </div>
  
    </button>
  
          <div id="gp-carousel-gBpkg067nM" dir="ltr" style="overflow:hidden;flex:1;width:100%;height:100%">
            <div class="gem-slider-wrapper gp-flex gp-content-start gp-h-full gp-select-none !gp-max-w-none gp-carousel-slider-gBpkg067nM mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full">
              
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gBpkg067nM gp-child-item-gBpkg067nM ga4I7NFFbC"
      style="--minw:calc(100% / 3 - 0px);--minw-tablet:calc(100% / 2 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 0px);--maxw-tablet:calc(100% / 2 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--mr:0px;--mr-tablet:0px;--mr-mobile:0px"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
      <gp-hero-banner
        
        data-id="ge-765tgot"
        class="ge-765tgot gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:0px;--pb-mobile:0px;--pb-tablet:0px;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","image":{"backupFileKey":"","height":1000,"src":"{{ section.settings.gge-765tgot_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"},"tablet":{"attachment":"scroll","image":{"backupFileKey":"","height":1000,"src":"{{ section.settings.gge-765tgot_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"},"mobile":{"attachment":"scroll","image":{"backupFileKey":"","height":1000,"src":"{{ section.settings.gge-765tgot_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"}},"uid":"ge-765tgot","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[6,6],"display":"fill","type":"left-bottom"},"mobile":{"cols":[11,1],"display":"fill","type":"left-bottom"}},"contentPosition1Col":{"desktop":"space-between"},"contentPosition2Col":{"desktop":"bottom","mobile":"bottom"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"enableVideoShape":false,"gap":"","height":"","shape":"original","shapeLinked":true,"width":"","widthHeightLinked":false},"tablet":{"enableVideoShape":false,"gap":"","height":"","shape":"original","shapeLinked":true,"width":"","widthHeightLinked":false},"mobile":{"gap":"","height":"","shape":"original","shapeLinked":true,"width":"","widthHeightLinked":false}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.gge-765tgot_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.gge-765tgot_background_desktop_image_src }});--bgi-mobile:url({{ section.settings.gge-765tgot_background_desktop_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.gge-765tgot_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.gge-765tgot_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.gge-765tgot_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.gge-765tgot_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.gge-765tgot_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.gge-765tgot_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300" style="--bgc:#121212;--op:25%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined undefined mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:20px;--pb-mobile:72px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 11fr) minmax(0, 1fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0;--o-mobile:0"
      class="gdlyPDNbcN gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:1;--o-mobile:1"
      class="gpZ7Nt6DM2 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gge-765tgot_background_desktop_image_src }}" srcset="{{ section.settings.gge-765tgot_background_desktop_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gge-765tgot_background_desktop_image_src }}" srcset="{{ section.settings.gge-765tgot_background_desktop_image_src }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.gge-765tgot_background_desktop_image_src }}" data-src="{{ section.settings.gge-765tgot_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:auto;--w-tablet:auto;--w-mobile:auto"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gBpkg067nM gp-child-item-gBpkg067nM gvKJujdoKs"
      style="--minw:calc(100% / 3 - 0px);--minw-tablet:calc(100% / 2 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 0px);--maxw-tablet:calc(100% / 2 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--mr:0px;--mr-tablet:0px;--mr-mobile:0px"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
      <gp-hero-banner
        
        data-id="gTkVRo8MMp"
        class="gTkVRo8MMp gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:0px;--pb-mobile:0px;--pb-tablet:0px;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","image":{"backupFileKey":"","height":1000,"src":"{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"},"tablet":{"attachment":"scroll","image":{"backupFileKey":"","height":1000,"src":"{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"},"mobile":{"attachment":"scroll","image":{"backupFileKey":"","height":1000,"src":"{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"}},"uid":"gTkVRo8MMp","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[6,6],"display":"fill","type":"left-bottom"},"mobile":{"cols":[11,1],"display":"fill","type":"left-bottom"}},"contentPosition1Col":{"desktop":"space-between"},"contentPosition2Col":{"desktop":"bottom","mobile":"bottom"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"enableVideoShape":false,"gap":"","height":"","shape":"original","shapeLinked":true,"width":"","widthHeightLinked":false},"tablet":{"enableVideoShape":false,"gap":"","height":"","shape":"original","shapeLinked":true,"width":"","widthHeightLinked":false},"mobile":{"gap":"","height":"","shape":"original","shapeLinked":true,"width":"","widthHeightLinked":false}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggTkVRo8MMp_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggTkVRo8MMp_background_desktop_image_src }});--bgi-mobile:url({{ section.settings.ggTkVRo8MMp_background_desktop_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300" style="--bgc:#121212;--op:25%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined undefined mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:20px;--pb-mobile:72px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 11fr) minmax(0, 1fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0;--o-mobile:0"
      class="gzRHSnxpA2 gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:1;--o-mobile:1"
      class="g9az-8Z720 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" srcset="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" srcset="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}" data-src="{{ section.settings.ggTkVRo8MMp_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:auto;--w-tablet:auto;--w-mobile:auto"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gBpkg067nM gp-child-item-gBpkg067nM g6oibTapSy"
      style="--minw:calc(100% / 3 - 0px);--minw-tablet:calc(100% / 2 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 0px);--maxw-tablet:calc(100% / 2 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--mr:0px;--mr-tablet:0px;--mr-mobile:0px"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
      <gp-hero-banner
        
        data-id="gsMJIt41Wr"
        class="gsMJIt41Wr gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:0px;--pb-mobile:0px;--pb-tablet:0px;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","image":{"backupFileKey":"","height":1000,"src":"{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"},"tablet":{"attachment":"scroll","image":{"backupFileKey":"","height":1000,"src":"{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"},"mobile":{"attachment":"scroll","image":{"backupFileKey":"","height":1000,"src":"{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"}},"uid":"gsMJIt41Wr","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[6,6],"display":"fill","type":"left-bottom"},"mobile":{"cols":[11,1],"display":"fill","type":"left-bottom"}},"contentPosition1Col":{"desktop":"space-between"},"contentPosition2Col":{"desktop":"bottom","mobile":"bottom"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"enableVideoShape":false,"gap":"","height":"","shape":"original","shapeLinked":true,"width":"","widthHeightLinked":false},"tablet":{"enableVideoShape":false,"gap":"","height":"","shape":"original","shapeLinked":true,"width":"","widthHeightLinked":false},"mobile":{"gap":"","height":"","shape":"original","shapeLinked":true,"width":"","widthHeightLinked":false}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggsMJIt41Wr_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggsMJIt41Wr_background_desktop_image_src }});--bgi-mobile:url({{ section.settings.ggsMJIt41Wr_background_desktop_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300" style="--bgc:#121212;--op:25%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined undefined mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:20px;--pb-mobile:72px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 11fr) minmax(0, 1fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0;--o-mobile:0"
      class="gJJH-oDsZB gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:1;--o-mobile:1"
      class="go0B4Z1HDI gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" srcset="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" srcset="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}" data-src="{{ section.settings.ggsMJIt41Wr_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:auto;--w-tablet:auto;--w-mobile:auto"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
      </div>
    </div>
  
            </div>
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 before:gp-left-0 before:gp-top-0 gp-carousel-arrow-gBpkg067nM gBpkg067nM gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:none;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:3px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--shadow:none;--v:hidden"
    >
      <style type="text/css">
      .gp-carousel-arrow-gBpkg067nM {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-gBpkg067nM::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gBpkg067nM {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gBpkg067nM::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gBpkg067nM {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-gBpkg067nM::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#121212;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg height="20" width="20" data-name="caret-right-regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508418455613473128">
      <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
    
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gBpkg067nM gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--mt:16px;--mt-tablet:16px;--mt-mobile:16px;--d:none;--d-tablet:none;--d-mobile:flex">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel-v3>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v3-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-602479640845484797 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=602479640778375933&sectionId=602479640845484797)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gge-765tgot_background_desktop_image_src","label":"gge-765tgot_background_desktop_image_src","default":"https://getreviv.com/cdn/shop/files/30.jpg?v=1764507476&width=1000"},{"type":"html","id":"ggTkVRo8MMp_background_desktop_image_src","label":"ggTkVRo8MMp_background_desktop_image_src","default":"https://getreviv.com/cdn/shop/files/31.jpg?v=1764507476&width=1000"},{"type":"html","id":"ggsMJIt41Wr_background_desktop_image_src","label":"ggsMJIt41Wr_background_desktop_image_src","default":"https://getreviv.com/cdn/shop/files/32.jpg?v=1764507476&width=1000"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}