
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607847427185050198.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-607847427185050198.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-607847427185050198.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-607847427185050198.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607847427185050198.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-607847427185050198.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607847427185050198.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607847427185050198.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607847427185050198.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-607847427185050198.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607847427185050198.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607847427185050198.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607847427185050198.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607847427185050198.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-607847427185050198.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607847427185050198.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-607847427185050198.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607847427185050198.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607847427185050198.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-607847427185050198.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607847427185050198.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-607847427185050198.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607847427185050198.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-607847427185050198.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607847427185050198.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607847427185050198.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-607847427185050198.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607847427185050198.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-607847427185050198.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607847427185050198.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-607847427185050198.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607847427185050198.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607847427185050198.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607847427185050198.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607847427185050198.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607847427185050198.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607847427185050198.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607847427185050198.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-607847427185050198.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607847427185050198.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607847427185050198.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607847427185050198.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-607847427185050198.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607847427185050198.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607847427185050198.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607847427185050198.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607847427185050198.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607847427185050198.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-607847427185050198.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-607847427185050198.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607847427185050198.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607847427185050198.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-607847427185050198.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607847427185050198.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607847427185050198.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607847427185050198.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607847427185050198.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607847427185050198.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607847427185050198.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-607847427185050198.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607847427185050198.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607847427185050198.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607847427185050198.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-607847427185050198.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607847427185050198.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607847427185050198.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-607847427185050198.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607847427185050198.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-607847427185050198.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-607847427185050198.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607847427185050198.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-607847427185050198.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607847427185050198.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-607847427185050198.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-607847427185050198.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607847427185050198.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607847427185050198.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607847427185050198.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607847427185050198.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-607847427185050198.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-607847427185050198.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-607847427185050198.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607847427185050198.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607847427185050198.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-607847427185050198.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-607847427185050198.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607847427185050198.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607847427185050198.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-607847427185050198.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607847427185050198.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607847427185050198.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-607847427185050198.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-607847427185050198.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607847427185050198.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607847427185050198.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607847427185050198.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607847427185050198.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-607847427185050198.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-607847427185050198.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607847427185050198.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-607847427185050198.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607847427185050198.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607847427185050198 .gp-relative{position:relative}.gps-607847427185050198 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607847427185050198 .gp-mb-0{margin-bottom:0}.gps-607847427185050198 .gp-inline-block{display:inline-block}.gps-607847427185050198 .gp-flex{display:flex}.gps-607847427185050198 .gp-inline-flex{display:inline-flex}.gps-607847427185050198 .gp-grid{display:grid}.gps-607847427185050198 .gp-contents{display:contents}.gps-607847427185050198 .\!gp-hidden{display:none!important}.gps-607847427185050198 .gp-hidden{display:none}.gps-607847427185050198 .gp-h-auto{height:auto}.gps-607847427185050198 .gp-h-full{height:100%}.gps-607847427185050198 .gp-w-full{width:100%}.gps-607847427185050198 .gp-max-w-full{max-width:100%}.gps-607847427185050198 .gp-flex-none{flex:none}.gps-607847427185050198 .gp-shrink-0{flex-shrink:0}.gps-607847427185050198 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607847427185050198 .gp-flex-col{flex-direction:column}.gps-607847427185050198 .gp-items-center{align-items:center}.gps-607847427185050198 .gp-justify-center{justify-content:center}.gps-607847427185050198 .gp-overflow-hidden{overflow:hidden}.gps-607847427185050198 .gp-break-words{overflow-wrap:break-word}.gps-607847427185050198 .gp-border{border-width:1px}.gps-607847427185050198 .gp-border-transparent{border-color:transparent}.gps-607847427185050198 .gp-text-left{text-align:left}.gps-607847427185050198 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-607847427185050198 .gp-no-underline{text-decoration-line:none}.gps-607847427185050198 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607847427185050198 .gp-duration-200{transition-duration:.2s}.gps-607847427185050198 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607847427185050198 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-607847427185050198 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-607847427185050198 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-607847427185050198 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-607847427185050198 .tablet\:\!gp-hidden{display:none!important}.gps-607847427185050198 .tablet\:gp-hidden{display:none}.gps-607847427185050198 .tablet\:gp-h-auto{height:auto}.gps-607847427185050198 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-607847427185050198 .mobile\:\!gp-hidden{display:none!important}.gps-607847427185050198 .mobile\:gp-hidden{display:none}.gps-607847427185050198 .mobile\:gp-h-auto{height:auto}.gps-607847427185050198 .mobile\:gp-flex-none{flex:none}}.gps-607847427185050198 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-607847427185050198 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-607847427185050198 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-607847427185050198 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-607847427185050198 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-607847427185050198 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-607847427185050198 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-607847427185050198 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFF7F0","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gQDIbioOgh"}' data-id="gQDIbioOgh" id="gQDIbioOgh" data-same-height-subgrid-container class="gQDIbioOgh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:80px;--pb:80px;--pt-tablet:80px;--pb-tablet:80px;--pt-mobile:40px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--d:none;--d-tablet:grid;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFF7F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwCDVZ7Kk_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"grxS4yhxuZ"}' data-id="grxS4yhxuZ" id="grxS4yhxuZ" data-same-height-subgrid-container class="grxS4yhxuZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQm5HYP5d6 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFFFFF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gUYF7yRREj"}' data-id="gUYF7yRREj" id="gUYF7yRREj" data-same-height-subgrid-container class="gUYF7yRREj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:2px 2px 2px 2px;--bc:RGBA(255, 255, 255, 0.75);--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwJjiDB7P3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gDP59H5ogp"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775486030926 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gDP59H5ogp"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggDP59H5ogp_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTczIiBoZWlnaHQ9IjE3MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTczLTE3MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTczIiBoZWlnaHQ9IjE3MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTczIiBoZWlnaHQ9IjE3MyIgZmlsbD0idXJsKCNnLTE3My0xNzMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNzMiIHRvPSIxNzMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggDP59H5ogp_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTczIiBoZWlnaHQ9IjE3MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTczLTE3MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTczIiBoZWlnaHQ9IjE3MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTczIiBoZWlnaHQ9IjE3MyIgZmlsbD0idXJsKCNnLTE3My0xNzMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNzMiIHRvPSIxNzMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggDP59H5ogp_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTczIiBoZWlnaHQ9IjE3MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTczLTE3MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTczIiBoZWlnaHQ9IjE3MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTczIiBoZWlnaHQ9IjE3MyIgZmlsbD0idXJsKCNnLTE3My0xNzMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNzMiIHRvPSIxNzMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggDP59H5ogp_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:32%;--w-tablet:32%;--w-mobile:45%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gItTC6VCpQ"}' data-id="gItTC6VCpQ" id="gItTC6VCpQ" data-same-height-subgrid-container class="gItTC6VCpQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--pt-tablet:0px;--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9MSg0M1sy gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJ3g3NH1hF"
        class="gJ3g3NH1hF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-tablet:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Cormorant-Garamond, 'Cormorant Garamond'), var(--g-font-body, body);--weight:600;--size:24px;--size-tablet:16px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ3g3NH1hF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gJ3g3NH1hF">
        .gJ3g3NH1hF {

}
.gJ3g3NH1hF p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6erfMfshj"
        class="g6erfMfshj"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-tablet:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#6B7280;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6erfMfshj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g6erfMfshj">
        .g6erfMfshj {

}
.g6erfMfshj p {

}
      </style>
    <div gp-el-wrapper  class="gX24NblCwG ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gX24NblCwG"
      data-id="gX24NblCwG"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gX24NblCwG"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":24}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:center">
            <div class="gp-inline-flex gp-flex-col" style="--rg:5px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gX24NblCwG"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="check.svg" data-id="605173018309689925" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M16.0533 4.42816C16.3774 4.10403 16.9028 4.10403 17.2269 4.42816C17.5511 4.7523 17.5511 5.2777 17.2269 5.60184L8.09691 14.7318C7.77278 15.0559 7.24738 15.0559 6.92324 14.7318L2.77324 10.5818L2.71651 10.5186C2.45062 10.1926 2.46936 9.71206 2.77324 9.4082C3.07712 9.10425 3.55769 9.08549 3.88369 9.35143L3.94691 9.4082L7.51008 12.9713L16.0533 4.42816Z" fill="#AB834F"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#363636;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggX24NblCwG_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gX24NblCwG"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="check.svg" data-id="605173018309689925" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M16.0533 4.42816C16.3774 4.10403 16.9028 4.10403 17.2269 4.42816C17.5511 4.7523 17.5511 5.2777 17.2269 5.60184L8.09691 14.7318C7.77278 15.0559 7.24738 15.0559 6.92324 14.7318L2.77324 10.5818L2.71651 10.5186C2.45062 10.1926 2.46936 9.71206 2.77324 9.4082C3.07712 9.10425 3.55769 9.08549 3.88369 9.35143L3.94691 9.4082L7.51008 12.9713L16.0533 4.42816Z" fill="#AB834F"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#363636;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggX24NblCwG_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gX24NblCwG"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="check.svg" data-id="605173018309689925" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M16.0533 4.42816C16.3774 4.10403 16.9028 4.10403 17.2269 4.42816C17.5511 4.7523 17.5511 5.2777 17.2269 5.60184L8.09691 14.7318C7.77278 15.0559 7.24738 15.0559 6.92324 14.7318L2.77324 10.5818L2.71651 10.5186C2.45062 10.1926 2.46936 9.71206 2.77324 9.4082C3.07712 9.10425 3.55769 9.08549 3.88369 9.35143L3.94691 9.4082L7.51008 12.9713L16.0533 4.42816Z" fill="#AB834F"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#363636;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggX24NblCwG_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#121212","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g7oMxYoqkd"}' data-id="g7oMxYoqkd" id="g7oMxYoqkd" data-same-height-subgrid-container class="g7oMxYoqkd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:15px;--pt:0px;--pl:var(--g-s-l);--pb:0px;--pr:var(--g-s-l);--mt-tablet:15px;--pt-tablet:0px;--pl-tablet:var(--g-s-l);--pb-tablet:0px;--pr-tablet:var(--g-s-l);--mt-mobile:15px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#121212;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNn5DneAEa gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="gLoJmvoqaD"].gp-button-base::before, [data-id="gLoJmvoqaD-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      
  
    }
  
      
  [data-id="gLoJmvoqaD"]:hover::before, [data-id="gLoJmvoqaD-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gLoJmvoqaD" dataId="gLoJmvoqaD" data-state="idle" aria-label="<p>ADD TO CART</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--hvr-bblr:60px;--hvr-bbrr:60px;--hvr-btlr:60px;--hvr-btrr:60px;--bgi:;--hvr-bgi:;--bg:var(--g-c-[object Object], [object Object]);--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gLoJmvoqaD gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggLoJmvoqaD_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gxk9Fp8ABS gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFFFFF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gBDarYC_NQ"}' data-id="gBDarYC_NQ" id="gBDarYC_NQ" data-same-height-subgrid-container class="gBDarYC_NQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:2px 2px 2px 2px;--bc:#E5C185;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--op:100%;--pos:relative;--z:5;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gthADqRQiV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnvdNejUmL"
        class="gnvdNejUmL"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-29px;--mb:var(--g-s-s);--pos:absolute;--z:100;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100px;--w-tablet:100px;--w-mobile:100px;--tdt:auto;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:12px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;--bgc:#E5C185;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnvdNejUmL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="guM523Kgab"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775486030976 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto guM523Kgab"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gguM523Kgab_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTczIiBoZWlnaHQ9IjE4NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTczLTE4NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTczIiBoZWlnaHQ9IjE4NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTczIiBoZWlnaHQ9IjE4NiIgZmlsbD0idXJsKCNnLTE3My0xODYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNzMiIHRvPSIxNzMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gguM523Kgab_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTczIiBoZWlnaHQ9IjE4NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTczLTE4NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTczIiBoZWlnaHQ9IjE4NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTczIiBoZWlnaHQ9IjE4NiIgZmlsbD0idXJsKCNnLTE3My0xODYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNzMiIHRvPSIxNzMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gguM523Kgab_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTczIiBoZWlnaHQ9IjE4NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTczLTE4NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTczIiBoZWlnaHQ9IjE4NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTczIiBoZWlnaHQ9IjE4NiIgZmlsbD0idXJsKCNnLTE3My0xODYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNzMiIHRvPSIxNzMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gguM523Kgab_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:45%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"goOEyB6JGk"}' data-id="goOEyB6JGk" id="goOEyB6JGk" data-same-height-subgrid-container class="goOEyB6JGk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--pt-tablet:0px;--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2uiPbx8Ur gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghBF0a80jR"
        class="ghBF0a80jR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-tablet:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Cormorant-Garamond, 'Cormorant Garamond'), var(--g-font-body, body);--weight:600;--size:24px;--size-tablet:16px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghBF0a80jR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ghBF0a80jR">
        .ghBF0a80jR {

}
.ghBF0a80jR p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9Xvbfj8qF"
        class="g9Xvbfj8qF"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-tablet:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:[object Object];--w-tablet:[object Object];--w-mobile:[object Object];--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#6B7280;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9Xvbfj8qF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g9Xvbfj8qF">
        .g9Xvbfj8qF {

}
.g9Xvbfj8qF p {

}
      </style>
    <div gp-el-wrapper  class="ggt5t65UdW ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="ggt5t65UdW"
      data-id="ggt5t65UdW"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="ggt5t65UdW"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":24}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:center">
            <div class="gp-inline-flex gp-flex-col" style="--rg:5px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-ggt5t65UdW"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="check.svg" data-id="605173018309689925" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M16.0533 4.42816C16.3774 4.10403 16.9028 4.10403 17.2269 4.42816C17.5511 4.7523 17.5511 5.2777 17.2269 5.60184L8.09691 14.7318C7.77278 15.0559 7.24738 15.0559 6.92324 14.7318L2.77324 10.5818L2.71651 10.5186C2.45062 10.1926 2.46936 9.71206 2.77324 9.4082C3.07712 9.10425 3.55769 9.08549 3.88369 9.35143L3.94691 9.4082L7.51008 12.9713L16.0533 4.42816Z" fill="#AB834F"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#363636;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggt5t65UdW_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-ggt5t65UdW"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="check.svg" data-id="605173018309689925" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M16.0533 4.42816C16.3774 4.10403 16.9028 4.10403 17.2269 4.42816C17.5511 4.7523 17.5511 5.2777 17.2269 5.60184L8.09691 14.7318C7.77278 15.0559 7.24738 15.0559 6.92324 14.7318L2.77324 10.5818L2.71651 10.5186C2.45062 10.1926 2.46936 9.71206 2.77324 9.4082C3.07712 9.10425 3.55769 9.08549 3.88369 9.35143L3.94691 9.4082L7.51008 12.9713L16.0533 4.42816Z" fill="#AB834F"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#363636;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggt5t65UdW_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-ggt5t65UdW"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="check.svg" data-id="605173018309689925" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M16.0533 4.42816C16.3774 4.10403 16.9028 4.10403 17.2269 4.42816C17.5511 4.7523 17.5511 5.2777 17.2269 5.60184L8.09691 14.7318C7.77278 15.0559 7.24738 15.0559 6.92324 14.7318L2.77324 10.5818L2.71651 10.5186C2.45062 10.1926 2.46936 9.71206 2.77324 9.4082C3.07712 9.10425 3.55769 9.08549 3.88369 9.35143L3.94691 9.4082L7.51008 12.9713L16.0533 4.42816Z" fill="#AB834F"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#363636;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggt5t65UdW_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#E5C185","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gQqP8Lfred"}' data-id="gQqP8Lfred" id="gQqP8Lfred" data-same-height-subgrid-container class="gQqP8Lfred gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:15px;--pt:0px;--pl:var(--g-s-l);--pb:0px;--pr:var(--g-s-l);--mt-tablet:15px;--pt-tablet:0px;--pl-tablet:var(--g-s-l);--pb-tablet:0px;--pr-tablet:var(--g-s-l);--mt-mobile:15px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#E5C185;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOTn9F1DMB gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="gaQgF7gizN"].gp-button-base::before, [data-id="gaQgF7gizN-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      
  
    }
  
      
  [data-id="gaQgF7gizN"]:hover::before, [data-id="gaQgF7gizN-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gaQgF7gizN" dataId="gaQgF7gizN" data-state="idle" aria-label="<p>ADD TO CART</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--hvr-bblr:60px;--hvr-bbrr:60px;--hvr-btlr:60px;--hvr-btrr:60px;--bgi:;--hvr-bgi:;--bg:#E5C185;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gaQgF7gizN gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggaQgF7gizN_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-607847427185050198 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=603932950723036063&sectionId=607847427185050198)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDP59H5ogp_srcSet_desktop_src","label":"ggDP59H5ogp_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/R2_RevivTwo_without_Support.png"},{"type":"html","id":"ggJ3g3NH1hF_text","label":"ggJ3g3NH1hF_text","default":"<p>Reviv R2</p>"},{"type":"html","id":"gg6erfMfshj_text","label":"gg6erfMfshj_text","default":"<p>Night-Time Clenching Relief</p>"},{"type":"html","id":"ggX24NblCwG_childItem_0","label":"ggX24NblCwG_childItem_0","default":"<p>Designed for nightly use</p>"},{"type":"html","id":"ggX24NblCwG_childItem_1","label":"ggX24NblCwG_childItem_1","default":"<p>Helps reduce clenching intensity</p>"},{"type":"html","id":"ggX24NblCwG_childItem_2","label":"ggX24NblCwG_childItem_2","default":"<p>Comfortable, reusable, easy to clean</p>"},{"type":"html","id":"ggLoJmvoqaD_label","label":"ggLoJmvoqaD_label","default":"<p>ADD TO CART</p>"},{"type":"html","id":"ggnvdNejUmL_text","label":"ggnvdNejUmL_text","default":"<p>MOST POPULAR</p>"},{"type":"html","id":"gguM523Kgab_srcSet_desktop_src","label":"gguM523Kgab_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/R3_RevivThree_Support_Package.png"},{"type":"html","id":"gghBF0a80jR_text","label":"gghBF0a80jR_text","default":"<p>Reviv R3</p>"},{"type":"html","id":"gg9Xvbfj8qF_text","label":"gg9Xvbfj8qF_text","default":"<p>Advanced Support</p>"},{"type":"html","id":"gggt5t65UdW_childItem_0","label":"gggt5t65UdW_childItem_0","default":"<p>Added stability for heavier clenchers</p>"},{"type":"html","id":"gggt5t65UdW_childItem_1","label":"gggt5t65UdW_childItem_1","default":"<p>Long-term jaw support</p>"},{"type":"html","id":"gggt5t65UdW_childItem_2","label":"gggt5t65UdW_childItem_2","default":"<p>Premium comfort fit</p>"},{"type":"html","id":"ggaQgF7gizN_label","label":"ggaQgF7gizN_label","default":"<p>ADD TO CART</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}