
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609744904645509705.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609744904645509705.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609744904645509705.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609744904645509705.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-609744904645509705.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609744904645509705.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609744904645509705.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609744904645509705.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-609744904645509705.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609744904645509705.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609744904645509705.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609744904645509705.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609744904645509705.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-609744904645509705.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609744904645509705.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-609744904645509705.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609744904645509705.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609744904645509705.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-609744904645509705.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609744904645509705.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-609744904645509705.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609744904645509705.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609744904645509705.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609744904645509705.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609744904645509705.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-609744904645509705.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609744904645509705.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-609744904645509705.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609744904645509705.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-609744904645509705.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609744904645509705.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609744904645509705.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609744904645509705.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609744904645509705.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609744904645509705.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609744904645509705.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609744904645509705.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609744904645509705.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609744904645509705.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609744904645509705.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609744904645509705.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609744904645509705.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609744904645509705.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609744904645509705.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-609744904645509705.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609744904645509705.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609744904645509705.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609744904645509705.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609744904645509705.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-609744904645509705.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609744904645509705.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609744904645509705.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609744904645509705.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609744904645509705.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609744904645509705.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609744904645509705.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609744904645509705.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609744904645509705.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609744904645509705.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609744904645509705.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609744904645509705.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609744904645509705.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609744904645509705.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609744904645509705.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609744904645509705.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609744904645509705.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609744904645509705.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-609744904645509705.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609744904645509705.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-609744904645509705.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609744904645509705.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609744904645509705.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609744904645509705.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609744904645509705.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609744904645509705.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609744904645509705.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609744904645509705.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609744904645509705.gps.gpsil [style*="--shadow-mobile:"]{box-shadow:var(--shadow-mobile)}.gps-609744904645509705.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609744904645509705.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609744904645509705.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609744904645509705.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-609744904645509705.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609744904645509705.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609744904645509705.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-609744904645509705.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609744904645509705.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-609744904645509705.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-609744904645509705.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609744904645509705.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609744904645509705.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609744904645509705.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609744904645509705.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609744904645509705.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609744904645509705.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609744904645509705.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609744904645509705 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-609744904645509705 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-609744904645509705 .gp-relative{position:relative}.gps-609744904645509705 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609744904645509705 .gp-mb-0{margin-bottom:0}.gps-609744904645509705 .gp-inline-block{display:inline-block}.gps-609744904645509705 .gp-flex{display:flex}.gps-609744904645509705 .gp-inline-flex{display:inline-flex}.gps-609744904645509705 .gp-grid{display:grid}.gps-609744904645509705 .gp-contents{display:contents}.gps-609744904645509705 .\!gp-hidden{display:none!important}.gps-609744904645509705 .gp-hidden{display:none}.gps-609744904645509705 .gp-h-auto{height:auto}.gps-609744904645509705 .gp-h-full{height:100%}.gps-609744904645509705 .gp-w-full{width:100%}.gps-609744904645509705 .gp-max-w-full{max-width:100%}.gps-609744904645509705 .gp-flex-none{flex:none}.gps-609744904645509705 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609744904645509705 .gp-flex-col{flex-direction:column}.gps-609744904645509705 .gp-items-center{align-items:center}.gps-609744904645509705 .gp-justify-center{justify-content:center}.gps-609744904645509705 .gp-overflow-hidden{overflow:hidden}.gps-609744904645509705 .gp-break-words{overflow-wrap:break-word}.gps-609744904645509705 .gp-text-center{text-align:center}.gps-609744904645509705 .gp-no-underline{text-decoration-line:none}.gps-609744904645509705 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609744904645509705 .gp-duration-200{transition-duration:.2s}.gps-609744904645509705 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609744904645509705 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609744904645509705 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609744904645509705 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609744904645509705 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609744904645509705 .tablet\:\!gp-hidden{display:none!important}.gps-609744904645509705 .tablet\:gp-hidden{display:none}.gps-609744904645509705 .tablet\:gp-h-auto{height:auto}.gps-609744904645509705 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609744904645509705 .mobile\:\!gp-hidden{display:none!important}.gps-609744904645509705 .mobile\:gp-hidden{display:none}.gps-609744904645509705 .mobile\:gp-h-auto{height:auto}.gps-609744904645509705 .mobile\:gp-flex-none{flex:none}}.gps-609744904645509705 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609744904645509705 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"linear-gradient(353deg, #f5f5f5 0%, #ffffff 100%)","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gygvRDQh2R"}' data-id="gygvRDQh2R" id="gygvRDQh2R" data-same-height-subgrid-container class="gygvRDQh2R gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--mb:6px;--pt:var(--g-s-2xl);--pb:80px;--mb-tablet:6px;--pt-tablet:var(--g-s-2xl);--pb-tablet:80px;--mb-mobile:6px;--pt-mobile:var(--g-s-2xl);--pb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:linear-gradient(353deg, #f5f5f5 0%, #ffffff 100%);--bgi:url(), linear-gradient(353deg, #f5f5f5 0%, #ffffff 100%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkTNirGGBa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gczwtPK341"
        class="gczwtPK341"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:48px;--size-tablet:46px;--size-mobile:23px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggczwtPK341_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLECSmNrOl"
        class="gLECSmNrOl"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mt-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:13px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLECSmNrOl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:24px;--pt:0px;--mt-tablet:24px;--pt-tablet:0px;--mt-mobile:24px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="g-pKWN_ipd"].gp-button-base::before, [data-id="g-pKWN_ipd-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #EFC98B;
  
    
      border-bottom-left-radius: 17px;
      border-bottom-right-radius: 17px;
      border-top-left-radius: 17px;
      border-top-right-radius: 17px;
      
  
    }
  
      
  [data-id="g-pKWN_ipd"]:hover::before, [data-id="g-pKWN_ipd-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g-pKWN_ipd" dataId="g-pKWN_ipd" data-state="idle" aria-label="<p>Reviv is built around that perspective.</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:7px;--pb:7px;--bblr:17px;--bbrr:17px;--btlr:17px;--btrr:17px;--hvr-bblr:17px;--hvr-bbrr:17px;--hvr-btlr:17px;--hvr-btrr:17px;--bgi:linear-gradient(130deg, #fff0d8 0%, #fffaf3 100%);--hvr-bgi:linear-gradient(130deg, #ffffff 0%, #ead0a6 37%);--bg:linear-gradient(130deg, #fff0d8 0%, #fffaf3 100%);--hvr-bg:linear-gradient(130deg, #ffffff 0%, #ead0a6 37%);--c:#000000;--weight:bold"
          class="g-pKWN_ipd gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg-pKWN_ipd_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gTE90giVhn"}' data-id="gTE90giVhn" id="gTE90giVhn" data-same-height-subgrid-container class="gTE90giVhn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:50px;--mt-tablet:50px;--mt-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gS-raGU_LA gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gdpTmjPfq0"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1779771662204 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gdpTmjPfq0"
    >
      <div
        
        style="border-radius:inherit;--jc:right;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggdpTmjPfq0_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNjQtODQ4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjY0IiBoZWlnaHQ9Ijg0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIGZpbGw9InVybCgjZy0xMjY0LTg0OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNjQiIHRvPSIxMjY0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggdpTmjPfq0_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNjQtODQ4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjY0IiBoZWlnaHQ9Ijg0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIGZpbGw9InVybCgjZy0xMjY0LTg0OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNjQiIHRvPSIxMjY0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggdpTmjPfq0_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNjQtODQ4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjY0IiBoZWlnaHQ9Ijg0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIGZpbGw9InVybCgjZy0xMjY0LTg0OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNjQiIHRvPSIxMjY0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggdpTmjPfq0_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:32px;--bblr:32px;--bbrr:32px;--btlr:32px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gFUOi9cft- gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="grzrZ1uMrt"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1779771662205 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto grzrZ1uMrt"
    >
      <div
        
        style="border-radius:inherit;--jc:left;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggrzrZ1uMrt_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNjQtODQ4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjY0IiBoZWlnaHQ9Ijg0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIGZpbGw9InVybCgjZy0xMjY0LTg0OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNjQiIHRvPSIxMjY0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggrzrZ1uMrt_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNjQtODQ4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjY0IiBoZWlnaHQ9Ijg0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIGZpbGw9InVybCgjZy0xMjY0LTg0OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNjQiIHRvPSIxMjY0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggrzrZ1uMrt_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNjQtODQ4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjY0IiBoZWlnaHQ9Ijg0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI2NCIgaGVpZ2h0PSI4NDgiIGZpbGw9InVybCgjZy0xMjY0LTg0OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNjQiIHRvPSIxMjY0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggrzrZ1uMrt_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:32px;--bblr:32px;--bbrr:32px;--btlr:32px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gpP6fGvWTZ"}' data-id="gpP6fGvWTZ" id="gpP6fGvWTZ" data-same-height-subgrid-container class="gpP6fGvWTZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:71px;--mt-tablet:71px;--mt-mobile:29px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:auto;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:start"
      class="gsnRXSVxap gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gQoc410fLq"}' data-id="gQoc410fLq" id="gQoc410fLq" data-same-height-subgrid-container class="gQoc410fLq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mr:-65px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:29px;--mr-tablet:-65px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:29px;--mr-mobile:auto;--pt-mobile:var(--g-s-l);--pl-mobile:16px;--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#FFE5BD;--bblr:17px;--bbrr:17px;--btlr:17px;--btrr:17px;--shadow:10.000000000000002px 17.32050807568877px 20px 0px rgba(18, 18, 18, 0.2);--shadow-mobile:19.987816540381914px -0.6979899340500164px 20px 0px rgba(18, 18, 18, 0.2);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:54%;--w-mobile:50%;--h:auto;--h-mobile:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:end;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g53VhgT7CP gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gwUEqld8_Z"
      style="--mr:0px;--mr-tablet:0px;--mr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1779771662210 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwUEqld8_Z"
    >
      <div
        
        style="border-radius:inherit;--jc:left;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggwUEqld8_Z_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjExIiBoZWlnaHQ9IjE5MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjExLTE5MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjExIiBoZWlnaHQ9IjE5MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjExIiBoZWlnaHQ9IjE5MyIgZmlsbD0idXJsKCNnLTIxMS0xOTMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTEiIHRvPSIyMTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggwUEqld8_Z_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjExIiBoZWlnaHQ9IjE5MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjExLTE5MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjExIiBoZWlnaHQ9IjE5MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjExIiBoZWlnaHQ9IjE5MyIgZmlsbD0idXJsKCNnLTIxMS0xOTMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTEiIHRvPSIyMTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggwUEqld8_Z_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjExIiBoZWlnaHQ9IjE5MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjExLTE5MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjExIiBoZWlnaHQ9IjE5MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjExIiBoZWlnaHQ9IjE5MyIgZmlsbD0idXJsKCNnLTIxMS0xOTMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTEiIHRvPSIyMTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggwUEqld8_Z_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:25%;--w-tablet:25%;--w-mobile:27%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:5px;--bblr:5px;--bbrr:5px;--btlr:5px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTpm_BJQHN"
        class="gTpm_BJQHN"
        style="--ta:left;--mt:24px;--pb:33px;--mt-tablet:24px;--pb-tablet:33px;--mt-mobile:24px;--pb-mobile:33px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:13px;--size-tablet:16px;--size-mobile:11px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTpm_BJQHN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:start"
      class="gkIqkC8tOW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gVNIQ9p03y"}' data-id="gVNIQ9p03y" id="gVNIQ9p03y" data-same-height-subgrid-container class="gVNIQ9p03y gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#FFE5BD;--bblr:17px;--bbrr:17px;--btlr:17px;--btrr:17px;--shadow:10.000000000000002px 17.32050807568877px 20px 0px rgba(18, 18, 18, 0.2);--shadow-mobile:18.79385241571817px 6.840402866513374px 20px 0px rgba(18, 18, 18, 0.2);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, auto);--w:54%;--w-mobile:50%;--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g15G1rE4DH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gVkEpmzdGt"
      style="--mr:0px;--mr-tablet:0px;--mr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1779771662213 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gVkEpmzdGt"
    >
      <div
        
        style="border-radius:inherit;--jc:left;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggVkEpmzdGt_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIyIiBoZWlnaHQ9IjIwNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjIyLTIwNyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjIyIiBoZWlnaHQ9IjIwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIyIiBoZWlnaHQ9IjIwNyIgZmlsbD0idXJsKCNnLTIyMi0yMDcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjIiIHRvPSIyMjIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggVkEpmzdGt_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIyIiBoZWlnaHQ9IjIwNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjIyLTIwNyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjIyIiBoZWlnaHQ9IjIwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIyIiBoZWlnaHQ9IjIwNyIgZmlsbD0idXJsKCNnLTIyMi0yMDcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjIiIHRvPSIyMjIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggVkEpmzdGt_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIyIiBoZWlnaHQ9IjIwNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjIyLTIwNyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjIyIiBoZWlnaHQ9IjIwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIyIiBoZWlnaHQ9IjIwNyIgZmlsbD0idXJsKCNnLTIyMi0yMDcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMjIiIHRvPSIyMjIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggVkEpmzdGt_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:25%;--w-tablet:25%;--w-mobile:25%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:5px;--bblr:5px;--bbrr:5px;--btlr:5px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsfFOSOI-d"
        class="gsfFOSOI-d"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mt-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:16px;--size-mobile:11px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsfFOSOI-d_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:start"
      class="gumatzRT_N gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gTXRLY9Sqx"}' data-id="gTXRLY9Sqx" id="gTXRLY9Sqx" data-same-height-subgrid-container class="gTXRLY9Sqx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--ml:-60px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--ml-tablet:-60px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--ml-mobile:auto;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#FFE5BD;--bblr:17px;--bbrr:17px;--btlr:17px;--btrr:17px;--shadow:9.696192404926743px 17.492394142787916px 20px 0px rgba(18, 18, 18, 0.2);--shadow-mobile:18.270909152852017px 8.134732861516003px 20px 0px rgba(18, 18, 18, 0.2);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:54%;--w-mobile:50%;--h:100%;--h-mobile:100%;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="g8hJ3h4q02 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gFLqXLTTk5"
      style="--mr:0px;--mr-tablet:0px;--mr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1779771662216 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gFLqXLTTk5"
    >
      <div
        
        style="border-radius:inherit;--jc:left;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggFLqXLTTk5_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE4IiBoZWlnaHQ9IjIwMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjE4LTIwMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjE4IiBoZWlnaHQ9IjIwMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE4IiBoZWlnaHQ9IjIwMyIgZmlsbD0idXJsKCNnLTIxOC0yMDMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTgiIHRvPSIyMTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggFLqXLTTk5_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE4IiBoZWlnaHQ9IjIwMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjE4LTIwMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjE4IiBoZWlnaHQ9IjIwMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE4IiBoZWlnaHQ9IjIwMyIgZmlsbD0idXJsKCNnLTIxOC0yMDMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTgiIHRvPSIyMTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggFLqXLTTk5_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE4IiBoZWlnaHQ9IjIwMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjE4LTIwMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjE4IiBoZWlnaHQ9IjIwMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE4IiBoZWlnaHQ9IjIwMyIgZmlsbD0idXJsKCNnLTIxOC0yMDMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTgiIHRvPSIyMTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggFLqXLTTk5_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:25%;--w-tablet:25%;--w-mobile:25%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:5px;--bblr:5px;--bbrr:5px;--btlr:5px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gh5JumheD9"
        class="gh5JumheD9"
        style="--ta:left;--mt:24px;--mt-tablet:24px;--mt-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:16px;--size-mobile:11px;--weight:bold;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggh5JumheD9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-609744904645509705 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609720388552754094&sectionId=609744904645509705)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggczwtPK341_text","label":"ggczwtPK341_text","default":"A Different Way To Think About<br><span style=\"color:#904F06;\">Night time Support</span>"},{"type":"html","id":"ggLECSmNrOl_text","label":"ggLECSmNrOl_text","default":"<p>Instead of focusing only on protection, some people are exploring how structured jaw support during sleep may contribute to improved balance and comfort over time.</p>"},{"type":"html","id":"gg-pKWN_ipd_label","label":"gg-pKWN_ipd_label","default":"<p>Reviv is built around that perspective.</p>"},{"type":"html","id":"ggdpTmjPfq0_srcSet_desktop_src","label":"ggdpTmjPfq0_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/eac107f8e67b8ece868066b33794dab7fd9f0671.png"},{"type":"html","id":"ggrzrZ1uMrt_srcSet_desktop_src","label":"ggrzrZ1uMrt_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/1db8d93b2beab093f58e154bf52ec668391f1fac.png"},{"type":"html","id":"ggwUEqld8_Z_srcSet_desktop_src","label":"ggwUEqld8_Z_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Screenshot_2026-03-08_161539.jpg"},{"type":"html","id":"ggTpm_BJQHN_text","label":"ggTpm_BJQHN_text","default":"<p>Designed to support jaw mechanics overnight.</p>"},{"type":"html","id":"ggVkEpmzdGt_srcSet_desktop_src","label":"ggVkEpmzdGt_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Screenshot_2026-03-08_161602.jpg"},{"type":"html","id":"ggsfFOSOI-d_text","label":"ggsfFOSOI-d_text","default":"<p>Designed to help &nbsp;reduce involuntary clenching pressure.</p>"},{"type":"html","id":"ggFLqXLTTk5_srcSet_desktop_src","label":"ggFLqXLTTk5_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Screenshot_2026-03-08_161624.jpg"},{"type":"html","id":"ggh5JumheD9_text","label":"ggh5JumheD9_text","default":"<p>Built for people looking beyond basic protection.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}