
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610076793260475174.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610076793260475174.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-610076793260475174.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610076793260475174.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610076793260475174.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610076793260475174.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-610076793260475174.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610076793260475174.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610076793260475174.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610076793260475174.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610076793260475174.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-610076793260475174.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610076793260475174.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-610076793260475174.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610076793260475174.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610076793260475174.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-610076793260475174.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610076793260475174.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-610076793260475174.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-610076793260475174.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-610076793260475174.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610076793260475174.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610076793260475174.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-610076793260475174.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610076793260475174.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-610076793260475174.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610076793260475174.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-610076793260475174.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610076793260475174.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-610076793260475174.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610076793260475174.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610076793260475174.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-610076793260475174.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610076793260475174.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610076793260475174.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610076793260475174.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-610076793260475174.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-610076793260475174.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610076793260475174.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610076793260475174.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-610076793260475174.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-610076793260475174.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-610076793260475174.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-610076793260475174.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610076793260475174.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610076793260475174.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610076793260475174.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610076793260475174.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610076793260475174.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610076793260475174.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610076793260475174.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610076793260475174.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610076793260475174.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610076793260475174.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-610076793260475174.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610076793260475174.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-610076793260475174.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-610076793260475174.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-610076793260475174.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-610076793260475174.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-610076793260475174.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-610076793260475174.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-610076793260475174.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-610076793260475174.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610076793260475174.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610076793260475174.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610076793260475174.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610076793260475174.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-610076793260475174.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-610076793260475174.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-610076793260475174.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-610076793260475174.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-610076793260475174.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-610076793260475174.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-610076793260475174.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-610076793260475174.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-610076793260475174.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-610076793260475174.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610076793260475174.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610076793260475174.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610076793260475174.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610076793260475174.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-610076793260475174.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-610076793260475174.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-610076793260475174.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-610076793260475174 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-610076793260475174 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-610076793260475174 .gp-relative{position:relative}.gps-610076793260475174 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610076793260475174 .gp-mb-0{margin-bottom:0}.gps-610076793260475174 .gp-inline-block{display:inline-block}.gps-610076793260475174 .gp-flex{display:flex}.gps-610076793260475174 .gp-inline-flex{display:inline-flex}.gps-610076793260475174 .gp-grid{display:grid}.gps-610076793260475174 .gp-contents{display:contents}.gps-610076793260475174 .\!gp-hidden{display:none!important}.gps-610076793260475174 .gp-hidden{display:none}.gps-610076793260475174 .gp-h-auto{height:auto}.gps-610076793260475174 .gp-h-full{height:100%}.gps-610076793260475174 .gp-w-full{width:100%}.gps-610076793260475174 .gp-max-w-full{max-width:100%}.gps-610076793260475174 .gp-flex-1{flex:1 1 0%}.gps-610076793260475174 .gp-flex-none{flex:none}.gps-610076793260475174 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610076793260475174 .gp-flex-col{flex-direction:column}.gps-610076793260475174 .gp-items-center{align-items:center}.gps-610076793260475174 .gp-justify-center{justify-content:center}.gps-610076793260475174 .gp-overflow-hidden{overflow:hidden}.gps-610076793260475174 .gp-break-words{overflow-wrap:break-word}.gps-610076793260475174 .gp-text-center{text-align:center}.gps-610076793260475174 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-610076793260475174 .gp-no-underline{text-decoration-line:none}.gps-610076793260475174 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610076793260475174 .gp-duration-200{transition-duration:.2s}.gps-610076793260475174 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610076793260475174 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-610076793260475174 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-610076793260475174 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-610076793260475174 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-610076793260475174 .tablet\:\!gp-hidden{display:none!important}.gps-610076793260475174 .tablet\:gp-hidden{display:none}.gps-610076793260475174 .tablet\:gp-h-auto{height:auto}.gps-610076793260475174 .tablet\:gp-h-full{height:100%}.gps-610076793260475174 .tablet\:gp-flex-1{flex:1 1 0%}.gps-610076793260475174 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-610076793260475174 .mobile\:\!gp-hidden{display:none!important}.gps-610076793260475174 .mobile\:gp-hidden{display:none}.gps-610076793260475174 .mobile\:gp-h-auto{height:auto}.gps-610076793260475174 .mobile\:gp-h-full{height:100%}.gps-610076793260475174 .mobile\:gp-flex-1{flex:1 1 0%}.gps-610076793260475174 .mobile\:gp-flex-none{flex:none}}.gps-610076793260475174 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-610076793260475174 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#232021","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gZH2PClRkB"}' data-id="gZH2PClRkB" id="gZH2PClRkB" data-same-height-subgrid-container class="gZH2PClRkB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:0px;--pb:var(--g-s-2xl);--pt-tablet:0px;--pb-tablet:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjBtS-yww- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#232021","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"goBsr4S6im"}' data-id="goBsr4S6im" id="goBsr4S6im" data-same-height-subgrid-container class="goBsr4S6im gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--ml:auto;--ml-tablet:auto;--ml-mobile:auto;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:30px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:75%;--h:auto;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glZqh7ZlMW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gZRBjPRB33"}' data-id="gZRBjPRB33" id="gZRBjPRB33" data-same-height-subgrid-container class="gZRBjPRB33 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:11px;--pr:var(--g-s-l);--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:11px;--pr-tablet:var(--g-s-l);--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:11px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxMdxLbbvQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gTHQ9m5rpc"
      style="--ml:-13px;--mb:17px;--ml-tablet:-13px;--mb-tablet:17px;--ml-mobile:-3px;--mb-mobile:17px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775485996222 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gTHQ9m5rpc"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggTHQ9m5rpc_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU2OCIgZmlsbD0idXJsKCNnLTczNi01NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggTHQ9m5rpc_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU2OCIgZmlsbD0idXJsKCNnLTczNi01NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggTHQ9m5rpc_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU2OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTU2OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9IjU2OCIgZmlsbD0idXJsKCNnLTczNi01NjgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggTHQ9m5rpc_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:131%;--h-tablet:131%;--h-mobile:131%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:19px;--bblr:19px;--bbrr:19px;--btlr:19px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gp6yPxNJQX"
        class="gp6yPxNJQX"
        style="--ta:left;--mt:96px;--mr:18px;--mt-tablet:96px;--mr-tablet:18px;--mt-mobile:6px;--ml-mobile:9px;--mr-mobile:18px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:17px;--size-tablet:46px;--size-mobile:17px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggp6yPxNJQX_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTfI8iNbEB"
        class="gTfI8iNbEB"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTfI8iNbEB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/reviv-two-without-support?variant=46007904141553","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:25px;--mt-tablet:25px;--mt-mobile:14px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center" >
        <style>[data-id="g6NKW9xGES"].gp-button-base::before, [data-id="g6NKW9xGES-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  
    
      border-bottom-left-radius: 31px;
      border-bottom-right-radius: 31px;
      border-top-left-radius: 31px;
      border-top-right-radius: 31px;
      
  
    }
  
      
  [data-id="g6NKW9xGES"]:hover::before, [data-id="g6NKW9xGES-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g6NKW9xGES" dataId="g6NKW9xGES" data-state="idle" aria-label="<p>Buy Now</p>"
          
          href="https://getreviv.com/products/reviv-two-without-support?variant=46007904141553" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:4px;--pb:4px;--bblr:31px;--bbrr:31px;--btlr:31px;--btrr:31px;--hvr-bblr:31px;--hvr-bbrr:31px;--hvr-btlr:31px;--hvr-btrr:31px;--bgi:;--hvr-bgi:;--bg:#00000000;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3)"
          class="g6NKW9xGES gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg6NKW9xGES_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gRUhGynJD2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gill6ROBwL"}' data-id="gill6ROBwL" id="gill6ROBwL" data-same-height-subgrid-container class="gill6ROBwL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:30px;--pr:var(--g-s-l);--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:30px;--pr-tablet:var(--g-s-l);--mt-mobile:36px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:30px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzryHOWvUQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gbwxlfP6_2"
      style="--ml:-14px;--ml-tablet:-14px;--ml-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775485996268 gp-flex-1 gp-h-full mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gbwxlfP6_2"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggbwxlfP6_2_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzYzIiBoZWlnaHQ9Ijc3NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzYzLTc3NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzYzIiBoZWlnaHQ9Ijc3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzYzIiBoZWlnaHQ9Ijc3NSIgZmlsbD0idXJsKCNnLTc2My03NzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NjMiIHRvPSI3NjMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggbwxlfP6_2_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzYzIiBoZWlnaHQ9Ijc3NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzYzLTc3NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzYzIiBoZWlnaHQ9Ijc3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzYzIiBoZWlnaHQ9Ijc3NSIgZmlsbD0idXJsKCNnLTc2My03NzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NjMiIHRvPSI3NjMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggbwxlfP6_2_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzYzIiBoZWlnaHQ9Ijc3NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzYzLTc3NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzYzIiBoZWlnaHQ9Ijc3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzYzIiBoZWlnaHQ9Ijc3NSIgZmlsbD0idXJsKCNnLTc2My03NzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NjMiIHRvPSI3NjMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggbwxlfP6_2_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:100%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:19px;--bblr:19px;--bbrr:19px;--btlr:19px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtGvCLNj1w"
        class="gtGvCLNj1w"
        style="--ta:left;--mt:31px;--mr:18px;--mt-tablet:31px;--mr-tablet:18px;--mt-mobile:31px;--ml-mobile:20px;--mr-mobile:18px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:17px;--size-tablet:46px;--size-mobile:17px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtGvCLNj1w_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjwESYNhUp"
        class="gjwESYNhUp"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjwESYNhUp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/reviv-two?variant=46007905779953","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:25px;--mt-tablet:25px;--mt-mobile:11px;--ml-mobile:6px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center" >
        <style>[data-id="gi6FDR8vHs"].gp-button-base::before, [data-id="gi6FDR8vHs-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  
    
      border-bottom-left-radius: 31px;
      border-bottom-right-radius: 31px;
      border-top-left-radius: 31px;
      border-top-right-radius: 31px;
      
  
    }
  
      
  [data-id="gi6FDR8vHs"]:hover::before, [data-id="gi6FDR8vHs-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gi6FDR8vHs" dataId="gi6FDR8vHs" data-state="idle" aria-label="<p>Buy Now</p>"
          
          href="https://getreviv.com/products/reviv-two?variant=46007905779953" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:4px;--pb:4px;--bblr:31px;--bbrr:31px;--btlr:31px;--btrr:31px;--hvr-bblr:31px;--hvr-bbrr:31px;--hvr-btlr:31px;--hvr-btrr:31px;--bgi:;--hvr-bgi:;--bg:#00000000;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3)"
          class="gi6FDR8vHs gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggi6FDR8vHs_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g1wE6Orz6D gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gJFKFOgcNu"}' data-id="gJFKFOgcNu" id="gJFKFOgcNu" data-same-height-subgrid-container class="gJFKFOgcNu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:30px;--pr:var(--g-s-l);--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:30px;--pr-tablet:var(--g-s-l);--mt-mobile:40px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:30px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gA5uj-cpy0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gXEYfaJzO4"
      style="--ml:-14px;--ml-tablet:-14px;--ml-mobile:-2px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775485996275 gp-flex-1 gp-h-full mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gXEYfaJzO4"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggXEYfaJzO4_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDM1LTQzMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0idXJsKCNnLTQzNS00MzApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MzUiIHRvPSI0MzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggXEYfaJzO4_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDM1LTQzMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0idXJsKCNnLTQzNS00MzApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MzUiIHRvPSI0MzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggXEYfaJzO4_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDM1LTQzMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0idXJsKCNnLTQzNS00MzApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MzUiIHRvPSI0MzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggXEYfaJzO4_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:100%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:19px;--bblr:19px;--bbrr:19px;--btlr:19px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkGPKkfnZZ"
        class="gkGPKkfnZZ"
        style="--ta:left;--mt:31px;--mb:0px;--mr:18px;--mt-tablet:31px;--mb-tablet:0px;--mr-tablet:18px;--mt-mobile:31px;--ml-mobile:8px;--mb-mobile:0px;--mr-mobile:18px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:17px;--size-tablet:46px;--size-mobile:17px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkGPKkfnZZ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gk8I-p2LCC"
        class="gk8I-p2LCC"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggk8I-p2LCC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:25px;--mt-tablet:25px;--mt-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center" >
        <style>[data-id="gE7G9xHRVx"].gp-button-base::before, [data-id="gE7G9xHRVx-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  
    
      border-bottom-left-radius: 31px;
      border-bottom-right-radius: 31px;
      border-top-left-radius: 31px;
      border-top-right-radius: 31px;
      
  
    }
  
      
  [data-id="gE7G9xHRVx"]:hover::before, [data-id="gE7G9xHRVx-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gE7G9xHRVx" dataId="gE7G9xHRVx" data-state="idle" aria-label="<p>Buy Now</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support?variant=47225721127153" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:4px;--pb:4px;--bblr:31px;--bbrr:31px;--btlr:31px;--btrr:31px;--hvr-bblr:31px;--hvr-bbrr:31px;--hvr-btlr:31px;--hvr-btrr:31px;--bgi:;--hvr-bgi:;--bg:#00000000;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3)"
          class="gE7G9xHRVx gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggE7G9xHRVx_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-610076793260475174 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609289553286529608&sectionId=610076793260475174)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTHQ9m5rpc_srcSet_desktop_src","label":"ggTHQ9m5rpc_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Screenshot_2026-03-10_215651.jpg"},{"type":"html","id":"ggp6yPxNJQX_text","label":"ggp6yPxNJQX_text","default":"R1 (RevivOne)"},{"type":"html","id":"ggTfI8iNbEB_text","label":"ggTfI8iNbEB_text","default":"<p>100 USD</p>"},{"type":"html","id":"gg6NKW9xGES_label","label":"gg6NKW9xGES_label","default":"<p>Buy Now</p>"},{"type":"html","id":"ggbwxlfP6_2_srcSet_desktop_src","label":"ggbwxlfP6_2_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Screenshot_2026-03-11_005852.jpg"},{"type":"html","id":"ggtGvCLNj1w_text","label":"ggtGvCLNj1w_text","default":"R2 (RevivTwo)"},{"type":"html","id":"ggjwESYNhUp_text","label":"ggjwESYNhUp_text","default":"<p>150 USD</p>"},{"type":"html","id":"ggi6FDR8vHs_label","label":"ggi6FDR8vHs_label","default":"<p>Buy Now</p>"},{"type":"html","id":"ggXEYfaJzO4_srcSet_desktop_src","label":"ggXEYfaJzO4_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Product_Image.png"},{"type":"html","id":"ggkGPKkfnZZ_text","label":"ggkGPKkfnZZ_text","default":"R3 (RevivThree)"},{"type":"html","id":"ggk8I-p2LCC_text","label":"ggk8I-p2LCC_text","default":"<p>150 USD</p>"},{"type":"html","id":"ggE7G9xHRVx_label","label":"ggE7G9xHRVx_label","default":"<p>Buy Now</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}