
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609361576331314159.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609361576331314159.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-609361576331314159.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609361576331314159.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609361576331314159.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609361576331314159.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-609361576331314159.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609361576331314159.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609361576331314159.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609361576331314159.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609361576331314159.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-609361576331314159.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609361576331314159.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-609361576331314159.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609361576331314159.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609361576331314159.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-609361576331314159.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609361576331314159.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-609361576331314159.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609361576331314159.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609361576331314159.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609361576331314159.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609361576331314159.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-609361576331314159.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609361576331314159.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-609361576331314159.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609361576331314159.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-609361576331314159.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609361576331314159.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609361576331314159.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609361576331314159.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609361576331314159.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609361576331314159.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609361576331314159.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609361576331314159.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609361576331314159.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609361576331314159.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609361576331314159.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609361576331314159.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609361576331314159.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-609361576331314159.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609361576331314159.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609361576331314159.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609361576331314159.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609361576331314159.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609361576331314159.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609361576331314159.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609361576331314159.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609361576331314159.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609361576331314159.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609361576331314159.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609361576331314159.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609361576331314159.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609361576331314159.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609361576331314159.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-609361576331314159.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609361576331314159.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609361576331314159.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609361576331314159.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609361576331314159.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609361576331314159.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-609361576331314159.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609361576331314159.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609361576331314159.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609361576331314159.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609361576331314159.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609361576331314159.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-609361576331314159.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609361576331314159.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609361576331314159.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609361576331314159.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609361576331314159.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609361576331314159.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609361576331314159.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-609361576331314159.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609361576331314159.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609361576331314159.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609361576331314159.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609361576331314159.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609361576331314159.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609361576331314159.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-609361576331314159.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609361576331314159.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609361576331314159 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-609361576331314159 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-609361576331314159 .gp-relative{position:relative}.gps-609361576331314159 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609361576331314159 .gp-mb-0{margin-bottom:0}.gps-609361576331314159 .gp-inline-block{display:inline-block}.gps-609361576331314159 .gp-flex{display:flex}.gps-609361576331314159 .gp-inline-flex{display:inline-flex}.gps-609361576331314159 .gp-grid{display:grid}.gps-609361576331314159 .gp-contents{display:contents}.gps-609361576331314159 .\!gp-hidden{display:none!important}.gps-609361576331314159 .gp-hidden{display:none}.gps-609361576331314159 .gp-h-auto{height:auto}.gps-609361576331314159 .gp-h-full{height:100%}.gps-609361576331314159 .gp-w-full{width:100%}.gps-609361576331314159 .gp-max-w-full{max-width:100%}.gps-609361576331314159 .gp-flex-none{flex:none}.gps-609361576331314159 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609361576331314159 .gp-flex-col{flex-direction:column}.gps-609361576331314159 .gp-items-center{align-items:center}.gps-609361576331314159 .gp-justify-center{justify-content:center}.gps-609361576331314159 .gp-overflow-hidden{overflow:hidden}.gps-609361576331314159 .gp-break-words{overflow-wrap:break-word}.gps-609361576331314159 .gp-text-center{text-align:center}.gps-609361576331314159 .gp-no-underline{text-decoration-line:none}.gps-609361576331314159 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609361576331314159 .gp-duration-200{transition-duration:.2s}.gps-609361576331314159 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609361576331314159 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609361576331314159 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609361576331314159 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609361576331314159 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609361576331314159 .tablet\:\!gp-hidden{display:none!important}.gps-609361576331314159 .tablet\:gp-hidden{display:none}.gps-609361576331314159 .tablet\:gp-h-auto{height:auto}.gps-609361576331314159 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609361576331314159 .mobile\:\!gp-hidden{display:none!important}.gps-609361576331314159 .mobile\:gp-hidden{display:none}.gps-609361576331314159 .mobile\:gp-h-auto{height:auto}.gps-609361576331314159 .mobile\:gp-flex-none{flex:none}}.gps-609361576331314159 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609361576331314159 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#242424","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gZtMNt7vfI"}' data-id="gZtMNt7vfI" id="gZtMNt7vfI" data-same-height-subgrid-container class="gZtMNt7vfI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLWQssmB09 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out","triggerAnimationOption":"once"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzTNwnnw8R"
        class="gzTNwnnw8R"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:65px;--ml:-9px;--mt-tablet:65px;--ml-tablet:-9px;--mt-mobile:var(--g-s-2xl);--ml-mobile:25px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:40px;--size-tablet:46px;--size-mobile:31px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzTNwnnw8R_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIHTdbGj3B"
        class="gIHTdbGj3B"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--ml:-15px;--mt-tablet:10px;--ml-tablet:-15px;--mt-mobile:-1px;--ml-mobile:-1px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:13px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIHTdbGj3B_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gyvOoqjtQ9"}' data-id="gyvOoqjtQ9" id="gyvOoqjtQ9" data-same-height-subgrid-container class="gyvOoqjtQ9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:56px;--ml:auto;--pl:115px;--mt-tablet:56px;--ml-tablet:auto;--pl-tablet:115px;--mt-mobile:40px;--ml-mobile:auto;--pl-mobile:24px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBo2ERACFF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAzkRCk2NJ"
        class="gAzkRCk2NJ"
        style="--ta:left;--ml:12px;--ml-tablet:12px;--ml-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--size:46px;--size-tablet:46px;--size-mobile:29px;--c:#F3F3F3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAzkRCk2NJ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grvlexB6mZ"
        class="grvlexB6mZ"
        style="--ta:left;--ml:11px;--ml-tablet:11px;--ml-mobile:11px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:25px;--size-tablet:16px;--size-mobile:21px;--c:#F3F3F3;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrvlexB6mZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mt:-37px;--ml:-1px;--pt:0px;--mt-tablet:-37px;--ml-tablet:-1px;--pt-tablet:0px;--mt-mobile:-37px;--ml-mobile:-1px;--pt-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gYEYWynFtL gp-custom-code">
      <div>
    <style>
  .ken-list-container {
    max-width: 550px;
    margin: 40px auto; 
    padding: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .ken-list-item {
    display: flex;
    align-items: center; 
    margin-bottom: 18px;

  }

  .ken-icon-box {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .ken-list-text {
    color: #FFFFFF; 
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }


  @media (max-width: 480px) {
    .ken-list-text {
      font-size: 16px;
    }
    .ken-icon-box {
      width: 28px;
      height: 28px;
    }
  }
</style>

<div class="ken-list-container">
  
  <div class="ken-list-item">
    <div class="ken-icon-box">
      <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 28.5333C22.6274 28.5333 28 23.1607 28 16.5333C28 9.90589 22.6274 4.53333 16 4.53333C9.37258 4.53333 4 9.90589 4 16.5333C4 23.1607 9.37258 28.5333 16 28.5333Z" fill="#E5C085"/>
        <path d="M11 16.5333L14.3333 19.8667L21 13.2" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="ken-list-text">Unlock your jawline</div>
  </div>

  <div class="ken-list-item">
    <div class="ken-icon-box">
      <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 28.5333C22.6274 28.5333 28 23.1607 28 16.5333C28 9.90589 22.6274 4.53333 16 4.53333C9.37258 4.53333 4 9.90589 4 16.5333C4 23.1607 9.37258 28.5333 16 28.5333Z" fill="#E5C085"/>
        <path d="M11 16.5333L14.3333 19.8667L21 13.2" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="ken-list-text">Support forward facial projection</div>
  </div>

  <div class="ken-list-item">
    <div class="ken-icon-box">
      <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 28.5333C22.6274 28.5333 28 23.1607 28 16.5333C28 9.90589 22.6274 4.53333 16 4.53333C9.37258 4.53333 4 9.90589 4 16.5333C4 23.1607 9.37258 28.5333 16 28.5333Z" fill="#E5C085"/>
        <path d="M11 16.5333L14.3333 19.8667L21 13.2" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="ken-list-text">Enhance facial definition over time</div>
  </div>

  <div class="ken-list-item">
    <div class="ken-icon-box">
      <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 28.5333C22.6274 28.5333 28 23.1607 28 16.5333C28 9.90589 22.6274 4.53333 16 4.53333C9.37258 4.53333 4 9.90589 4 16.5333C4 23.1607 9.37258 28.5333 16 28.5333Z" fill="#E5C085"/>
        <path d="M11 16.5333L14.3333 19.8667L21 13.2" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class="ken-list-text">Supports deeper, more restful sleep</div>
  </div>

</div>
    </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://getreviv.com/products/r3-revivthree-without-support","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:-30px;--ml:15px;--mt-tablet:-30px;--ml-tablet:15px;--mt-mobile:-30px;--ml-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left" >
        <style>[data-id="gtOCKpLGH-"].gp-button-base::before, [data-id="gtOCKpLGH--interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFD38D;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="gtOCKpLGH-"]:hover::before, [data-id="gtOCKpLGH--interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gtOCKpLGH-" dataId="gtOCKpLGH-" data-state="idle" aria-label="<p>Order Your R3 - $150</p>"
          
          href="https://getreviv.com/products/r3-revivthree-without-support" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--bgi:;--hvr-bgi:;--bg:#00000000;--hvr-bg:var(--g-c-highlight, highlight);--c:#FFD38D"
          class="gtOCKpLGH- gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggtOCKpLGH-_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gxeIJyUED3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gY2kGELi5h"
      style="--mr:47px;--mr-tablet:47px;--mr-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775485996411 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gY2kGELi5h"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggY2kGELi5h_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDM1LTQzMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0idXJsKCNnLTQzNS00MzApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MzUiIHRvPSI0MzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggY2kGELi5h_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDM1LTQzMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0idXJsKCNnLTQzNS00MzApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MzUiIHRvPSI0MzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggY2kGELi5h_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDM1LTQzMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDM1IiBoZWlnaHQ9IjQzMCIgZmlsbD0idXJsKCNnLTQzNS00MzApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MzUiIHRvPSI0MzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggY2kGELi5h_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:93%;--h-tablet:93%;--h-mobile:93%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-609361576331314159 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609289553286529608&sectionId=609361576331314159)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggzTNwnnw8R_text","label":"ggzTNwnnw8R_text","default":"Start Your Reviv Routine"},{"type":"html","id":"ggIHTdbGj3B_text","label":"ggIHTdbGj3B_text","default":"<p>The appliance supports structural space over time</p>"},{"type":"html","id":"ggAzkRCk2NJ_text","label":"ggAzkRCk2NJ_text","default":"R3 + 1 Year or support&nbsp;"},{"type":"html","id":"ggrvlexB6mZ_text","label":"ggrvlexB6mZ_text","default":"<p>$150</p>"},{"type":"html","id":"ggtOCKpLGH-_label","label":"ggtOCKpLGH-_label","default":"<p>Order Your R3 - $150</p>"},{"type":"html","id":"ggY2kGELi5h_srcSet_desktop_src","label":"ggY2kGELi5h_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Product_Image.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}