
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612787424229065515.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612787424229065515.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612787424229065515.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612787424229065515.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612787424229065515.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612787424229065515.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612787424229065515.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612787424229065515.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612787424229065515.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612787424229065515.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612787424229065515.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612787424229065515.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612787424229065515.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-612787424229065515.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-612787424229065515.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612787424229065515.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612787424229065515.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612787424229065515.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612787424229065515.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612787424229065515.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612787424229065515.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612787424229065515.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612787424229065515.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612787424229065515.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612787424229065515.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612787424229065515.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612787424229065515.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612787424229065515.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612787424229065515.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612787424229065515.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-612787424229065515.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612787424229065515.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-612787424229065515.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612787424229065515.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612787424229065515.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612787424229065515.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612787424229065515.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612787424229065515.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612787424229065515.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612787424229065515.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612787424229065515.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-612787424229065515.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612787424229065515.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612787424229065515.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-612787424229065515.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612787424229065515.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-612787424229065515.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-612787424229065515.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-612787424229065515.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612787424229065515.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612787424229065515.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-612787424229065515.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-612787424229065515.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612787424229065515.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-612787424229065515.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-612787424229065515.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-612787424229065515.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612787424229065515.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612787424229065515.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612787424229065515.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-612787424229065515.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612787424229065515.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-612787424229065515 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-612787424229065515 .gp-relative{position:relative}.gps-612787424229065515 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612787424229065515 .gp-mb-0{margin-bottom:0}.gps-612787424229065515 .gp-inline-block{display:inline-block}.gps-612787424229065515 .gp-flex{display:flex}.gps-612787424229065515 .gp-grid{display:grid}.gps-612787424229065515 .gp-contents{display:contents}.gps-612787424229065515 .\!gp-hidden{display:none!important}.gps-612787424229065515 .gp-hidden{display:none}.gps-612787424229065515 .gp-h-auto{height:auto}.gps-612787424229065515 .gp-h-full{height:100%}.gps-612787424229065515 .gp-w-full{width:100%}.gps-612787424229065515 .gp-max-w-full{max-width:100%}.gps-612787424229065515 .gp-flex-none{flex:none}.gps-612787424229065515 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612787424229065515 .gp-flex-col{flex-direction:column}.gps-612787424229065515 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612787424229065515 .gp-duration-200{transition-duration:.2s}.gps-612787424229065515 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-612787424229065515 .tablet\:\!gp-hidden{display:none!important}.gps-612787424229065515 .tablet\:gp-hidden{display:none}.gps-612787424229065515 .tablet\:gp-h-auto{height:auto}.gps-612787424229065515 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-612787424229065515 .mobile\:\!gp-hidden{display:none!important}.gps-612787424229065515 .mobile\:gp-hidden{display:none}.gps-612787424229065515 .mobile\:gp-h-auto{height:auto}.gps-612787424229065515 .mobile\:gp-flex-none{flex:none}}.gps-612787424229065515 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#232021","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gDtKpjw0HQ"}' data-id="gDtKpjw0HQ" id="gDtKpjw0HQ" data-same-height-subgrid-container class="gDtKpjw0HQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#232021;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geMykNqO4N gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gSh7_8byDN"}' data-id="gSh7_8byDN" id="gSh7_8byDN" data-same-height-subgrid-container class="gSh7_8byDN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gREfpvzSvS gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gKnjUNywOO"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1779771690324 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gKnjUNywOO"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggKnjUNywOO_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI3NzMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNzczIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9Ijc3MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI3NzMiIGZpbGw9InVybCgjZy0xMTYwLTc3MykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggKnjUNywOO_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI3NzMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNzczIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9Ijc3MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI3NzMiIGZpbGw9InVybCgjZy0xMTYwLTc3MykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggKnjUNywOO_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI3NzMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNzczIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9Ijc3MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI3NzMiIGZpbGw9InVybCgjZy0xMTYwLTc3MykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggKnjUNywOO_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:96%;--h:520px;--h-tablet:520px;--h-mobile:236px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:20px;--bblr:20px;--bbrr:20px;--btlr:20px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gxjkEFsqxX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZxPTxnK0p"
        class="gZxPTxnK0p"
        style="--ta:left;--mt:19px;--ml:25px;--mt-tablet:19px;--ml-tablet:25px;--mt-mobile:19px;--ml-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:30px;--size-tablet:46px;--size-mobile:20px;--c:#FCFCF9;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZxPTxnK0p_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml:20px;--ml-tablet:20px;--ml-mobile:20px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gxviNqfi1X gp-custom-code">
      <div>
    <div class="adamyan-faq">

  <div class="adamyan-faq__item active">
    <div class="adamyan-faq__question">
      <span>When should I use Reviv?</span>
      <span class="adamyan-faq__icon">−</span>
    </div>
    <div class="adamyan-faq__answer">
       A good starting point is to use it during moments when jaw tension usually builds up, like work, reading, or evening wind-down. You do not need to build a perfect routine on day one.
    </div>
  </div>

  <div class="adamyan-faq__item">
    <div class="adamyan-faq__question">
      <span>Is it hard to use?
</span>
      <span class="adamyan-faq__icon">+</span>
    </div>
    <div class="adamyan-faq__answer">
 No. It is designed to be straightforward and practical, which makes it easier to get started without feeling like you are taking on something complicated.
    </div>
  </div>

  <div class="adamyan-faq__item">
    <div class="adamyan-faq__question">
      <span>Can I reverse years of forward head posture?</span>
      <span class="adamyan-faq__icon">+</span>
    </div>
    <div class="adamyan-faq__answer">
      Yes, with consistency posture improves gradually.
    </div>
  </div>
 <div class="adamyan-faq__item">
    <div class="adamyan-faq__question">
      <span>Will it feel unusual at first?
</span>
      <span class="adamyan-faq__icon">+</span>
    </div>
    <div class="adamyan-faq__answer">
      It can take a little time to get used to any new routine product. That is normal, and many people simply start with short, easy sessions and build from there.
    </div>
  </div>
   <div class="adamyan-faq__item">
    <div class="adamyan-faq__question">
      <span>Can I use it every day?
</span>
      <span class="adamyan-faq__icon">+</span>
    </div>
    <div class="adamyan-faq__answer">
 Yes. It is designed to support daily use, and the format makes it easier to use consistently without changing your whole routine.
    </div>
  </div>
  
   <div class="adamyan-faq__item">
    <div class="adamyan-faq__question">
      <span>Does it need setup or adjustments?

</span>
      <span class="adamyan-faq__icon">+</span>
    </div>
    <div class="adamyan-faq__answer">
 No. It comes in a ready-to-use format, which helps remove extra friction before starting.
    </div>
  </div>
  
  
     <div class="adamyan-faq__item">
    <div class="adamyan-faq__question">
      <span>How do I make it part of my routine?


</span>
      <span class="adamyan-faq__icon">+</span>
    </div>
    <div class="adamyan-faq__answer">
 The easiest way is to attach it to something you already do, like desk work or your evening wind-down, so starting feels more natural and less like another task.
  </div>
</div>

<style>
.adamyan-faq {
  max-width: 800px;
  margin: 40px auto;

  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.adamyan-faq__item {
  border-bottom: 1px solid #2a2a2a;
}

.adamyan-faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  cursor: pointer;
  color: #fff;
}

.adamyan-faq__icon {
  font-size: 20px;
  color: #aaa;
}

.adamyan-faq__answer {
  max-height: 0;
  overflow: hidden;
  color: #bbb;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.adamyan-faq__item.active .adamyan-faq__answer {
  max-height: 200px;
  padding: 10px 20px 20px;
}
</style>

<script>
document.querySelectorAll('.adamyan-faq__question').forEach(q => {
  q.addEventListener('click', () => {
    const item = q.parentElement;

    // փակել մնացածը
    document.querySelectorAll('.adamyan-faq__item').forEach(i => {
      if (i !== item) {
        i.classList.remove('active');
        i.querySelector('.adamyan-faq__icon').textContent = '+';
      }
    });

    // toggle current
    item.classList.toggle('active');

    const icon = q.querySelector('.adamyan-faq__icon');
    icon.textContent = item.classList.contains('active') ? '−' : '+';
  });
});
</script>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-612787424229065515 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612368322326954795&sectionId=612787424229065515)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKnjUNywOO_srcSet_desktop_src","label":"ggKnjUNywOO_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/365b4da05f0e4950198b33d771c0e3f258b522c8.jpg"},{"type":"html","id":"ggZxPTxnK0p_text","label":"ggZxPTxnK0p_text","default":"Frequently Asked Questions"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}