
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604377810433737391.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604377810433737391.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604377810433737391.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604377810433737391.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604377810433737391.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604377810433737391.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604377810433737391.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604377810433737391.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604377810433737391.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604377810433737391.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604377810433737391.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604377810433737391.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604377810433737391.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604377810433737391.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604377810433737391.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604377810433737391.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604377810433737391.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604377810433737391.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604377810433737391.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604377810433737391.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604377810433737391.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604377810433737391.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604377810433737391.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604377810433737391.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604377810433737391.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604377810433737391.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604377810433737391.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604377810433737391.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604377810433737391.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604377810433737391.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604377810433737391.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604377810433737391.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-604377810433737391.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-604377810433737391.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-604377810433737391.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604377810433737391.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604377810433737391.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604377810433737391.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604377810433737391.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604377810433737391.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604377810433737391.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604377810433737391.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604377810433737391.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604377810433737391.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604377810433737391.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604377810433737391.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-604377810433737391.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604377810433737391.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-604377810433737391.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-604377810433737391.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-604377810433737391.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604377810433737391.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604377810433737391.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604377810433737391.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-604377810433737391.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-604377810433737391.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-604377810433737391.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604377810433737391.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604377810433737391.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604377810433737391.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604377810433737391.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-604377810433737391.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-604377810433737391.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-604377810433737391.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-604377810433737391.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-604377810433737391.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-604377810433737391.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-604377810433737391.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-604377810433737391.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-604377810433737391.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604377810433737391.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604377810433737391.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604377810433737391.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604377810433737391.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-604377810433737391.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-604377810433737391.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-604377810433737391.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604377810433737391.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604377810433737391.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604377810433737391.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604377810433737391.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604377810433737391.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-604377810433737391.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-604377810433737391.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-604377810433737391 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-604377810433737391 .gp-relative{position:relative}.gps-604377810433737391 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604377810433737391 .gp-mb-0{margin-bottom:0}.gps-604377810433737391 .gp-flex{display:flex}.gps-604377810433737391 .gp-grid{display:grid}.gps-604377810433737391 .\!gp-hidden{display:none!important}.gps-604377810433737391 .gp-hidden{display:none}.gps-604377810433737391 .gp-max-w-full{max-width:100%}.gps-604377810433737391 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604377810433737391 .gp-flex-col{flex-direction:column}.gps-604377810433737391 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604377810433737391 .gp-duration-200{transition-duration:.2s}.gps-604377810433737391 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604377810433737391 .after\:gp-absolute:after{content:var(--tw-content);position:absolute}.gps-604377810433737391 .after\:gp-left-\[2px\]:after{content:var(--tw-content);left:2px}.gps-604377810433737391 .after\:gp-top-0:after{content:var(--tw-content);top:0}.gps-604377810433737391 .after\:gp-w-full:after{content:var(--tw-content);width:100%}.gps-604377810433737391 .after\:gp-select-none:after{content:var(--tw-content);-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-604377810433737391 .after\:gp-truncate:after{content:var(--tw-content);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-604377810433737391 .after\:gp-text-black:after{content:var(--tw-content);--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity,1))}.gps-604377810433737391 .after\:gp-opacity-20:after{content:var(--tw-content);opacity:.2}.gps-604377810433737391 .after\:gp-content-\[\'Your_custom_text_goes_here\'\]:after{--tw-content:"Your custom text goes here";content:var(--tw-content)}.gps-604377810433737391 .empty\:gp-pl-\[2px\]:empty{padding-left:2px}@media (max-width:1024px){.gps-604377810433737391 .tablet\:\!gp-hidden{display:none!important}.gps-604377810433737391 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-604377810433737391 .mobile\:\!gp-hidden{display:none!important}.gps-604377810433737391 .mobile\:gp-hidden{display:none}}.gps-604377810433737391 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amaranth/v19/KtkuALODe433f0j1zPnC.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"linear-gradient(67deg, #ffefd3 0%, #ffffff 48%)","image":{"src":""},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"linear-gradient(138deg, #ffefd3 0%, #ffffff 48%)","image":{"src":""},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gni7i5EliU"}' data-id="gni7i5EliU" id="gni7i5EliU" data-same-height-subgrid-container class="gni7i5EliU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-9px;--pt:0px;--pb:0px;--mt-mobile:-9px;--pt-mobile:0px;--pb-mobile:0px;--mt-tablet:-9px;--pt-tablet:0px;--pb-tablet:0px;--cg:0px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:linear-gradient(67deg, #ffefd3 0%, #ffffff 48%);--bgc-mobile:linear-gradient(138deg, #ffefd3 0%, #ffffff 48%);--bgi:url(), linear-gradient(67deg, #ffefd3 0%, #ffffff 48%);--bgi-mobile:url(), linear-gradient(138deg, #ffefd3 0%, #ffffff 48%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g123aa_mEE gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","distance":"50","easing":"ease-out","isCustomDistance":true,"speed":1.7,"triggerAnimationOption":"once"},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHZ0jG0jiu"
        class="gHZ0jG0jiu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:221px;--ml:0px;--mt-mobile:40px;--ml-mobile:0px;--mt-tablet:221px;--ml-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-relative empty:gp-pl-[2px] after:gp-content-['Your_custom_text_goes_here'] after:gp-absolute after:gp-select-none after:gp-top-0 after:gp-left-[2px] after:gp-w-full after:gp-truncate after:gp-text-black after:gp-opacity-20 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ff:var(--g-font-Amaranth, 'Amaranth'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#7A755D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false,"triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghcYZ2UHEU"
        class="ghcYZ2UHEU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-209px;--ml:51px;--mt-tablet:-209px;--ml-tablet:51px;--mt-mobile:-15px;--ml-mobile:17px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:26px;--size-tablet:46px;--size-mobile:19px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghcYZ2UHEU_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7,"triggerAnimationOption":"once"},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Text","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grRN6TD-vt"
        class="grRN6TD-vt"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:14px;--ml:55px;--mb:24px;--mr:31px;--pl:0px;--pr:10px;--mt-tablet:14px;--ml-tablet:55px;--mb-tablet:24px;--mr-tablet:31px;--pl-tablet:0px;--pr-tablet:10px;--mt-mobile:14px;--ml-mobile:24px;--mb-mobile:24px;--mr-mobile:24px;--pl-mobile:0px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:10px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrRN6TD-vt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g6XLfYHLbq gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"right","isCustomDistance":false,"distance":"50","triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"CSSCode","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mr:0px;--mr-tablet:0px;--mr-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gj9vAGlGKS gp-custom-code">
      <div>
    <div class="mini-card">
  <h4 class="mini-title">“ I got braces at 14. By 18 I had TMJ pain, brain 
fog, and my face aged 10 years. Getting my 
structure back with Reviv 
changed everything. ”</h4>
  <p class="mini-title2">Kathy V</p>
</div>
    </div>
    </div>
  
      <style id="custom-css-gj9vAGlGKS">
        .mini-card {
  background: #ECBF7C;
  padding: 25px 25px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  max-width: 280px; /* Ավելի նեղ չափս */
  margin: 10px auto;
  text-align: center;
  width: 500px;
}

.mini-title {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: left;
  font-style: italic;
  
}
.mini-title2 {
  margin: 0px 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: right;
  font-style: italic;
  padding-left: 20px;
  
}


.mini-text {
  margin: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  font-family: sans-serif;
}
@media screen and (max-width: 480px) {
  .mini-card {
    max-width: 300px !important; /* Ավելի նեղացրեցի */
    padding: 10px 15px !important; /* Վերևից ու ներքևից խիստ քչացրեցի */
    margin: 5px auto !important;
  }

  .mini-title, .mini-title2 {
    font-size: 15px !important; /* Տեքստը փոքրացրեցի */
    margin-bottom: 2px !important; /* Տողերի արանքի բացը փակեցի */
  }

  .mini-text {
    font-size: 11px !important; /* Տեքստը ավելի կոմպակտ */
    line-height: 1.1 !important;
  }
}
      </style>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":"1.3","easing":"ease-out","direction":"right","isCustomDistance":false,"distance":"50","triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"CSSCode","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gnjlpoLTr8 gp-custom-code">
      <div>
    <div class="mini-card">
  <h4 class="mini-title">“ Migraines every week for a decade. 
No doctor could help. One month 
with Reviv and they disappeared. “</h4>
  <p class="mini-title2">John R.</p>
</div>
    </div>
    </div>
  
      <style id="custom-css-gnjlpoLTr8">
        .mini-card {
  background: #ECBF7C;
  padding: 25px 25px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  max-width: 280px; /* Ավելի նեղ չափս */
  margin: 10px auto;
  text-align: center;
  width: 500px;
}

.mini-title {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: left;
  font-style: italic;
  
}
.mini-title2 {
  margin: 0px 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: right;
  font-style: italic;
  padding-left: 20px;
  
}


.mini-text {
  margin: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  font-family: sans-serif;
}
      </style>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"right","isCustomDistance":false,"distance":"50","triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"CSSCode","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gtB5xO8MM2 gp-custom-code">
      <div>
    <div class="mini-card">
  <h4 class="mini-title">“ I didn't realize how much my braces 
had affected my posture until I started
fixing my bite. My entire spine realigned. ”</h4>
  <p class="mini-title2">Ana S.</p>
</div>
    </div>
    </div>
  
      <style id="custom-css-gtB5xO8MM2">
        .mini-card {
  background: #ECBF7C;
  padding: 25px 25px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  max-width: 280px; /* Ավելի նեղ չափս */
  margin: 10px auto;
  text-align: center;
  width: 500px;
}

.mini-title {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: left;
  font-style: italic;
  
}
.mini-title2 {
  margin: 0px 0 5px 0;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: sans-serif;
  text-align: right;
  font-style: italic;
  padding-left: 20px;
  
}


.mini-text {
  margin: 0;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  font-family: sans-serif;
}
      </style>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-604377810433737391 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604377810366104239&sectionId=604377810433737391)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gghcYZ2UHEU_text","label":"gghcYZ2UHEU_text","default":"You're Not Crazy. Your Health Didn't<br>Randomly Decline."},{"type":"html","id":"ggrRN6TD-vt_text","label":"ggrRN6TD-vt_text","default":"<p><span style=\"font-size:18px;\">If you got braces and then noticed:</span><br><br><span style=\"font-size:18px;\">- You felt a shift in your daily energy or mental clarity</span><br><br><span style=\"font-size:18px;\">- You noticed gradual changes in your overall well-being over the years</span><br><br><span style=\"font-size:18px;\">- You felt your facial aesthetics were changing prematurely</span><br><br><span style=\"font-size:18px;\">- Your physical drive or performance didn't feel the same</span><br><br><span style=\"font-size:18px;\">- You noticed a shift in your general mood and ease</span><br><br><span style=\"font-size:18px;\">... you weren't imagining it. There is a connection.</span><br><br><span style=\"font-size:18px;\">Most traditional approaches focus primarily on the teeth, often overlooking the broader impact on jaw positioning.</span></p><p>&nbsp;</p><p><span style=\"font-size:18px;\">But thousands of people are now connecting the dots, and the pattern is undeniable.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}