
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609720699333902921.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609720699333902921.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609720699333902921.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609720699333902921.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609720699333902921.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609720699333902921.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609720699333902921.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609720699333902921.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609720699333902921.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609720699333902921.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609720699333902921.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609720699333902921.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609720699333902921.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609720699333902921.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609720699333902921.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609720699333902921.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609720699333902921.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609720699333902921.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609720699333902921.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609720699333902921.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609720699333902921.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609720699333902921.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609720699333902921.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609720699333902921.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609720699333902921.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609720699333902921.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609720699333902921.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609720699333902921.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-609720699333902921.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609720699333902921.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609720699333902921.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609720699333902921.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609720699333902921.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609720699333902921.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609720699333902921.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609720699333902921.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609720699333902921.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-609720699333902921.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609720699333902921.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-609720699333902921.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609720699333902921.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-609720699333902921.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609720699333902921.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-609720699333902921.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609720699333902921.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609720699333902921.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-609720699333902921.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-609720699333902921.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609720699333902921.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609720699333902921.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609720699333902921.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609720699333902921.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-609720699333902921.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-609720699333902921.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-609720699333902921.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609720699333902921.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-609720699333902921.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609720699333902921.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609720699333902921.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-609720699333902921.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-609720699333902921.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609720699333902921.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609720699333902921.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609720699333902921.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609720699333902921.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-609720699333902921.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-609720699333902921.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-609720699333902921 .gp-invisible{visibility:hidden}.gps-609720699333902921 .\!gp-absolute{position:absolute!important}.gps-609720699333902921 .gp-absolute{position:absolute}.gps-609720699333902921 .gp-relative{position:relative}.gps-609720699333902921 .gp-top-0{top:0}.gps-609720699333902921 .-gp-z-1{z-index:-1}.gps-609720699333902921 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609720699333902921 .gp-mb-0{margin-bottom:0}.gps-609720699333902921 .gp-flex{display:flex}.gps-609720699333902921 .gp-grid{display:grid}.gps-609720699333902921 .\!gp-hidden{display:none!important}.gps-609720699333902921 .gp-hidden{display:none}.gps-609720699333902921 .gp-h-full{height:100%}.gps-609720699333902921 .gp-w-full{width:100%}.gps-609720699333902921 .gp-max-w-full{max-width:100%}.gps-609720699333902921 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609720699333902921 .gp-flex-col{flex-direction:column}.gps-609720699333902921 .\!gp-content-stretch{align-content:stretch!important}.gps-609720699333902921 .gp-items-center{align-items:center}.gps-609720699333902921 .gp-justify-center{justify-content:center}.gps-609720699333902921 .\!gp-self-center{align-self:center!important}.gps-609720699333902921 .gp-self-center{align-self:center}.gps-609720699333902921 .gp-overflow-hidden{overflow:hidden}.gps-609720699333902921 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609720699333902921 .gp-duration-200{transition-duration:.2s}.gps-609720699333902921 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609720699333902921 .tablet\:\!gp-absolute{position:absolute!important}.gps-609720699333902921 .tablet\:\!gp-hidden{display:none!important}.gps-609720699333902921 .tablet\:gp-hidden{display:none}.gps-609720699333902921 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-609720699333902921 .tablet\:gp-justify-center{justify-content:center}.gps-609720699333902921 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-609720699333902921 .mobile\:\!gp-absolute{position:absolute!important}.gps-609720699333902921 .mobile\:\!gp-hidden{display:none!important}.gps-609720699333902921 .mobile\:gp-hidden{display:none}.gps-609720699333902921 .mobile\:\!gp-h-auto{height:auto!important}.gps-609720699333902921 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-609720699333902921 .mobile\:gp-justify-center{justify-content:center}.gps-609720699333902921 .mobile\:\!gp-self-center{align-self:center!important}}.gps-609720699333902921 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-609720699333902921 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-609720699333902921 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-609720699333902921 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(81% + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gZ8zVoXSi3"}' data-id="gZ8zVoXSi3" id="gZ8zVoXSi3" data-same-height-subgrid-container class="gZ8zVoXSi3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--ml:auto;--mr:auto;--pt:10px;--pl:0px;--pb:var(--g-s-2xl);--ml-tablet:auto;--mr-tablet:auto;--pt-tablet:10px;--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:81%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0t2p2lroY gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gP2QLTbzFk"
        class="gP2QLTbzFk gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ml:auto;--mr:auto;--ml-tablet:auto;--mr-tablet:auto;--ml-mobile:auto;--mr-mobile:auto;--w:119%;--w-tablet:119%;--w-mobile:100%;--h:59vh;--h-tablet:59vh;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"type":"image","image":{"src":"{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}","width":2048,"height":1152,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-cc14ce6f-e70b-4d2f-9d9c-1cb65a3c5c43.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://cdn.shopify.com/videos/c/o/v/f4db20df1068469a872644a4e0c19054.mp4","videoType":"html5","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false},"tablet":{"type":"image","image":{"src":"{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}","width":2048,"height":1152,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-cc14ce6f-e70b-4d2f-9d9c-1cb65a3c5c43.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://cdn.shopify.com/videos/c/o/v/f4db20df1068469a872644a4e0c19054.mp4","videoType":"html5","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false},"mobile":{"type":"image","image":{"src":"{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}","width":2048,"height":1152,"storage":"FILE_CONTENT","backupFileKey":"gempages_564672915002360594-cc14ce6f-e70b-4d2f-9d9c-1cb65a3c5c43.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://cdn.shopify.com/videos/c/o/v/f4db20df1068469a872644a4e0c19054.mp4","videoType":"html5","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false}},"uid":"gP2QLTbzFk","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"shape":"original","widthHeightLinked":false,"width":"119%","shapeVideo":"custom","enableVideoShape":false,"height":"59vh","gap":"","shapeLinked":false,"shapeValue":"","customShapeValue":""},"tablet":{"shape":"original","widthHeightLinked":false,"width":"119%","shapeVideo":"custom","enableVideoShape":false,"height":"59vh","gap":"","shapeLinked":false,"shapeValue":"","customShapeValue":""},"mobile":{"shape":"original","width":"100%","shapeVideo":"16/9","enableVideoShape":true}},"videoObjectFit":{"desktop":"cover","tablet":"cover","mobile":"cover"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":false}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:59vh;--h-tablet:59vh;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0 round 20px 20px 20px 20px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggP2QLTbzFk_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggP2QLTbzFk_background_desktop_image_src }});--bgi-mobile:url({{ section.settings.ggP2QLTbzFk_background_desktop_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="gaM1d5XnyG gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" srcset="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" srcset="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}" data-src="{{ section.settings.ggP2QLTbzFk_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:59vh;--h-tablet:59vh;--h-mobile:auto;--w:119%;--w-tablet:119%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-609720699333902921 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609720388552754094&sectionId=609720699333902921)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggP2QLTbzFk_background_desktop_image_src","label":"ggP2QLTbzFk_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0706/4243/4289/files/hf_20260204_081858_af32c920-bdff-4e00-a16c-759bcf6ba642.png"},{"type":"html","id":"ggP2QLTbzFk_background_desktop_video","label":"ggP2QLTbzFk_background_desktop_video","default":"https://cdn.shopify.com/videos/c/o/v/f4db20df1068469a872644a4e0c19054.mp4"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}