
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607922545190765142.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-607922545190765142.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-607922545190765142.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607922545190765142.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-607922545190765142.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607922545190765142.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607922545190765142.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607922545190765142.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-607922545190765142.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607922545190765142.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607922545190765142.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607922545190765142.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607922545190765142.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-607922545190765142.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-607922545190765142.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607922545190765142.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-607922545190765142.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-607922545190765142.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607922545190765142.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607922545190765142.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-607922545190765142.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-607922545190765142.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607922545190765142.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-607922545190765142.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-607922545190765142.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607922545190765142.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607922545190765142.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-607922545190765142.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-607922545190765142.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607922545190765142.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-607922545190765142.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-607922545190765142.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607922545190765142.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-607922545190765142.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-607922545190765142.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607922545190765142.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607922545190765142.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607922545190765142.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607922545190765142.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607922545190765142.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607922545190765142.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607922545190765142.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-607922545190765142.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607922545190765142.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607922545190765142.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607922545190765142.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-607922545190765142.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607922545190765142.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607922545190765142.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607922545190765142.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607922545190765142.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607922545190765142.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-607922545190765142.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-607922545190765142.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-607922545190765142.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607922545190765142.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607922545190765142.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607922545190765142.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607922545190765142.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607922545190765142.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607922545190765142.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607922545190765142.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607922545190765142.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607922545190765142.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607922545190765142.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607922545190765142.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-607922545190765142.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607922545190765142.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607922545190765142.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607922545190765142.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-607922545190765142.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607922545190765142.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607922545190765142.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-607922545190765142.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607922545190765142.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607922545190765142.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607922545190765142.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607922545190765142.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607922545190765142.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-607922545190765142.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607922545190765142.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607922545190765142.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-607922545190765142.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607922545190765142.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607922545190765142.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-607922545190765142.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607922545190765142.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607922545190765142.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-607922545190765142.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-607922545190765142.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-607922545190765142.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607922545190765142.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607922545190765142.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607922545190765142.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607922545190765142.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607922545190765142.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-607922545190765142.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607922545190765142.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607922545190765142 .gp-relative{position:relative}.gps-607922545190765142 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607922545190765142 .gp-mb-0{margin-bottom:0}.gps-607922545190765142 .gp-inline-block{display:inline-block}.gps-607922545190765142 .gp-flex{display:flex}.gps-607922545190765142 .gp-inline-flex{display:inline-flex}.gps-607922545190765142 .gp-grid{display:grid}.gps-607922545190765142 .gp-contents{display:contents}.gps-607922545190765142 .\!gp-hidden{display:none!important}.gps-607922545190765142 .gp-hidden{display:none}.gps-607922545190765142 .gp-h-auto{height:auto}.gps-607922545190765142 .gp-h-full{height:100%}.gps-607922545190765142 .gp-w-full{width:100%}.gps-607922545190765142 .gp-max-w-full{max-width:100%}.gps-607922545190765142 .gp-flex-none{flex:none}.gps-607922545190765142 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607922545190765142 .gp-flex-col{flex-direction:column}.gps-607922545190765142 .gp-items-center{align-items:center}.gps-607922545190765142 .gp-justify-center{justify-content:center}.gps-607922545190765142 .gp-overflow-hidden{overflow:hidden}.gps-607922545190765142 .gp-break-words{overflow-wrap:break-word}.gps-607922545190765142 .gp-text-center{text-align:center}.gps-607922545190765142 .gp-leading-\[0\]{line-height:0}.gps-607922545190765142 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-607922545190765142 .gp-no-underline{text-decoration-line:none}.gps-607922545190765142 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607922545190765142 .gp-duration-200{transition-duration:.2s}.gps-607922545190765142 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607922545190765142 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-607922545190765142 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-607922545190765142 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-607922545190765142 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-607922545190765142 .tablet\:\!gp-hidden{display:none!important}.gps-607922545190765142 .tablet\:gp-hidden{display:none}.gps-607922545190765142 .tablet\:gp-h-auto{height:auto}.gps-607922545190765142 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-607922545190765142 .mobile\:\!gp-hidden{display:none!important}.gps-607922545190765142 .mobile\:gp-hidden{display:none}.gps-607922545190765142 .mobile\:gp-h-auto{height:auto}.gps-607922545190765142 .mobile\:gp-flex-none{flex:none}}.gps-607922545190765142 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-607922545190765142 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-607922545190765142 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-607922545190765142 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-607922545190765142 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-607922545190765142 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF7F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gqxVMaCuXS"}' data-id="gqxVMaCuXS" id="gqxVMaCuXS" data-same-height-subgrid-container class="gqxVMaCuXS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:15px;--pb:80px;--pr:15px;--pt-mobile:72px;--pl-mobile:20px;--pb-mobile:72px;--pr-mobile:20px;--pt-tablet:80px;--pl-tablet:15px;--pb-tablet:80px;--pr-tablet:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFF7F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNAawoKAYe gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g0KDyMUkoT"}' data-id="g0KDyMUkoT" id="g0KDyMUkoT" data-same-height-subgrid-container class="g0KDyMUkoT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:14px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtFAkTgh_C gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"triggerAnimationOption":"once","zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_ZCrCciBj"
        class="g_ZCrCciBj"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:32px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_ZCrCciBj_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"triggerAnimationOption":"once","zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Text","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gg_jjpc02m"
        class="gg_jjpc02m"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:14px;--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggg_jjpc02m_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gg_jjpc02m">
        .gg_jjpc02m {

}
.gg_jjpc02m p {

}
      </style>
    </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"triggerAnimationOption":"once","zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Row","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-6AVS3FiS"}' data-id="g-6AVS3FiS" id="g-6AVS3FiS" data-same-height-subgrid-container class="g-6AVS3FiS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:10px;--btrr:10px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:790px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="ggxxXUt944 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHWlxHFYwc"
        class="gHWlxHFYwc"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:48px;--pr:48px;--pl-tablet:14px;--pr-tablet:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:19px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHWlxHFYwc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gHWlxHFYwc">
        .gHWlxHFYwc {

}
.gHWlxHFYwc p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gD9P-Z_dNl gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E5C185","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gPcaxp5LGB"}' data-id="gPcaxp5LGB" id="gPcaxp5LGB" data-same-height-subgrid-container class="gPcaxp5LGB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#FFFFFF;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:26px;--pb:26px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#E5C185;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g4jMxgkiMM gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gTfVQ6EqCC"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1771879707935 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gTfVQ6EqCC"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "revive-logo-light.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNjAtNjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM2MCIgaGVpZ2h0PSI2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjY0IiBmaWxsPSJ1cmwoI2ctMzYwLTY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzYwIiB0bz0iMzYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "revive-logo-light.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNjAtNjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM2MCIgaGVpZ2h0PSI2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjY0IiBmaWxsPSJ1cmwoI2ctMzYwLTY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzYwIiB0bz0iMzYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "revive-logo-light.webp" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNjAtNjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM2MCIgaGVpZ2h0PSI2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjY0IiBmaWxsPSJ1cmwoI2ctMzYwLTY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzYwIiB0bz0iMzYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "revive-logo-light.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect-mobile:auto;--objf:cover;--w:115px;--w-tablet:115px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gTfVQ6EqCC">
        .gTfVQ6EqCC {

}
.gTfVQ6EqCC > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gyS48wMjr7 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbHWgpIXEc"
        class="gbHWgpIXEc"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:12px;--pr:12px;--pl-tablet:10px;--pr-tablet:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbHWgpIXEc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gbHWgpIXEc">
        .gbHWgpIXEc {

}
.gbHWgpIXEc p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7,"triggerAnimationOption":"once"},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Row","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWBPdoLDdO"}' data-id="gWBPdoLDdO" id="gWBPdoLDdO" data-same-height-subgrid-container class="gWBPdoLDdO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:790px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gZGD5FcRYg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gN__rXjUN4"}' data-id="gN__rXjUN4" id="gN__rXjUN4" data-same-height-subgrid-container class="gN__rXjUN4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gltQKx22Ia gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gBJ4_5x0fW" class="gp-leading-[0] gBJ4_5x0fW" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left">
      <div data-id="gBJ4_5x0fW" class="icon-wrapper gp-inline-flex gp-overflow-hidden gBJ4_5x0fW " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-name="Ellipse 1.svg" data-id="593076554037199849" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
<circle cx="5" cy="5" r="5" fill="#97C6F7"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g8dBaGscpH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gj_KTBdvb6"
        class="gj_KTBdvb6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggj_KTBdvb6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gj_KTBdvb6">
        .gj_KTBdvb6 {

}
.gj_KTBdvb6 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gKPI8DGVA7 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E5C185","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpH2ERWF9b"}' data-id="gpH2ERWF9b" id="gpH2ERWF9b" data-same-height-subgrid-container class="gpH2ERWF9b gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#FFFFFF;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:26px;--pb:26px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#E5C185;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggPN_fVttb gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gwumTyG8ak" class="gp-leading-[0] gwumTyG8ak" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gwumTyG8ak" class="icon-wrapper gp-inline-flex gp-overflow-hidden gwumTyG8ak " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--bg:#00000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:26px;--w-mobile:22px;--h:26px;--h-mobile:22px;--minw:26px;--minw-mobile:22px;--height-desktop:26px;--height-tablet:26px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-name="Frame 133.svg" data-id="593076856664621736" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
<rect width="21" height="21" rx="10.5" fill="white"/>
<path d="M14.2153 6.71553C14.3913 6.5479 14.6257 6.45522 14.8688 6.45706C15.1119 6.4589 15.3448 6.55511 15.5183 6.72539C15.6918 6.89568 15.7924 7.12672 15.7989 7.36975C15.8053 7.61279 15.717 7.84882 15.5528 8.02803L10.5653 14.2655C10.4795 14.3579 10.376 14.432 10.2609 14.4835C10.1459 14.5349 10.0216 14.5627 9.89557 14.565C9.76955 14.5673 9.64435 14.5442 9.52746 14.4971C9.41056 14.4499 9.30438 14.3797 9.21526 14.2905L5.90776 10.983C5.81565 10.8972 5.74177 10.7937 5.69053 10.6787C5.63929 10.5637 5.61174 10.4396 5.60952 10.3137C5.6073 10.1878 5.63046 10.0628 5.67761 9.94604C5.72476 9.8293 5.79494 9.72326 5.88396 9.63424C5.97299 9.54521 6.07903 9.47503 6.19576 9.42788C6.3125 9.38073 6.43754 9.35757 6.56341 9.3598C6.68929 9.36202 6.81343 9.38957 6.92843 9.44081C7.04343 9.49205 7.14693 9.56593 7.23276 9.65803L9.85026 12.2743L14.1915 6.74304C14.1993 6.73341 14.2077 6.72423 14.2165 6.71553H14.2153Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gh6DIb9QFk gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gDCUwc7pTb" class="gp-leading-[0] gDCUwc7pTb" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gDCUwc7pTb" class="icon-wrapper gp-inline-flex gp-overflow-hidden gDCUwc7pTb " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--bg:#00000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:26px;--w-mobile:22px;--h:26px;--h-mobile:22px;--minw:26px;--minw-mobile:22px;--height-desktop:26px;--height-tablet:26px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714163024232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"right","distance":"50","easing":"ease-out","isCustomDistance":false,"speed":1.7,"triggerAnimationOption":"once"},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Row","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2GXhVcZq6"}' data-id="g2GXhVcZq6" id="g2GXhVcZq6" data-same-height-subgrid-container class="g2GXhVcZq6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:790px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gDMH6xLKQ1 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g3g8qVF5ao"}' data-id="g3g8qVF5ao" id="g3g8qVF5ao" data-same-height-subgrid-container class="g3g8qVF5ao gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g7Ywq4m985 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gpDBSan9fy" class="gp-leading-[0] gpDBSan9fy" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left">
      <div data-id="gpDBSan9fy" class="icon-wrapper gp-inline-flex gp-overflow-hidden gpDBSan9fy " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-name="Ellipse 1.svg" data-id="593076554037199849" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
<circle cx="5" cy="5" r="5" fill="#97C6F7"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g20tcqEGja gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkodcflwJI"
        class="gkodcflwJI"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkodcflwJI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gkodcflwJI">
        .gkodcflwJI {

}
.gkodcflwJI p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g8vobHtzjc gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E5C185","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gJm_GFzxts"}' data-id="gJm_GFzxts" id="gJm_GFzxts" data-same-height-subgrid-container class="gJm_GFzxts gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#FFFFFF;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:26px;--pb:26px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#E5C185;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guVJ52mq_Z gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gJMBLm3SLF" class="gp-leading-[0] gJMBLm3SLF" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gJMBLm3SLF" class="icon-wrapper gp-inline-flex gp-overflow-hidden gJMBLm3SLF " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--bg:#00000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:26px;--w-mobile:22px;--h:26px;--h-mobile:22px;--minw:26px;--minw-mobile:22px;--height-desktop:26px;--height-tablet:26px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-name="Frame 133.svg" data-id="593076856664621736" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
<rect width="21" height="21" rx="10.5" fill="white"/>
<path d="M14.2153 6.71553C14.3913 6.5479 14.6257 6.45522 14.8688 6.45706C15.1119 6.4589 15.3448 6.55511 15.5183 6.72539C15.6918 6.89568 15.7924 7.12672 15.7989 7.36975C15.8053 7.61279 15.717 7.84882 15.5528 8.02803L10.5653 14.2655C10.4795 14.3579 10.376 14.432 10.2609 14.4835C10.1459 14.5349 10.0216 14.5627 9.89557 14.565C9.76955 14.5673 9.64435 14.5442 9.52746 14.4971C9.41056 14.4499 9.30438 14.3797 9.21526 14.2905L5.90776 10.983C5.81565 10.8972 5.74177 10.7937 5.69053 10.6787C5.63929 10.5637 5.61174 10.4396 5.60952 10.3137C5.6073 10.1878 5.63046 10.0628 5.67761 9.94604C5.72476 9.8293 5.79494 9.72326 5.88396 9.63424C5.97299 9.54521 6.07903 9.47503 6.19576 9.42788C6.3125 9.38073 6.43754 9.35757 6.56341 9.3598C6.68929 9.36202 6.81343 9.38957 6.92843 9.44081C7.04343 9.49205 7.14693 9.56593 7.23276 9.65803L9.85026 12.2743L14.1915 6.74304C14.1993 6.73341 14.2077 6.72423 14.2165 6.71553H14.2153Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g8k9pnF_Tc gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gsYBgwB5xG" class="gp-leading-[0] gsYBgwB5xG" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gsYBgwB5xG" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsYBgwB5xG " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--bg:#00000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:26px;--w-mobile:22px;--h:26px;--h-mobile:22px;--minw:26px;--minw-mobile:22px;--height-desktop:26px;--height-tablet:26px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714163024232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7,"triggerAnimationOption":"once"},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Row","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g9GZgyHgZq"}' data-id="g9GZgyHgZq" id="g9GZgyHgZq" data-same-height-subgrid-container class="g9GZgyHgZq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:790px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g_Sld5s3It gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gk6-eFtQKa"}' data-id="gk6-eFtQKa" id="gk6-eFtQKa" data-same-height-subgrid-container class="gk6-eFtQKa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gjftZeVGpm gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g8S9yV_13g" class="gp-leading-[0] g8S9yV_13g" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left">
      <div data-id="g8S9yV_13g" class="icon-wrapper gp-inline-flex gp-overflow-hidden g8S9yV_13g " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-name="Ellipse 1.svg" data-id="593076554037199849" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
<circle cx="5" cy="5" r="5" fill="#97C6F7"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gNdOldGvOQ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnujdB5VP9"
        class="gnujdB5VP9"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnujdB5VP9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gnujdB5VP9">
        .gnujdB5VP9 {

}
.gnujdB5VP9 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gbBxjyKSUh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E5C185","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAQvHqWRoP"}' data-id="gAQvHqWRoP" id="gAQvHqWRoP" data-same-height-subgrid-container class="gAQvHqWRoP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#FFFFFF;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:26px;--pb:26px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#E5C185;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUmusehuaH gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g4ZNRXI2d7" class="gp-leading-[0] g4ZNRXI2d7" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="g4ZNRXI2d7" class="icon-wrapper gp-inline-flex gp-overflow-hidden g4ZNRXI2d7 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--bg:#00000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:26px;--w-mobile:22px;--h:26px;--h-mobile:22px;--minw:26px;--minw-mobile:22px;--height-desktop:26px;--height-tablet:26px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-name="Frame 133.svg" data-id="593076856664621736" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
<rect width="21" height="21" rx="10.5" fill="white"/>
<path d="M14.2153 6.71553C14.3913 6.5479 14.6257 6.45522 14.8688 6.45706C15.1119 6.4589 15.3448 6.55511 15.5183 6.72539C15.6918 6.89568 15.7924 7.12672 15.7989 7.36975C15.8053 7.61279 15.717 7.84882 15.5528 8.02803L10.5653 14.2655C10.4795 14.3579 10.376 14.432 10.2609 14.4835C10.1459 14.5349 10.0216 14.5627 9.89557 14.565C9.76955 14.5673 9.64435 14.5442 9.52746 14.4971C9.41056 14.4499 9.30438 14.3797 9.21526 14.2905L5.90776 10.983C5.81565 10.8972 5.74177 10.7937 5.69053 10.6787C5.63929 10.5637 5.61174 10.4396 5.60952 10.3137C5.6073 10.1878 5.63046 10.0628 5.67761 9.94604C5.72476 9.8293 5.79494 9.72326 5.88396 9.63424C5.97299 9.54521 6.07903 9.47503 6.19576 9.42788C6.3125 9.38073 6.43754 9.35757 6.56341 9.3598C6.68929 9.36202 6.81343 9.38957 6.92843 9.44081C7.04343 9.49205 7.14693 9.56593 7.23276 9.65803L9.85026 12.2743L14.1915 6.74304C14.1993 6.73341 14.2077 6.72423 14.2165 6.71553H14.2153Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gS_1rHC8b1 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gHKG6lxHYI" class="gp-leading-[0] gHKG6lxHYI" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gHKG6lxHYI" class="icon-wrapper gp-inline-flex gp-overflow-hidden gHKG6lxHYI " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--bg:#00000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:26px;--w-mobile:22px;--h:26px;--h-mobile:22px;--minw:26px;--minw-mobile:22px;--height-desktop:26px;--height-tablet:26px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714163024232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"right","distance":"50","easing":"ease-out","isCustomDistance":false,"speed":1.7,"triggerAnimationOption":"once"},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Row","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gC46uFIVa9"}' data-id="gC46uFIVa9" id="gC46uFIVa9" data-same-height-subgrid-container class="gC46uFIVa9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:790px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g_A9Me8KDh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gwoCJI6DpO"}' data-id="gwoCJI6DpO" id="gwoCJI6DpO" data-same-height-subgrid-container class="gwoCJI6DpO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="girRMHCaYD gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g9ZGnAvC0c" class="gp-leading-[0] g9ZGnAvC0c" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="g9ZGnAvC0c" class="icon-wrapper gp-inline-flex gp-overflow-hidden g9ZGnAvC0c " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-name="Ellipse 1.svg" data-id="593076554037199849" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
<circle cx="5" cy="5" r="5" fill="#97C6F7"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gT6_Id3_Ui gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gI4T5YRnTa"
        class="gI4T5YRnTa"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggI4T5YRnTa_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gI4T5YRnTa">
        .gI4T5YRnTa {

}
.gI4T5YRnTa p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gkJqWu5vpO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E5C185","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8Ei3nviB-"}' data-id="g8Ei3nviB-" id="g8Ei3nviB-" data-same-height-subgrid-container class="g8Ei3nviB- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#FFFFFF;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:26px;--pb:26px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#E5C185;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnI8xgpIxG gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gIBZPIf4XD" class="gp-leading-[0] gIBZPIf4XD" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gIBZPIf4XD" class="icon-wrapper gp-inline-flex gp-overflow-hidden gIBZPIf4XD " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--bg:#00000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:26px;--w-mobile:22px;--h:26px;--h-mobile:22px;--minw:26px;--minw-mobile:22px;--height-desktop:26px;--height-tablet:26px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-name="Frame 133.svg" data-id="593076856664621736" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
<rect width="21" height="21" rx="10.5" fill="white"/>
<path d="M14.2153 6.71553C14.3913 6.5479 14.6257 6.45522 14.8688 6.45706C15.1119 6.4589 15.3448 6.55511 15.5183 6.72539C15.6918 6.89568 15.7924 7.12672 15.7989 7.36975C15.8053 7.61279 15.717 7.84882 15.5528 8.02803L10.5653 14.2655C10.4795 14.3579 10.376 14.432 10.2609 14.4835C10.1459 14.5349 10.0216 14.5627 9.89557 14.565C9.76955 14.5673 9.64435 14.5442 9.52746 14.4971C9.41056 14.4499 9.30438 14.3797 9.21526 14.2905L5.90776 10.983C5.81565 10.8972 5.74177 10.7937 5.69053 10.6787C5.63929 10.5637 5.61174 10.4396 5.60952 10.3137C5.6073 10.1878 5.63046 10.0628 5.67761 9.94604C5.72476 9.8293 5.79494 9.72326 5.88396 9.63424C5.97299 9.54521 6.07903 9.47503 6.19576 9.42788C6.3125 9.38073 6.43754 9.35757 6.56341 9.3598C6.68929 9.36202 6.81343 9.38957 6.92843 9.44081C7.04343 9.49205 7.14693 9.56593 7.23276 9.65803L9.85026 12.2743L14.1915 6.74304C14.1993 6.73341 14.2077 6.72423 14.2165 6.71553H14.2153Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gl6vVaxDyN gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g7uJJ4DoLa" class="gp-leading-[0] g7uJJ4DoLa" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="g7uJJ4DoLa" class="icon-wrapper gp-inline-flex gp-overflow-hidden g7uJJ4DoLa " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--bg:#00000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:26px;--w-mobile:22px;--h:26px;--h-mobile:22px;--minw:26px;--minw-mobile:22px;--height-desktop:26px;--height-tablet:26px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714163024232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7,"triggerAnimationOption":"once"},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Row","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gz4570vE_P"}' data-id="gz4570vE_P" id="gz4570vE_P" data-same-height-subgrid-container class="gz4570vE_P gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--mb:48px;--mb-mobile:28px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:790px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gxNoT_UvXG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFhmW3jlxf"}' data-id="gFhmW3jlxf" id="gFhmW3jlxf" data-same-height-subgrid-container class="gFhmW3jlxf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gzl41ipxN0 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g-nM6fah-6" class="gp-leading-[0] g-nM6fah-6" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="g-nM6fah-6" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-nM6fah-6 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-name="Ellipse 1.svg" data-id="593076554037199849" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
<circle cx="5" cy="5" r="5" fill="#97C6F7"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gyhBB91bBL gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gt-GVn-mOc"
        class="gt-GVn-mOc"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggt-GVn-mOc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gt-GVn-mOc">
        .gt-GVn-mOc {

}
.gt-GVn-mOc p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gQgkwWroIb gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E5C185","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gb2CodD7hQ"}' data-id="gb2CodD7hQ" id="gb2CodD7hQ" data-same-height-subgrid-container class="gb2CodD7hQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#FFFFFF;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:26px;--pb:26px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#E5C185;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUgU_nIC2P gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gG9MyLJIEA" class="gp-leading-[0] gG9MyLJIEA" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gG9MyLJIEA" class="icon-wrapper gp-inline-flex gp-overflow-hidden gG9MyLJIEA " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--bg:#00000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:26px;--w-mobile:22px;--h:26px;--h-mobile:22px;--minw:26px;--minw-mobile:22px;--height-desktop:26px;--height-tablet:26px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-name="Frame 133.svg" data-id="593076856664621736" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
<rect width="21" height="21" rx="10.5" fill="white"/>
<path d="M14.2153 6.71553C14.3913 6.5479 14.6257 6.45522 14.8688 6.45706C15.1119 6.4589 15.3448 6.55511 15.5183 6.72539C15.6918 6.89568 15.7924 7.12672 15.7989 7.36975C15.8053 7.61279 15.717 7.84882 15.5528 8.02803L10.5653 14.2655C10.4795 14.3579 10.376 14.432 10.2609 14.4835C10.1459 14.5349 10.0216 14.5627 9.89557 14.565C9.76955 14.5673 9.64435 14.5442 9.52746 14.4971C9.41056 14.4499 9.30438 14.3797 9.21526 14.2905L5.90776 10.983C5.81565 10.8972 5.74177 10.7937 5.69053 10.6787C5.63929 10.5637 5.61174 10.4396 5.60952 10.3137C5.6073 10.1878 5.63046 10.0628 5.67761 9.94604C5.72476 9.8293 5.79494 9.72326 5.88396 9.63424C5.97299 9.54521 6.07903 9.47503 6.19576 9.42788C6.3125 9.38073 6.43754 9.35757 6.56341 9.3598C6.68929 9.36202 6.81343 9.38957 6.92843 9.44081C7.04343 9.49205 7.14693 9.56593 7.23276 9.65803L9.85026 12.2743L14.1915 6.74304C14.1993 6.73341 14.2077 6.72423 14.2165 6.71553H14.2153Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gFm1jWcJVg gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gA_D6tVLBP" class="gp-leading-[0] gA_D6tVLBP" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gA_D6tVLBP" class="icon-wrapper gp-inline-flex gp-overflow-hidden gA_D6tVLBP " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px;--bg:#00000000">
      
        <div >
          <span style="--c:#242424;--t:rotate(0deg);--w:26px;--w-mobile:22px;--h:26px;--h-mobile:22px;--minw:26px;--minw-mobile:22px;--height-desktop:26px;--height-tablet:26px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714163024232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIHSus2AbH"}' data-id="gIHSus2AbH" id="gIHSus2AbH" data-same-height-subgrid-container class="gIHSus2AbH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRGzufjlRX gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"triggerAnimationOption":"once","zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Button","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    <gp-button
      gp-data='{"btnLink":{"link":"/pages/r1-no-support","selectedTab":"products","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--ml-mobile:0px;--mb-mobile:16px;--pl-mobile:0px;--ta:center" >
        <style>[data-id="gjqjN2DPT0"].gp-button-base::before, [data-id="gjqjN2DPT0-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
  
    }
  
      
  [data-id="gjqjN2DPT0"]:hover::before, [data-id="gjqjN2DPT0-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gjqjN2DPT0" dataId="gjqjN2DPT0" data-state="idle" aria-label="<p>BUY REVIV&nbsp;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/pages/r1-no-support" target="_self"
          style="--w:191px;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:40px;--pr:40px;--pt:16px;--pb:16px;--pl-tablet:64px;--pr-tablet:64px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:16px;--pb-mobile:16px;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--hvr-bblr:100px;--hvr-bbrr:100px;--hvr-btlr:100px;--hvr-btrr:100px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#3D50FF;--bg:#E5C185;--c:#151515;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal"
          class="gjqjN2DPT0 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggjqjN2DPT0_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 22",
    "tag": "section",
    "class": "gps-607922545190765142 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607922545089315414&sectionId=607922545190765142)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg_ZCrCciBj_text","label":"gg_ZCrCciBj_text","default":"How Reviv Supports TMJ Better"},{"type":"html","id":"ggg_jjpc02m_text","label":"ggg_jjpc02m_text","default":"<p>We redefine everyday comfort with details others often overlook.</p>"},{"type":"html","id":"ggHWlxHFYwc_text","label":"ggHWlxHFYwc_text","default":"<p><strong>Designed for Real Jaw Health</strong></p>"},{"type":"html","id":"ggbHWgpIXEc_text","label":"ggbHWgpIXEc_text","default":"<p>Others</p>"},{"type":"html","id":"ggj_KTBdvb6_text","label":"ggj_KTBdvb6_text","default":"<p>Promotes natural jaw alignment</p>"},{"type":"html","id":"ggkodcflwJI_text","label":"ggkodcflwJI_text","default":"<p>Relieves pressure in the jaw area.</p>"},{"type":"html","id":"ggnujdB5VP9_text","label":"ggnujdB5VP9_text","default":"<p>Shields teeth from nighttime grinding.</p>"},{"type":"html","id":"ggI4T5YRnTa_text","label":"ggI4T5YRnTa_text","default":"<p>Comfortable for nightly wear</p>"},{"type":"html","id":"ggt-GVn-mOc_text","label":"ggt-GVn-mOc_text","default":"<p>Designed for long-term use</p>"},{"type":"html","id":"ggjqjN2DPT0_label","label":"ggjqjN2DPT0_label","default":"<p>BUY REVIV&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}