
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609365404019590035.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609365404019590035.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609365404019590035.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609365404019590035.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609365404019590035.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609365404019590035.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609365404019590035.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609365404019590035.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609365404019590035.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609365404019590035.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609365404019590035.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609365404019590035.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609365404019590035.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609365404019590035.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609365404019590035.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609365404019590035.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609365404019590035.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609365404019590035.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609365404019590035.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609365404019590035.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609365404019590035.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609365404019590035.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609365404019590035.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609365404019590035.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609365404019590035.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609365404019590035.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609365404019590035.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609365404019590035.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609365404019590035.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609365404019590035.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609365404019590035.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609365404019590035.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609365404019590035.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609365404019590035.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609365404019590035.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609365404019590035.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609365404019590035.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609365404019590035.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609365404019590035.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609365404019590035.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609365404019590035.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609365404019590035.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609365404019590035.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609365404019590035.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-609365404019590035.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609365404019590035.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609365404019590035.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609365404019590035.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609365404019590035.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609365404019590035.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609365404019590035.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609365404019590035.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609365404019590035.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609365404019590035.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609365404019590035.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-609365404019590035.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-609365404019590035.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609365404019590035.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609365404019590035.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609365404019590035.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609365404019590035.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609365404019590035.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609365404019590035.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609365404019590035.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609365404019590035.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609365404019590035.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609365404019590035.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609365404019590035.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-609365404019590035.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609365404019590035.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-609365404019590035.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609365404019590035.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609365404019590035 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-609365404019590035 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-609365404019590035 .gp-relative{position:relative}.gps-609365404019590035 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609365404019590035 .gp-mb-0{margin-bottom:0}.gps-609365404019590035 .gp-flex{display:flex}.gps-609365404019590035 .gp-grid{display:grid}.gps-609365404019590035 .\!gp-hidden{display:none!important}.gps-609365404019590035 .gp-hidden{display:none}.gps-609365404019590035 .gp-max-w-full{max-width:100%}.gps-609365404019590035 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609365404019590035 .gp-flex-col{flex-direction:column}.gps-609365404019590035 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609365404019590035 .gp-duration-200{transition-duration:.2s}.gps-609365404019590035 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609365404019590035 .tablet\:\!gp-hidden{display:none!important}.gps-609365404019590035 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-609365404019590035 .mobile\:\!gp-hidden{display:none!important}.gps-609365404019590035 .mobile\:gp-hidden{display:none}}.gps-609365404019590035 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#242424","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gwuWy_SSZo"}' data-id="gwuWy_SSZo" id="gwuWy_SSZo" data-same-height-subgrid-container class="gwuWy_SSZo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjmv4APMzU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8v6-c18Ha"
        class="g8v6-c18Ha"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:65px;--mt-tablet:65px;--mt-mobile:var(--g-s-2xl);--ml-mobile:-2px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--size:40px;--size-tablet:46px;--size-mobile:26px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8v6-c18Ha_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guuMSZBauY"
        class="guuMSZBauY"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--ml:-15px;--mt-tablet:10px;--ml-tablet:-15px;--mt-mobile:-1px;--ml-mobile:-1px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:13px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguuMSZBauY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gEBe3IqK-5"}' data-id="gEBe3IqK-5" id="gEBe3IqK-5" data-same-height-subgrid-container class="gEBe3IqK-5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:29px;--mt-tablet:29px;--mt-mobile:29px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gk3snn8Tx9 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false,"triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"CSSCode","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mt:9px;--mt-tablet:9px;--mt-mobile:9px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gwJ5VVRFKR gp-custom-code">
      <div>
    <style>
  .testimonial-card {
    background-color: #E6C28A !important; 
    max-width: 420px;
    padding: 40px;
    border-radius: 4px;
    margin: 5px auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    height: 300px; 
    width: 400px;  
    float: right;  
  }

  .quote-icon {
    font-size: 60px;
    line-height: 0.8;
    color: #000000;
    margin-bottom: 5px;
    font-family: Georgia, serif;
  }

  .testimonial-text {
    color: #000000;
    font-size: 12px !important;
    line-height: 1.5;
    margin-bottom: 25px;
    font-weight: 400;
    text-align: left; 
  }

  .testimonial-footer {
    display: flex;
    align-items: center;
  }

  .author-name {
    color: #000000;
    font-size: 14px !important;
    font-family: Georgia, serif;
    font-weight: 600;
  }


  @media (max-width: 480px) {
    .testimonial-card {
      float: none !important;     
      width: 95% !important;       
      max-width: 100% !important;
      height: auto !important;    
      padding: 25px !important;    
      margin: 10px auto !important;
    }
    
    .testimonial-text {
      font-size: 13px !important;
    }
  }
</style>

<div class="testimonial-card">
  <div class="quote-icon">“</div>
  
  <div class="testimonial-text">
    After wear reviv I fixed my facial assimetry I used to show only my left side of the face in the pictures because of it, it was like down dropping almost like I was not using the muscles of the right side and with the reviv I started noticing changes within a couple of weeks. it’s really insane and the best has yet to come
  </div>

  <div class="testimonial-footer">
    <div class="author-name">Reined</div>
  </div>
</div>
    </div>
    </div>
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gFqLEqh6wM gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"right","isCustomDistance":false,"distance":"50","triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"CSSCode","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mt:9px;--mb:0px;--mt-tablet:9px;--mb-tablet:0px;--mt-mobile:9px;--mb-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g2b8XoZY9B gp-custom-code">
      <div>
    <style>
  .testimonial-card2 {
    background-color: #E6C28A !important; 
    max-width: 420px;
    padding: 40px;
    border-radius: 4px;
    margin: 20px auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    height: 300px;
    width: 400px;
    float: left;
  }

  .quote-icon {
    font-size: 60px;
    line-height: 0.8;
    color: #000000;
    margin-bottom: 5px;
    font-family: Georgia, serif;
  }

  .testimonial-text {
    color: #000000;
    font-size: 13px !important; 
    line-height: 1.4;
    margin-bottom: 15px;
    font-weight: 400;
  }

  .testimonial-footer {
    display: flex;
    align-items: center;
  }

  .author-name {
    color: #000000;
    font-size: 19px;
    font-family: Georgia, serif;
    font-weight: 600;
  }

  
  @media (max-width: 480px) {
    .testimonial-card2 {
      float: none !important;
      width: 95% !important;
      max-width: 100% !important;
      height: auto !important;
      padding: 25px !important;
      margin: 10px auto !important;
    }
  }
</style>

<div class="testimonial-card2">
  <div class="quote-icon">“</div>
  
  <div class="testimonial-text">
    So right from the start the idea of inflating my skull into a smooth round skull sounded absolutely ridiculous, but the logic added up. I've always had a smaller head. 7 1/8 hat size. My skull had indentations all across the top. I have been inspecting my skull with my fingers daily. Gently moving fingertops around feeling for the indentations and, now entering my 6th month, My face appears smoother and more balanced. It is friggin insane.
  </div>

  <div class="testimonial-footer">
    <div class="author-name">Jason</div>
  </div>
</div>
    </div>
    </div>
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gFnGewSBEH"}' data-id="gFnGewSBEH" id="gFnGewSBEH" data-same-height-subgrid-container class="gFnGewSBEH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsuFWKG61l gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false,"triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"CSSCode","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mt:0px;--mt-tablet:0px;--mt-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gHuQLGPmjC gp-custom-code">
      <div>
    <style>
  .testimonial-card {
    background-color: #E6C28A !important; 
    max-width: 420px;
    padding: 40px;
    border-radius: 4px;
    margin: 5px auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    height: 350px;
    width: 400px;
    float: right;
  }

  .quote-icon {
    font-size: 60px;
    line-height: 0.8;
    color: #000000;
    margin-bottom: 5px;
    font-family: Georgia, serif;
  }

  .testimonial-text {
    color: #000000;
    font-size: 16px; 
    line-height: 1.5;
    margin-bottom: 25px;
    font-weight: 400;
  }

  .testimonial-footer {
    display: flex;
    align-items: center;
  }

  .author-image {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 12px;
    overflow: hidden;
  }

  .author-name {
    color: #000000;
    font-size: 19px;
    font-family: Georgia, serif;
    font-weight: 600;
  }
</style>

<div class="testimonial-card">
  <div class="quote-icon">“</div>
  
  <div class="testimonial-text">
   My facial structure looks fuller. Midface better and overall the skull face. Posture also more aligned. This is the solution i searched for for years
  </div>

  <div class="testimonial-footer">
    
    <div class="author-name">Alphonso</div>
  </div>
</div>
    </div>
    </div>
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g94OXN731I gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"right","isCustomDistance":false,"distance":"50","triggerAnimationOption":"once"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"CSSCode","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mt:0px;--pt:0px;--mt-tablet:0px;--pt-tablet:0px;--mt-mobile:0px;--pt-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gA7vLhiay1 gp-custom-code">
      <div>
    <style>
  .testimonial-card2 {
    background-color: #E6C28A !important;
    max-width: 420px;
    padding: 40px;
    border-radius: 4px;
    margin: 5px auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    height: 350px;
    width: 400px;
    float: left;
  }

  .quote-icon {
    font-size: 60px; 
    line-height: 0.8;
    color: #000000;
    margin-bottom: 5px;
    font-family: Georgia, serif;
  }

  .testimonial-text {
    color: #000000;
    font-size: 16px; 
    line-height: 1.5;
    margin-bottom: 25px;
    font-weight: 400;
  }

  .testimonial-footer {
    display: flex;
    align-items: center;
  }

  .author-image {
    width: 50px; 
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 12px;
    overflow: hidden;
  }

  .author-name {
    color: #000000;
    font-size: 19px;
    font-family: Georgia, serif;
    font-weight: 600;
  }
</style>

<div class="testimonial-card2">
  <div class="quote-icon">“</div>
  
  <div class="testimonial-text">
  I look like I got cheekbone filler... Yesterday I was driving and caught sight of myself in the rearview mirror and my less-prominent left cheekbone looked like I'd put filler in it! The shape was noticeably more prominent. Or maybe I'm delusional and it's the placebo effect? :) Already also feel my droopy left eyebrow has been raised to where it should be. I've only been doing this for maybe 2-3 weeks but this makes me happy and I'm feeling more confident, so had to share.
  </div>

  <div class="testimonial-footer">
    
    <div class="author-name">Eva H</div>
  </div>
</div>
    </div>
    </div>
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-609365404019590035 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609289553286529608&sectionId=609365404019590035)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8v6-c18Ha_text","label":"gg8v6-c18Ha_text","default":"What should I expect from doing Reviv&nbsp;"},{"type":"html","id":"gguuMSZBauY_text","label":"gguuMSZBauY_text","default":"<p>Transformation happens over time, not overnight</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}